<template>
	<view class="container page-view" :style="{ paddingTop: paddingTop }">
		<navbar class='navbar' bg='#334383'>
			<template slot='left'>
				<u-icon name='arrow-left' @click='$back' color='#fff'></u-icon>
			</template>
			<template slot='center'>
				余额宝
			</template>
			<!-- <template slot='right'>
				<image @click='goQIandao' src="@/static/my/yuebao/yuezhangdan.png" mode="aspectFit"></image>
			</template> -->
		</navbar>
		<view class="top-bg"></view>

		<view class="header">
			<view class="total flex-r">
				总资产 (元)
				<image v-if='showMoney' src="@/static/invest/detail/yanjing.png" @click="showMoney = false"
					mode="aspectFit" />
				<image v-else src="@/static/invest/detail/yanjing2.png" @click="showMoney = true" mode="aspectFit">
				</image>
			</view>
			<view class="day">
				<text v-if='showMoney'>￥</text>{{ showMoney ? user.yuamount || '0' : '******' }}
			</view>
			<view class="datas">
				<view class="lj">
					<view class="desc">累计收益（元）</view>
					<view class="num" style='color:#E7C19F;'>
						{{ showMoney ? leiji ? leiji : '0' : '******' }}
					</view>
				</view>
				<view class="lj">
					<view class="desc">今日收益（元）</view>
					<view class="num">
						{{ showMoney ? yuamountDetail.dayyuemoneys || '0' : '******' }}
					</view>
				</view>
				<view class="lj">
					<view class="desc">日化率（%）</view>
					<view class="num">
						{{ showMoney ? yuamountDetail.yuBaoLvW / 100 || '0' : '******' }}
					</view>
				</view>
			</view>

		</view>

		<view class="middle">
			<view class="btn" :class="selectedBtn == 1 ? 'selectedBtn' : ''" @click="tab(1)">
				转入
			</view>
			<view class="btn btn1" :class="selectedBtn == 2 ? 'selectedBtn' : ''" @click="tab(2)">
				转出
			</view>
		</view>

		<view class="jiaoyi">
			<view class="kuan"></view>
			<text>历史交易</text>
		</view>

		<view class="bottom">
			<view class="table">
				<uni-table ref="table" emptyText="暂无更多数据">
					<uni-tr class='uni-tr'>
						<uni-th width="50" align="center">编号</uni-th>
						<uni-th width="70" align="center">类型</uni-th>
						<uni-th width="80" align="center">金额</uni-th>
						<uni-th width="80" align="center">时间</uni-th>
					</uni-tr>
					<uni-tr v-for="(item, index) in tableData" :key="index">
						<uni-td align="center" class="gray">{{ index + 1 }}</uni-td>
						<uni-td align="center" class="gray">{{ item.moneylog_type }}</uni-td>
						<block v-if="item.moneylog_type == '余额宝奖励'">
							<uni-td align="center" :style='{ color: "green" }' class="gray">+{{ item.moneylog_money }}
							</uni-td>
							<uni-td align="center" class="gray">{{ item.date }}</uni-td>
						</block>

						<block v-else>
							<uni-td align="center" :style='{ color: item.moneylog_status == "+" ? "red" : "green" }'
								class="gray">{{item.moneylog_status == '-' ? '+' : '-' }}{{ item.moneylog_money }}
							</uni-td>
							<uni-td align="center" class="gray">{{ item.date }}</uni-td>
						</block>
					</uni-tr>
				</uni-table>
			</view>
			<view class="page" v-if="tableData.length">
				<page-pagination :total="page.total" :pageSize="page.pageSize" :currentPage="page.currentPage"
					:btnText="true" :numAround="true" :showAround="true" @change="change" />
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				showMoney: true,
				selectedBtn: 1,
				tableData: [],
				tableData2: [],
				user: {},
				amount: '',
				yuamountDetail: {},
				leiji: '',
				jinri: '',

				page: {
					total: 1,
					pageSize: 10,
					currentPage: 1
				},
			};
		},
		onShow() {
			this.getUser()
			this.getYuamount()
			this.getYuamountDetail()
		},
		methods: {

			goQIandao() {
				// uni.navigateTo({
				// 	url: '',
				// })
			},
			change(currentPage) {
				this.page.currentPage = currentPage;
				this.getYuamount();
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
			},
			async getYuamountDetail() {
				let res = await uni.$u.http.post('/api/money/yuamountDetail')
				this.yuamountDetail = res.data
				this.leiji = this.yuamountDetail.allyuemoneys ? Number(this.yuamountDetail.allyuemoneys).toFixed(2) :
					'0.00'
				this.jinri = this.yuamountDetail.allyuemoneys ? Number(this.yuamountDetail.dayyuemoneys).toFixed(2) :
					'0.00'

			},
			async getYuamount() {
				let res = await uni.$u.http.post('/api/money/yuamount', {
					page: this.page.currentPage
				})
				var list = res.list
				this.page.total = res.list.total
				this.tableData = list.data
			},
			async getYuamountAct(act, amount) {
				var data = {
					act: act,
					amount: amount
				}
				let res = await uni.$u.http.post('/api/money/yuamountAct', data)
				if (res.status == 0) {
					this.isMask = false
					uni.showToast({
						title: res.msg,
						icon: 'none'
					});
					this.getYuamountDetail()
					this.getYuamount()
					this.getUser()
				} else {
					uni.showToast({
						title: res.msg,
						icon: 'none'
					});
				}

			},

			tab(idx) {
				uni.navigateTo({
					url: `/pages/balance/in?yuamount=${this.user.yuamount}&type=${idx}`
				})
				return
				switch (idx) {
					case 1:
						this.btnTitle = "转入"
						this.title = "转入"
						break;
					case 2:
						this.btnTitle = "转出"
						this.title = "转出"
						break;
				}
				this.isMask = true
				this.selectedBtn = idx

			},
			eventClick(e) {
				if (e.amount) {
					if (this.selectedBtn == 1) {
						this.getYuamountAct("+", e.amount)
					} else {
						if (e.amount > this.user.yuamount) {
							uni.showToast({
								title: "金额不足",
								icon: 'none'
							});
						} else {
							this.getYuamountAct("-", e.amount)
						}
					}
				} else {
					uni.showToast({
						title: "请输入" + this.title + "数量",
						icon: 'none'
					});
				}

			}
		}
	}
</script>

<style scoped lang="scss">
	view {
		box-sizing: border-box;
		;
	}

	.navbar {
		color: #fff;

		image {
			width: 40rpx;
			height: 40rpx;
			margin-right: 20rpx;
		}
	}

	.page-view {
		width: 100%;

		.top-bg {
			width: 100%;
			height: 336rpx;
			background: #334383;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-bottom-left-radius: 40rpx;
			border-bottom-right-radius: 40rpx;
		}

		.header {
			position: relative;
			z-index: 999;
			width: 670rpx;
			height: 350rpx;
			margin: 60rpx auto 0;
			background: url('../../static/my/yuebao/boxbg.png');
			background-size: 100% 100%;
			padding-top: 42rpx;
			text-align: center;

			.total {
				color: #E7C19F;
				font-size: 26rpx;
				justify-content: center;
				align-items: center;

				image {
					width: 34rpx;
					height: 20rpx;
				}
			}

			.day {
				color: #FFFFFF;
				font-size: 44rpx;
				margin-top: 20rpx;

				text {
					font-size: 32rpx;
					margin-right: 10rpx;
				}
			}

			.datas {
				margin-top: 50rpx;
				font-weight: 400;
				color: #FFFFFF;
				font-family: PingFang;
				display: flex;
				justify-content: space-around;

				.desc {
					margin-top: 10rpx;
					font-size: 24rpx;
				}

				.num {
					margin-top: 20rpx;
				}
			}
		}

		.middle {
			width: 700rpx;
			margin: 30rpx auto 0;
			display: flex;
			justify-content: space-between;

			.btn {
				width: 340rpx;
				height: 84rpx;
				background: linear-gradient(8deg, #2A3E84, #475EA2);
				border-radius: 10rpx;
				text-align: center;
				line-height: 84rpx;
				color: #fff;
			}

			.btn1 {
				color: #000;
				background: linear-gradient(-8deg, #FCECDF, #FCECDF);
			}
		}

		.jiaoyi {
			width: 700rpx;
			margin: 48rpx auto 0;
			display: flex;
			align-items: center;
			height: 50rpx;
			font-size: 30rpx;
			font-weight: 800;
			color: #000000;

			.kuan {
				width: 12rpx;
				height: 30rpx;
				border-radius: 6rpx;
				background: linear-gradient(8deg, #2A3E84, #475EA2);
				margin-right: 20rpx;
				box-shadow: 0 0 10rpx 2rpx rgba(0, 0, 0, 0.2);
			}
		}

		.bottom {
			width: 700rpx;
			margin: 0 auto;

			/deep/.uni-table {
				background: none;
			}

			/deep/ .uni-table-tr {
				border: none !important;
			}

			/deep/ .uni-table-td {
				border: none !important;
			}
		}

	}

	.gray {
		color: #000;
		font-size: 24rpx;
	}
</style>
