<template>
	<view class="">
		<view class="content">
			<view class="title">
				<text>{{type==1 ? '转入' : '转出'}}金额</text>
			</view>
			<view class="money">
				<image src="@/static/my/yuebao/jinqian.png" mode=""></image>
				<view class="input">
					<input type="number" v-model='amount' placeholder="请输入金额">
				</view>
			</view>
		</view>
		<view class="btn">
			<view v-if='type==1' class="sumbit" @click='sumbit'>
				确定转入
			</view>
			<view v-else class="sumbit" @click='sumbit'>
				确定转出
			</view>
		</view>
		<view class="keyborad" v-if="show_key == true" :style="{
		        transform: show_key ? 'translateY(0)' : 'translateY(100%)',
		        height: header + 'px',
		    }">
			<view class="key_main">
				<view class="main_title">
					<image src="/static/del_1.png" mode="aspectFill" @tap="hideFun"></image>
					<text>请输入支付密码</text>
				</view>
				<view class="main_content">
					<view class="content_num">
						<view v-for="item in inputArray" :key="item" class="content_item">
							{{ pwdPay[item - 1] ? '●' : '' }}
						</view>
					</view>
				</view>
				<view class="main_keyboard">
				<view class="key_num" v-for="item in numberArray" :key="item" @tap="inputNumFun({ num: item })">
						{{ item }}
					</view>
					<view class="key_null"></view>
					<view class="key_0" @tap="inputNumFun({ num: 0 })">0</view>
					<view class="key_del" @tap="delNumFun">
						<image src="/static/del_2.png" mode="aspectFill">返回</image>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				inputArray: [1, 2, 3, 4, 5, 6], //输入密码的长度
				numberArray: [1, 2, 3, 4, 5, 6, 7, 8, 9], //密码键盘的数字
				show_key: false,
				header: 0,
				pwdPay: '',
				type: 1,
				amount: ''
			}
		},
		onLoad(option) {
			this.type = option.type || 1
			if (this.type == 2) {
				uni.setNavigationBarTitle({
					title: "转出"
				})
			}
		},
		onShow() {
			// #ifdef APP-PLUS
			let _this = this;
			uni.getSystemInfo({
				success(res) {
					_this.header = res.windowHeight
				}
			})
			// #endif
			// #ifdef H5
			this.header = document.body.clientHeight
			// #endif
			this.pwdPay = ''
		},
		watch: {
			pwdPay() {
				let key = this.show_key
				if (key == false) {
					this.pwdPay = ''
				}
			},
		},
		methods: {
			sumbit(){
				if (!this.amount) {
					uni.showToast({
						title: '请输入金额',
						icon: 'none',
					})
					return
				}
				this.show_key = true
			},
			async getYuamountAct() {
				var data = {
					act: this.type == 1 ? "+" : "-",
					amount: this.amount,
					pwdPay: this.pwdPay,
				}
				let res = await uni.$u.http.post('/api/money/yuamountAct', data)
				if (res.status == 0) {
					this.pwdPay = ''
					uni.showToast({
						title: res.msg,
						icon: 'none'
					});
					setTimeout(()=>{
						uni.navigateBack()
					}, 1000)
				} else {
					this.show_key = false
					this.pwdPay = ''
					uni.showToast({
						title: res.msg,
						icon: 'none'
					});
				}
			
			},
			
			hideFun() {
				this.show_key = false
			},
			delNumFun() {
				this.show_key = false
				this.pwdPay = ''
			},
			inputNumFun(op) {
				if (this.pwdPay.length <= 6) {
					this.pwdPay += op.num
					if (this.pwdPay.length == 6) {
						this.getYuamountAct()
					}
				}
			},
		
		},
		
	}
</script>

<style lang='scss' scoped>
	.content {
		width: 700rpx;
		height: 240rpx;
		background: #fff;
		margin: 38rpx auto;
		border-radius: 20rpx;
		padding: 30rpx;
		box-sizing: border-box;
		.title {
			font-weight: 900;
		}
		.money {
			height: 120rpx;
			border-bottom: 1px solid #eee;
			display: flex;
			align-items: center;
			image {
				width: 36rpx;
				height: 36rpx;
			}
			.input {
				margin-left: 20rpx;
			}
		}
	}
	.btn {
		width: 700rpx;
		height: 106rpx;
		margin: 70rpx auto;
		.sumbit {
			background: #334383;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			border-radius: 18rpx;
		}
	}
	.keyborad {
		width: 100vw;
		position: fixed;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transform: translateY(100%);
		transition: all 0.4s;
		background: rgba(0,0,0,0.5);
		.key_main {
			width: 100vw;
			height: 900rpx;
			background: rgba(245, 245, 245, 0.9);
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
	
			.main_title {
				font-size: 34rpx;
				color: #000000;
				height: 100rpx;
				display: flex;
				align-items: center;
				letter-spacing: 2rpx;
				width: 100%;
				box-sizing: border-box;
				padding: 0px 20rpx;
				border-bottom: 2rpx solid #e1e1e1;
	
				image {
					width: 48rpx;
					height: 48rpx;
					position: relative;
					z-index: 10;
				}
	
				text {
					flex: 1;
					margin-left: -48rpx;
					display: flex;
					justify-content: center;
				}
			}
	
			.main_content {
				width: 100%;
				box-sizing: border-box;
				padding: 0px 30rpx;
				margin-top: 40rpx;
	
				.content_num {
					width: 100%;
					height: 100rpx;
					border: 2rpx solid #dbdbdb;
					border-radius: 10rpx;
					display: flex;
					align-items: center;
	
					.content_item {
						flex: 1;
						height: 100%;
						border-right: 2rpx solid #dbdbdb;
						display: flex;
						justify-content: center;
						align-items: center;
					}
	
					.content_item:last-child {
						border-right: none;
					}
				}
	
				.main_forget {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					font-size: 28rpx;
					color: #ffffff;
					margin-top: 40rpx;
				}
			}
	
			.main_keyboard {
				width: 100%;
				height: 500rpx;
				background: #ffffff;
				display: flex;
				flex-flow: wrap;
	
				.key_null,
				.key_del {
					background: #e2e7eb;
				}
	
				image {
					width: 48rpx;
					height: 48rpx;
				}
	
				.key_num,
				.key_null,
				.key_del,
				.key_0 {
					width: 250rpx;
					height: 125rpx;
					display: flex;
					align-items: center;
					justify-content: center;
				}
	
				.key_num {
					border-right: 2rpx solid #f1f4f4;
					border-bottom: 2rpx solid #f1f4f4;
					box-sizing: border-box;
				}
	
				.key_num:nth-child(8) {
					border-bottom: none;
				}
	
				.key_0 {
					border-top: 2rpx solid #f1f4f4;
				}
			}
		}
	
	}	
</style>