<template>
	<view class="page-view container">
		<view class="number">
			<view class="num">{{integral}}</view>
			<view class="top">
				<view>积分数量</view>
				<image src="../../static/integral/icon.png" class="img"></image>
			</view>
		</view>
		<view class="table">
			<uni-table ref="table" :loading="loading" border stripe emptyText="暂无更多数据">
				<uni-tr>
					<uni-th width="70" align="center">名称</uni-th>
					<uni-th width="60" align="center">状态</uni-th>
					<uni-th width="80" align="center">兑换数量</uni-th>
					<uni-th width="80" align="center">兑换积分</uni-th>
					<uni-th width="95" align="center">兑换时间</uni-th>
				</uni-tr>
				<uni-tr v-for="(item, index) in tableData" :key="index" v-if="item.product">
					<uni-td align="center" class="gray two">{{item.product.title}}</uni-td>
					<uni-td align="center" class="gray">
						<view class="name">{{item.status==0?"审核中":item.status==1?"成功":item.status==-1?"失败" :""}}</view>
					</uni-td>
					<uni-td align="center" class="green">{{ item.number }}</uni-td>
					<uni-td align="center" class="gray">{{ item.integral }}</uni-td>
					<uni-td align="center" class="red">{{ item.date }}</uni-td>
				</uni-tr>
			</uni-table>

		</view>
		<view class="page" v-if="tableData.length">
			<page-pagination :total="page.total" :pageSize="page.pageSize" :currentPage="page.currentPage"
				:btnText="true" :numAround="true" :showPageSize="5" :showAround="true" @change="change">
			</page-pagination>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				page: {
					total: 100,
					pageSize: 10,
					currentPage: 1
				},
				tableData: [],
				loading: false,
				integral: ''
			};
		},
		onLoad() {
			this.getlist()
			this.getUser()
		},
		methods: {
			change(currentPage, type) {
				this.page.currentPage = currentPage;
				console.log("点击了" + type + "，当前页：" + currentPage);
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.integral = res.integral
			},
			async getlist() {
				let res = await uni.$u.http.post('/api/userLc/jfshopLogLists')
				this.tableData = res.list
			}
			// 获取数据
			// 	getData(pageCurrent, value = '') {
			// 		this.loading = true
			// 		this.pageCurrent = pageCurrent
			// 		this.request({
			// 			pageSize: this.pageSize,
			// 			pageCurrent: pageCurrent,
			// 			value: value,
			// 			success: res => {
			// 				// console.log('data', res);
			// 				this.tableData = res.data
			// 				this.total = res.total
			// 				this.loading = false
			// 		}
			// 	})
			// },
		}
	}
</script>

<style scoped lang="scss">
	view {
		box-sizing: border-box;
	}
	page {
		background: #f6f6f6;
	}
	.page-view{
		width: 700rpx;
		margin: 42rpx auto 0;
	}
	.two{
		overflow: hidden;
		  text-overflow: ellipsis;
		  display: -webkit-box;
		  -webkit-line-clamp: 1;
		  -webkit-box-orient: vertical;
	}
	.red {
		color: #FF0000;
		font-weight: 600;
	}

	.green {
		color: #07AB2D;
		font-weight: 600;
	}

	.uni-table-th {
		color: #fff;
		background-color: #cc2c2c;
		border-right: 6rpx #EBEEF5 solid;
		border-bottom: 6rpx #EBEEF5 solid;
		
	}
	/deep/.uni-table-th{
		padding: 12rpx 10rpx!important;
	}
	.uni-table-td {
		padding: 0;
		line-height: 72rpx;
		border-right: 6rpx #EBEEF5 solid;
		border-bottom: 6rpx #EBEEF5 solid;
	}

	.gray {
		color: #000;
		font-weight: 600;
	}


	.number {
		margin-top: 20rpx;
		height: 140rpx;
		background-color: #f2f1f1;
		text-align: center;

		.top {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 10rpx;
			font-size: 14px;
			color: #000;
		}

		.num {
			font-size: 30px;
			font-weight: 600;
			margin-top: 10rpx;
		}
	}

	.img {
		width: 16rpx;
		height: 16rpx;
	}

	.page {
		margin-top: 10rpx;
		background-color: #fff;
		display: flex;
		padding-top: 16rpx;
		height: 100rpx;
		margin-top: 40rpx;
		align-items: center;
	}
	/deep/.pag-btn{
		background-color: #f2f1f1!important;
		border: 2rpx solid #8f8f8f!important;
		color: #8f8f8f!important;
	}
	/deep/.pag-btn text{
		color: #8f8f8f!important;
	}
	/deep/.active{
		background-color: #cc2c2c!important;
	}
</style>
