<template>
	<view class="page-view container">
		<!-- <view class="number">
			<view class="num">{{integral}}</view>
			<view class="top">
				<view>积分数量</view>
				<image src="../../static/integral/icon.png" class="img"></image>
			</view>
		</view> -->
		<view class="table">
			<uni-table ref="table" :loading="loading" emptyText="暂无更多数据">
				<uni-tr style="background-color: #334383;">
					<uni-th width="50" align="center">名称</uni-th>
					<uni-th width="50" align="center">状态</uni-th>
					<uni-th width="50" align="center">数量</uni-th>
					<uni-th width="50" align="center">积分</uni-th>
					<uni-th width="100" align="center">时间</uni-th>
				</uni-tr>
				<uni-tr v-for="(item, index) in tableData" :key="index" v-if="item.product">
					<uni-td align="center">{{item.product.title}}</uni-td>
					<uni-td align="center" :class="item.status ? 'fahuo' : 'daifahuo'">
						<view class="name">{{item.status==0?"待发货":"发货"}}</view>
					</uni-td>
					<uni-td align="center">{{ item.number }}</uni-td>
					<uni-td align="center" class="red">{{ item.integral }}</uni-td>
					<uni-td align="center">
						<view>{{ item.date }}</view>
					</uni-td>
				</uni-tr>
			</uni-table>

		</view>
		<!-- <view class="page" v-if="tableData.length">
			<page-pagination :total="page.total" :pageSize="page.pageSize" :currentPage="page.currentPage"
				:btnText="true" :numAround="true" :showPageSize="5" :showAround="true" @change="change">
			</page-pagination>
		</view> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				page: {
					total: 100,
					pageSize: 10,
					currentPage: 1
				},
				tableData: [],
				loading: false,
				integral: ''
			};
		},
		onLoad() {
			this.getlist()
			this.getUser()
		},
		methods: {
			change(currentPage, type) {
				this.page.currentPage = currentPage;
				console.log("点击了" + type + "，当前页：" + currentPage);
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.integral = res.integral
			},
			async getlist() {
				let res = await uni.$u.http.post('/api/userLc/jfshopLogLists')
				this.tableData = res.list
			},
		}
	}
</script>

<style scoped lang="scss">
	view {
		box-sizing: border-box;
	}
	page {
		background: #f6f6f6;
	}
	.page-view {
		width: 700rpx;
		margin: 0 auto;
		padding-top: 30rpx;
		.table {
			width: 100%;
			background: #fff;
			.uni-table-th {
				padding: 22rpx 0;
				color: #fff;
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
			}
			.uni-table-td {
				padding: 16rpx 0;
				line-height: 40rpx;
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	.fahuo {
		color: #DB0C0C;
	}
	.daifahuo {
		color: #65C14C;
	}
	.red {
		color: #DB0C0C;
	}
	
	.page {
		margin-top: 60rpx;
		/deep/ .pag-btn{
			background-color: #F2F1F1 !important;
			color: #000!important;
			border:2rpx solid #d3d3d3!important;
		}
		/deep/ .page-pagination .page-con .page-scroll-child .pag-btn.btn-ban{
			color: #000 !important;
		}
		/deep/ .active{
			background-color: #40569B !important;
			border: none !important;
		}
	}
	// view {
	// 	box-sizing: border-box;
	// }
	// page {
	// 	background: #f6f6f6;
	// }
	// .page-view{
	// 	width: 700rpx;
	// 	margin: 42rpx auto 0;
	// }
	// .two{
	// 	overflow: hidden;
	// 	  text-overflow: ellipsis;
	// 	  display: -webkit-box;
	// 	  -webkit-line-clamp: 1;
	// 	  -webkit-box-orient: vertical;
	// }
	// .red {
	// 	color: #FF0000;
	// 	font-weight: 600;
	// }

	// .green {
	// 	color: #07AB2D;
	// 	font-weight: 600;
	// }

	// .uni-table-th {
	// 	color: #fff;
	// 	background-color: #cc2c2c;
	// 	border-right: 6rpx #EBEEF5 solid;
	// 	border-bottom: 6rpx #EBEEF5 solid;
		
	// }
	// /deep/.uni-table-th{
	// 	padding: 12rpx 10rpx!important;
	// }
	// .uni-table-td {
	// 	padding: 0;
	// 	line-height: 72rpx;
	// 	border-right: 6rpx #EBEEF5 solid;
	// 	border-bottom: 6rpx #EBEEF5 solid;
	// }

	// .gray {
	// 	color: #000;
	// 	font-weight: 600;
	// }


	// .number {
	// 	margin-top: 20rpx;
	// 	height: 140rpx;
	// 	background-color: #f2f1f1;
	// 	text-align: center;

	// 	.top {
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		padding-top: 10rpx;
	// 		font-size: 14px;
	// 		color: #000;
	// 	}

	// 	.num {
	// 		font-size: 30px;
	// 		font-weight: 600;
	// 		margin-top: 10rpx;
	// 	}
	// }

	// .img {
	// 	width: 16rpx;
	// 	height: 16rpx;
	// }

	// .page {
	// 	margin-top: 10rpx;
	// 	background-color: #fff;
	// 	display: flex;
	// 	padding-top: 16rpx;
	// 	height: 100rpx;
	// 	margin-top: 40rpx;
	// 	align-items: center;
	// }
	// /deep/.pag-btn{
	// 	background-color: #f2f1f1!important;
	// 	border: 2rpx solid #8f8f8f!important;
	// 	color: #8f8f8f!important;
	// }
	// /deep/.pag-btn text{
	// 	color: #8f8f8f!important;
	// }
	// /deep/.active{
	// 	background-color: #cc2c2c!important;
	// }
</style>
