<template>
	<view class="app page-view">
		<view class="contents">
			<view class="goods border">
				<view class="name">
					商品名称
				</view>
				<view class="info">
					{{goods}}
				</view>
			</view>

			<view class="list">
				<view class="item">
					<view class="name">
						兑换数量：
					</view>
					<view class="value">
						{{num}}
					</view>
				</view>
				<view class="item">
					<view class="name">
						收件人姓名：
					</view>
					<view class="value">
						<input type="text" placeholder="请输入收件人姓名" v-model="name">
					</view>
				</view>
				<view class="item">
					<view class="name">
						联系电话：
					</view>
					<view class="value">
						<input type="number" placeholder="请输入联系电话" v-model="phone">
					</view>
				</view>
				<view class="item">
					<view class="name">
						收货地址：
					</view>
					<view class="value">
						<input type="text" placeholder="请输入收货地址" v-model="address">
					</view>
				</view>
			</view>
		</view>
	
		<view class="exchange" @click="exchange">
			立即兑换
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				goods: '111',
				num: '1',
				integral:'',
				price:'',
				name:'',
				phone:'',
				address:'',
				image:''
			}
		},
		onLoad(options) {
			this.goods=options.goods
			this.num=options.num
			this.id=options.id
			this.price = options.price
			this.image = options.image
			this.getUser()
		},
		onShow() {
		},
		methods: {
			async exchange(){
				// TODO 判断积分是否足够
				let total = this.num*this.price<=this.integral
				if(total==false){
					uni.showToast({
						icon:"none",
						title:"积分不足",
					})
					return
				}
				if(!this.name){
					uni.showToast({
						icon:"none",
						title:"收件人姓名不可为空",
					})
					return
				}
				if(!this.phone){
					uni.showToast({
						icon:"none",
						title:"联系电话不可为空",
					})
					return
				}
				if (!(/^1[345789]\d{9}$/.test(this.phone))) {
					uni.showToast({
						icon:"none",
						title:"手机号格式错误",
					})
					return
				}
				if(!this.address){
					uni.showToast({
						icon:"none",
						title:"收货地址不可为空",
					})
					return
				}
				let res = await uni.$u.http.post('/api/userLc/jfshopExchange',{
					productid:this.id,
					number:this.num,
					name:this.name,
					phone:this.phone,
					address:this.address,
				})
				console.log(res)
				if(res.status==0){
					uni.showModal({
						title:"兑换成功",
						success() {
							uni.navigateBack({
								delta:1
							})
						}
					})
				}else{
					uni.showModal({
						title:"res.msg",
						success() {
						}
					})
				}
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.integral = res.integral
			},
		}
	}
</script>

<style lang="scss">
	view {
		box-sizing: border-box;
	}
	page {
		background: #f6f6f6;
	}
	.page-view{
		width: 700rpx;
		margin: 0 auto;
		padding-top: 42rpx;
		.contents{
			background-color: #fff;
			border-radius: 30rpx;
			padding: 44rpx 30rpx;
			.goods {
				width: 100%;
				display: flex;
				align-items: baseline;
				border-bottom: 1rpx solid #eee;
				.name {
					flex: 0 1 130rpx;
				}
				.info {
					padding-bottom: 30rpx;
					flex: 1;
					margin-left: 28rpx;
					font-size: 30rpx;
					font-weight: bold;
					color: #000000;
					line-height: 36rpx;
				}
			}
			.list {
				.item {
					border-bottom: 1rpx solid #eee;
					height: 128rpx;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.name {
						font-size: 30rpx;
						color: #000000;
						line-height: 36rpx;
						opacity: 0.5;
					}
					.value {
						input {
							font-size: 30rpx;
							font-weight: 500;
							color: #000000;
							line-height: 36rpx;
							opacity: 0.5;
							text-align: right;
						}
					}
					&:last-child {
						border: none;
					}
				}
			}
		}
		.exchange {
			width: 500rpx;
			height: 114rpx;
			margin: 80rpx auto;
			background: url('../../static/home/integral/duihuan.png');
			background-size: 100% 100%;
			line-height: 114rpx;
			text-align: center;
			font-size: 36rpx;
			font-weight: bold;
			color: #FFFFFF;
		}
	}
</style>
