<template>
	<view class="container page-view">
		<view class="jianbian-bg"></view>
		<view class="top-bg"></view>
		
		<view class="header">
			<image src="../../static/home/integral/banner.png" mode="aspectFit"></image>
		</view>
		
		<view class="middle flex-r">
			<view class="btn" >
				<view class="">
					<image src="../../static/home/integral/zhjl.png" mode=""></image>
				</view>
				<text>积分：{{integral}}</text>
			</view>
			<view class="btn">
				<navigator url="/pages/integral/exchangeRecord">
					<view class="">
						<image src="../../static/home/integral/zhjl.png" mode=""></image>
					</view>
					<text>兑换记录</text>
				</navigator>
			</view>
		</view>

		<view class="list-view">
			<view class="item" v-for="item in integralList" :key="item.id" @click="goByPath('/pages/integral/integral-details',item.id)">
				<view class="img">
					<image :src="$imgUrl(item.image)" class="item-img"></image>
				</view>
				<view class="item-jieshao">
					{{ item.title }}
				</view>
				<view class="item-btn flex-r">
					<view class="left flex-r">
						<image src="../../static/home/integral/jifenjiabei.png" mode="aspectFit"></image>
						<view class="blue-color">{{ item.integral }}积分</view>
					</view>
					<view class="right">
						兑换
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				integralList: [], // 积分列表
				integral:''
			};
		},
		onLoad() {
			this.getIntegralList()
			this.getUser()
		},
		onShow() {
			this.getIntegralList()
			this.getUser()
		},
		methods: {
			async getIntegralList() {
				let res = await uni.$u.http.get('api/index/jfshopLists')
				if(res.status === 0) {
					this.integralList = res.list
				}
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.integral = res.integral
			},
			
		}
	}
</script>

<style scoped lang="scss">
	view {
		box-sizing: border-box;;
	}
	page {
		background: #fff;
	}
	.page-view {
		padding-bottom: 100rpx;
		width: 100%;
		.jianbian-bg {
			width: 100%;
			height: 760rpx;
			background: linear-gradient(180deg, rgba(193,200,224,1), transparent);
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
		.top-bg {
			width: 100%;
			height: 240rpx;
			background: #334383;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-bottom-left-radius: 40rpx;
			border-bottom-right-radius: 40rpx;
		}
		.header {
			position: relative;
			z-index: 99;
			width: 700rpx;
			height: 380rpx;
			padding-top: 40rpx;
			margin: 0 auto;
			image {
				width: 100%;
				height: 100%;
			}
		}
		.middle {
			margin-top: 10rpx;
			justify-content: center;
			background: none;
			.btn {
				margin: 0 80rpx;
				width: 160rpx;
				height: 160rpx;
				display: flex;
				flex-direction: column;
				text-align: center;
				padding-top: 20rpx;
				image {
					width: 84rpx;
					height: 84rpx;
				}
			}
		}
		
		.list-view {
			width: 640rpx;
			margin: 40rpx auto;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			position: relative;
			z-index: 99;
			.item {
				width: 296rpx;
				margin-top: 50rpx;
				.img {
					width: 296rpx;
					height: 430rpx;
					background: #eee;
					image {
						width: 100%;
						height: 100%;
					}
				}
				.item-jieshao {
					margin-top: 22rpx;
					height: 126rpx;
					width: 100%;
					font-size: 26rpx;
					color: #1D1D1D;
					line-height: 32rpx;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
				}
				.item-btn {
					width: 100%;
					height: 70rpx;
					margin-top: 24rpx;
					background: url('../../static/home/integral/item-btn.png');
					background-size: 100% 100%;
					align-items: center;
					.left {
						align-items: center;
						justify-content: center;
						flex: 0 1 70%;
						color: #610307 ;
					}
					.right {
						color: #fff;
					}
					image {
						width: 32rpx;
						height: 32rpx;
						margin-right: 12rpx;
					}
				}
			}
		}
	}


</style>
