<template>
	<view class="page-view">
		<view class="content">
			<view class="top-img">
				<image :src="$imgUrl(content.image)"></image>
			</view>
			<view class="goods-title">
				<view class="title">{{content.keyinfo}}</view>
				<!-- <view class="title">{{content.descr}}</view> -->
			</view>
			<view class="integral flex-r">
				<view class="left">
					<image src="../../static/home/integral/xinzi.png" mode="aspectFit"></image>
					<view>我的积分: <text>{{my}}</text></view>
				</view>
				<view class="center">
					<image src="../../static/home/integral/line-y.png" mode="aspectFit"></image>
				</view>
				<view class="right">
					<image src="../../static/home/integral/shouru.png" mode="aspectFit"></image>
					<view>所需积分: <text>{{content.integral}}</text></view>
				</view>
			</view>
			<view class="exchange-rules">
				<view class="title-wrap">
					<text class="txt">兑换规则</text>
				</view>
				<view class="rules-details">
					<view>1、兑换资格：平台建仓用户可参与积分兑换。</view>
					<view>2、用户每建仓100元即累计{{bili}}个积分，建仓一次计一次，单笔建仓不足100元或小于100元的部分不计入建仓积分累积。(例如，单笔建仓190元，则100元部分累计{{bili}}分，
						90元部分不计入建仓积分累积)</view>
					<view>3、用户兑换后10个工作日内完成礼品发放（不可兑换现金），节假日顺延。)</view>
				</view>
			</view>
			<view class="exchange-rules">
				<view class="title-wrap">
					<text class="txt">商品信息</text>
				</view>
				<u-parse :content="content.content" @preview="preview" @navigate="navigate"></u-parse>
			</view>
		</view>
		<view class="step-view">
			<view class="step flex-r">				
				<view class="step-wrap flex-r">
					<view class="sub" @click="sub">-</view>
					<view class="input-wrap">
						<input type="text" v-model="step">
					</view>
					<view class="add" @click="add">+</view>
				</view>
				<view class="duihuan">
					<navigator class="bottom-btn" :url="'/pages/integral/exchange?goods='+content.title+'&num='+step+'&id='+id+'&price='+content.integral+'&image='+content.image">立即兑换</navigator>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				step: 1,
				id: "",
				content: {},
				my: "",
				bili:'1'
			}
		},
		methods: {
			async getbili(){
				
				let res = await uni.$u.http.post('/api/Index/getBili', {})
				this.bili = res.data.kefu1
				
			},
			sub() {
				if (this.step == 0) {
					return
				} else {
					this.step--
				}
			},
			add() {
				this.step++
			},
			async getDeteil() {
				let res = await uni.$u.http.post('/api/index/jfshopDetail', {
					id: this.id,
				})
				this.content = res.product
				console.log("==============", res)
				let domain = this.$baseUrl();
				console.log("1212121212121", this.content.content.split('src="').join('src="'+domain))
				this.content.content = this.content.content.split('src="').join('src="'+domain)
				// this.content.content = this.content.content.split(':src="').join(':src="$imgUrl(').split('jpeg" title')
				// 	.join('jpeg)" title')
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.my = res.integral
			},
		},
		onLoad(option) {
			console.log(option)
			this.id = option.params
			this.getDeteil()
			this.getUser()
			this.getbili()
		}
	}
</script>
<style lang="scss" scoped>
	page {
		background-color: #fff;
	}
	view {
		box-sizing: border-box;;
	}
	.page-view {
		width: 100%;
		padding: 36rpx 25rpx;
	
		.content {
			width: calc(100% - 20rpx);

			.top-img {
				width: 100%;
				height: 890rpx;
				background: #eee;
				border-radius: 20rpx;
				overflow: hidden;
				image {
					width: 100%;
					height: 100%;
				}
			}

			.goods-title {
				margin-top: 40rpx;
				.title {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-size: 30rpx;
					font-weight: bold;
					color: #000000;
					line-height: 36rpx;
				}
			}

			.integral {
				width: 100%;
				height: 114rpx;
				background: url('../../static/home/integral/jifen-bg.png');
				background-size: 100% 100%;
				margin-top: 40rpx;
				justify-content: center;
				align-items: center;
				
				.left, .right {
					display: flex;
					align-items: center;
					font-size: 24rpx;
					padding: 15rpx 0;
					font-size: 28rpx;
					color: #A28460;
					line-height: 36rpx;
					image {
						width: 42rpx;
						height: 42rpx;
						margin-right: 16rpx;
					}
					text {
						color: #734917;
						font-size: 36rpx;
					}
				}
				.center {
					margin: 0 50rpx;
					image {
						width: 2rpx;
						height: 54rpx;
					}
				}
			}

			.exchange-rules {
				margin-top: 42rpx;
				.title-wrap {
					margin-bottom: 20rpx;
					&::before {
						content: '';
						display: inline-block;
						width: 14rpx;
						height: 28rpx;
						background: url('../../static/home/integral/title-wrap.png');
						background-size: 100% 100%;
						margin-right: 16rpx;
						position: relative;
						top: 4rpx;
					}
					.txt {
						font-size: 36rpx;
						color: #000000;
						font-weight: 700;
						line-height: 36rpx;
					}
				}
				.rules-details {
					font-size: 28rpx;
					color: #000000;
					line-height: 48rpx;
				}
			}
		}

		.step-view {
			display: flex;
			flex-wrap: nowrap;
			background-color: #fff;
			justify-content: space-between;
			position: fixed;
			bottom: 0;
			width: 100%;
			left: 0;
			height: 210rpx;
			align-items: center;
			.step {
				height: 120rpx;
				width: 700rpx;
				margin: 0 auto;
				background: #fcf4e4;
				border-radius: 10rpx;
				align-items: center;
				.step-wrap {
					flex: 0 1 188rpx;
					margin: 0 50rpx 0 38rpx;
					justify-content: space-between;
					align-items: center;
					.sub, .add {
						width: 54rpx;
						height: 54rpx;
						background: #fff;
						text-align: center;
						line-height: 54rpx;
					}
					.input-wrap {
						flex: 0 1 50rpx;
					}
				}
				.duihuan {
					flex: 1;
					height: 90rpx;
					background-image: url('../../static/home/integral/duihuan.png');
					background-size: 100% 100%;
					text-align: center;
					font-size: 36rpx;
					color: #FFFFFF;
					font-weight: 600;
					line-height: 90rpx;
				}
			}
		}
	}
</style>
