<script>
	import permision from "@/js_sdk/wa-permission/permission.js"
	import list from '@/utils/config'


	let timm = setInterval(() => {
		uni.getNetworkType({
			success: function(res) {
				if (res.networkType != 'none') {
					clearInterval(timm)
					timm = ''

					uni.request({
						url: list[uni.getStorageSync('network_active') || 0].url,
					});
				}
			}
		});
	}, 500)

	export default {
		data() {
			return {
				// timm: ''
			}
		},



		onLaunch() {
			uni.setStorage({
				key: 'newsPopupShow',
				data: true
			})

			// #ifdef APP-PLUS
			/** 锁定屏幕方向 */
			// plus.screen.lockOrientation('portrait-primary');

			/** 检测升级 */
			let _this = this;

			plus.runtime.getProperty(plus.runtime.appid, function(info) {
				_this.$httpSend({
					path: '/im/app/update',
					data: {
						appid: info.appid,
						version: info.version,
					},
					success(res) {
						if (res.status) {
							let wgtWaiting = plus.nativeUI.showWaiting("更新开始下载"),
								update_url = (plus.os.name == 'Android' ? res.update_url.android : res
									.update_url.ios),
								downloadTask = uni.downloadFile({
									url: update_url,
									success: (res) => {
										wgtWaiting.close();
										if (res.statusCode === 200) {
											plus.runtime.install(res.tempFilePath, {}, () => {
												plus.runtime.restart();
											}, (e) => {
												uni.showModal({
													content: "update error [" + e
														.code + "]：" + e.message,
													showCancel: false,
												});
											});
										} else {
											uni.showModal({
												content: "api error update fail!",
												showCancel: false,
											});
										}
									}
								});
							downloadTask.onProgressUpdate((res) => {
								wgtWaiting.setTitle('下载中...' + res.progress + '%');
							});
						}
					},
				});
			});
			// #endif
		},
		onShow() {
			// #ifdef APP-PLUS
			this.requestAn()
			// #endif
		},

		onLoad() {
			this.setNavPosition();
		},

		methods: {
			requestAn() {
				switch (uni.getSystemInfoSync().platform) {
					case 'android':
						permision.requestAndroidPermission("android.permission.RECORD_AUDIO")
						break;
					case 'ios':
						permision.judgeIosPermission("record")
						break;
				}
			}
			
		}
	}
</script>

<style lang="scss">
	/* #ifndef APP-PLUS-NVUE */
	/** uni.css - 通用组件、模板样式库，可以当作一套ui库应用 */
	@import '@/uni_modules/uview-ui/index.scss';


	/** 设置 body 的背景色 */
	page {
		background-color: #f9f9f9;
	}

	view {
		font-size: 26rpx;
		box-sizing: border-box;
	}

	uni-view {
		font-size: 26rpx;
	}

	input {
		font-size: 26rpx;
	}

	/* #endif */
	/**
	     指定单个元素垂直水平居中
	 */
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/**
	    横向垂直靠左对齐
	 */
	.hleft {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	/**
	    横向垂直靠中对齐
	 */
	.hcenter {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	/**
	    横向垂直靠右对齐
	 */
	.hright {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	/**
	    横向指定多个元素的垂直水平居中
	 */
	.hcenter-vcenter {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	/**
	    横向垂直靠左对齐 —— 纵向水平靠上对齐
	 */
	.hleft-vtop {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}

	/**
	    横向垂直靠左对齐 —— 纵向水平靠中对齐
	 */
	.hleft-vcenter {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}

	/**
	    横向垂直靠左对齐 —— 纵向水平靠下对齐
	 */
	.hleft-vbottom {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;
	}


	.txtright {
		text-align: right;
	}

	.flex-r {
		display: flex;
		flex-direction: row;
	}

	.flex-c {
		display: flex;
		flex-direction: column;
	}

	.mt10 {
		margin-top: 10rpx;
	}

	.mt20 {
		margin-top: 20rpx;
	}

	.mt30 {
		margin-top: 30rpx;
	}

	.mb10 {
		margin-bottom: 10rpx;
	}

	.mb20 {
		margin-bottom: 20rpx;
	}

	.mb30 {
		margin-bottom: 30rpx;
	}

	.mr10 {
		margin-right: 10rpx;
	}

	.mr20 {
		margin-right: 20rpx;
	}

	.mr30 {
		margin-right: 30rpx;
	}

	.ml10 {
		margin-left: 10rpx;
	}

	.ml20 {
		margin-left: 20rpx;
	}

	.ml30 {
		margin-left: 30rpx;
	}

	.p10 {
		padding: 10rpx;
	}

	.p20 {
		padding: 20rpx;
	}

	.p30 {
		padding: 30rpx;
	}

	.pl10 {
		padding-left: 0 10rpx;
	}

	.pl20 {
		padding-left: 0 20rpx;
	}

	.pl30 {
		padding-left: 0 30rpx;
	}

	.pr10 {
		padding-right: 0 10rpx;
	}

	.pr20 {
		padding-right: 0 20rpx;
	}

	.pr30 {
		padding-right: 0 30rpx;
	}

	.page {
		margin-top: 60rpx;

		/deep/ .pag-btn {
			background-color: #F2F1F1 !important;
			color: #000 !important;
			border: 2rpx solid #d3d3d3 !important;
		}

		/deep/ .page-pagination .page-con .page-scroll-child .pag-btn.btn-ban {
			color: #000 !important;
		}

		/deep/ .active {
			background-color: #40569B !important;
			border: none !important;
		}
	}
</style>
