<template>
	<view class="container page-view">
		<view class="list">
			<view class="list-card">
				<view class="left">
					头像
				</view>
				<view class="right">
					<image v-if="!user.picImg" :src="aefaultAvatar" style="height:80rpx ; width: 80rpx;"
						@click="handleChooseImg"></image>
					<image v-else :src="$imgUrl(user.picImg)" style="height:80rpx; width: 80rpx;"
						@click="handleChooseImg"></image>
				</view>
			</view>

			<view class="list-card">
				<view class="left">
					我的ID
				</view>
				<view class="hright-vcenter">
					<view class="name" style="padding-right: 20rpx;">{{user.invicode}}</view>
				</view>
			</view>
			<view class="list-card">
				<view class="left">
					手机号码
				</view>
				<view class="hright-vcenter number">
					<view class="phone" style="padding-right: 20rpx;">{{user.mobile1}}</view>
				</view>
			</view>
			<!-- 	<navigator class="list-card" url="/pages/account/changeName">
				<view class="left">
					我的昵称
				</view>
				<view class="hright-vcenter number">
					<view class="phone" style="padding-right: 20rpx;">{{user.nickname}}</view>
					<u-icon name='arrow-right' size='14' color='#ccc'></u-icon>
				</view>
			</navigator> -->	
			<view class="list-card" @tap="renzheng">
				<view class="left">
					实名认证
				</view>
				<view class="flex-r">
					<view class="renzheng" v-if="(Isrenzheng?Isrenzheng.state:'null') == 1"
						style="padding-right: 20rpx;">
						已认证
					</view>
					<view class="renzheng" v-else-if="(Isrenzheng?Isrenzheng.state:'null') == 0"
						style="padding-right: 20rpx;">
						审核中
					</view>
					<view class="renzheng" v-else-if="(Isrenzheng?Isrenzheng.state:'null') == 2"
						style="padding-right: 20rpx;">
						审核被拒绝
					</view>
					<view class="renzheng" v-else style="padding-right: 20rpx;">
						未实名
					</view>
					<u-icon name='arrow-right' size='14' color='#ccc'></u-icon>
				</view>
			</view>

		</view>

		<view class="list">
			<navigator class="list-card mt-2" :url="'/pages/account/changePwd?phone='+user.mobile">
				<view class="left">
					修改密码
				</view>
				<view class="right-end">
					<u-icon name='arrow-right' size='14' color='#ccc'></u-icon>
				</view>
			</navigator>
			<navigator class="list-card mt-2" :url="'/pages/account/changePayPwd?phone='+user.mobile">
				<view class="left">
					修改支付密码
				</view>
				<view class="right-end">
					<u-icon name='arrow-right' size='14' color='#ccc'></u-icon>
				</view>
			</navigator>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				user: {},
				Isrenzheng: '',
				picImg: '',
				aefaultAvatar: ""
			};
		},
		onLoad() {
			this.getUser()
		},
		methods: {
			async handleChooseImg() {
				var domain = this.$baseUrl()
				var that = this
				uni.chooseImage({
					count: 1, //默认9
					sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
					sourceType: ['album'], //从相册选择
					loop: true,
					success: res => {
						var tempFilePaths = res.tempFilePaths;
						uni.showLoading({
							title: '正在上传',
						})
						uni.uploadFile({
							url: domain + 'api/index/uploadimg',
							filePath: tempFilePaths[0],
							name: 'file',

							headers: {
								xtoken: uni.getStorageSync("xtoken")
							},
							success: uploadFileRes => {
								uni.hideLoading()
								uni.showToast({
									title: '上传成功',
									icon: 'none',
									duration: 2000,
								})
								this.picImg = JSON.parse(uploadFileRes.data).src
								that.editInfo()
							},
							fail(err) {
								console.log(err);
							}
						});
					}
				});
			},
			async editInfo() {
				let res = await uni.$u.http.post('api/userLc/edit', {
					picImg: this.picImg
				})
				if (res.status == 0) {
					this.getUser()
					uni.showToast({
						title: '修改成功',
						icon: 'none',
						duration: 2000,
					})
				} else {
					uni.showToast({
						title: res.msg,
						icon: "error"
					})
				}
			},
			async getUser() {
				uni.showLoading()
				Promise.all([
					uni.$u.http.post('/api/userLc/my'),
					uni.$u.http.post('/api/userLc/isCertification')
				])
				.then(res => {
					this.user = res[0]
					this.Isrenzheng = res[1].data
					uni.hideLoading()
				})
			},
			renzheng() {
				if (!this.user.realname) {
					uni.navigateTo({
						url: "../verified/verified"
					})
				}
			}
		}
	}
</script>

<style scoped lang="scss">
	page {
		background: #f4f4f4;
	}

	.page-view {
		padding-top: 40rpx;
	}

	.list {
		width: 700rpx;
		margin: 0 auto 40rpx;
		background: #fff;
		border-radius: 30rpx;
		padding: 20rpx 30rpx;
		font-size: 26rpx;
		color: #949494;

		.list-card {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #eee;
			padding: 26rpx 0;

			image {
				border-radius: 50%;
			}

			&:last-child {
				border: none;
			}
		}
	}
</style>
