<template>
	<view class='page-view'>
		<view class="input1">
			<text style="flex-shrink: 0;">短信验证</text>
			<input type="text" v-model="code" placeholder="输入验证码" placeholder-style="color:#999">
			<view class="validation" @click="sendsms" v-if="codeShow">
				验证码
			</view>
			<view class="validation" v-if="!codeShow">
				{{count}}秒后重试
			</view>
		</view>
		<view class="ipt">
			<view class="" style="flex-shrink: 0;">
				新登录密码
			</view>
			<view class="">
				<input value="" type="text" password="" v-model="newpass" placeholder="请输入新登录密码"
					placeholder-style="color:#ccc">
			</view>
		</view>
		<view class="ipt">
			<view class="" style="flex-shrink: 0;">
				确认密码
			</view>
			<view class="">
				<input password="" type="number" v-model="renewpass" placeholder="请输入确认密码"
					placeholder-style="color:#ccc">
			</view>
		</view>
		<view class="btn" @click="updatePassword">
			完成修改
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				phone: '',
				pass: '',
				newpass: '',
				renewpass: '',
				code: '',
				codeShow: true,
				timer: null,
				count:''
			}
		},
		onLoad(option) {
			this.phone = option.phone
		},
		methods: {

			async sendsms() {
				if (this.phone == '') {
					this.$toast("请输入手机号")
				}
				var data = {
					tel: this.phone
				}
				let res = await uni.$u.http.post('api/publics/sendsms', data)
				if (res.status == 0) {
					this.$toast(res.msg)
					const TIME_COUNT = 60;
					if (!this.timer) {
						this.count = TIME_COUNT;
						this.codeShow = false;
						this.timer = setInterval(() => {
							if (this.count > 0 && this.count <= TIME_COUNT) {
								this.count--;
							} else {
								this.codeShow = true;
								clearInterval(this.timer);
								this.timer = null;
							}
						}, 1000)
					}

				} else {
					this.$toast(res.msg)
				}
			},

			async updatePassword() {
				let code = this.code
				let newpass = this.newpass.replace(/\s+/g, '')
				let renewpass = this.renewpass.replace(/\s+/g, '')
				if (code == "") {
					this.$toast('验证码不能为空')
					return
				}
				if (newpass == '') {
					this.$toast('新登录密码不能为空')
					return
				}
				if (renewpass == '') {
					this.$toast('请输入确认密码')
					return
				}

				var data = {
					// pass:pass,
					code: code,
					newpass: newpass,
					renewpass: renewpass
				}
				let res = await uni.$u.http.post('/api/userLc/password', data)
				if (res.code == 200) {
					this.$toast(res.msg)
					this.goBack()
				}
				if (!res.code) {
					this.$toast(res.msg + '请重新输入')
					this.code = ''
					this.newpass = ''
					this.renewpass = ''
				}

			}
		}
	}
</script>

<style lang="scss" scoped>
	page {
		background: #fff;
	}
	.page-view {
		padding: 30rpx;
	}
	.input1, .ipt {
		height: 100rpx;
		display: flex;
		align-items: center;
	}
	.ipt {
		display: flex;
		justify-content: space-between;
		border-bottom: 0.1rpx solid #ddd;
		padding: 20rpx;

		input {
			text-align: right;
		}
	}

	.input1 {
		display: flex;
		justify-content: space-between;
		border-bottom: 0.1rpx solid #ddd;
		padding: 20rpx;



		input {
			text-align: right;
		}

		.validation {
			flex-shrink: 0;
			margin-left: 20rpx;
			border-radius: 2rem;
			border: 0.05rem solid #334383;
			padding: 0.1rem 1rem;
			color: #334383;
			font-size: 0.9rem
		}
	}

	.btn {
		height: 80rpx;
		line-height: 80rpx;
		background-color: #334383;
		color: #fff;
		text-align: center;
		margin: 30rpx 0;
		border-radius: 20rpx;
	}
</style>
