<template>
	<view>
		<!-- <view class="ipt">
			<view class="">
				原登录密码
			</view>
			<view class="">
				<input type="text" v-model="pass" placeholder="请输入登录密码" placeholder-style="color:#ccc">
			</view>
		</view> -->
 
		<view class="ipt">
			<view class="" style="flex-shrink: 0;">
				新昵称
			</view>
			<view class="">
				<input value="" type="text"  v-model="newpass" placeholder="请输入新昵称" placeholder-style="color:#ccc">
			</view>
		</view>
 
		<view class="btn" @click="updateName">
			完成修改
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				pass:'',
				newpass:'',
				renewpass:'',
				// duanxin:true,
				code: '',
				codeShow: true,
			}
		},
		onLoad() {

		},
		methods: {
			
			async sendsms() {
				if (this.phone == '') {
					this.$toast("请输入手机号")
				}
				var data = {
					tel: this.phone
				}
				let res = await uni.$u.http.post('api/publics/sendsms', data)
				if(res.status==0){
					this.$toast(res.msg)
					const TIME_COUNT = 60;
					if (!this.timer) {
					         this.count = TIME_COUNT;
					         this.codeShow = false;
					         this.timer = setInterval(() => {
					            if (this.count > 0 && this.count <= TIME_COUNT) {
					               this.count--;
					            } else {
					               this.codeShow = true;
					               clearInterval(this.timer);
					               this.timer = null;
					            }
					         }, 1000)
					      }
			
				}else{
					this.$toast(res.msg)
				}
			},
			
			async updateName(){
				// let pass = this.pass.replace(/\s+/g, '')
				let code=this.code
				let newpass = this.newpass.replace(/\s+/g, '')
				let renewpass = this.renewpass.replace(/\s+/g, '')
				// console.log(pass)
				// if (pass==''){
				// 	this.$toast('原登录密码不能为空')
				// 	return
				// }
 
				if (newpass==''){
					this.$toast('新昵称不能为空')
					return
				} 
				
				var data = {
					name:newpass 
				}
				let res = await uni.$u.http.post('/api/UserLc/editNickname',data)
				console.log(res)
				if(res.code==200){
					this.$toast(res.msg)
					this.goBack()
				}
				if(!res.code){
					this.$toast(res.msg)
					this.code = ''
					this.newpass = ''
					this.renewpass = ''
					this.goBack()
				}
				
			}
		}
	}
</script>

<style lang="scss">
	.ipt {
		display: flex;
		justify-content: space-between;
		border-bottom: 0.1rpx solid #ddd;
		padding: 20rpx;

		input {
			text-align: right;
		}
	}
	.input1 {
		display: flex;
		justify-content: space-between;
		border-bottom: 0.1rpx solid #ddd;
		padding: 20rpx;
	
		
	
		input {
			text-align: right;
		}
	
		.validation {
			flex-shrink: 0;
			margin-left: 20rpx;
			border-radius: 2rem;
			border: 0.05rem solid blue;
			padding: 0.1rem 1rem;
			color: blue;
			font-size: 0.9rem
		}
	}

	.btn {
		background-color: #cc2c2c;
		color: #fff;
		text-align: center;
		padding: 18rpx;
		margin: 30rpx;
		border-radius: 10rpx;
	}
</style>
