<template>
	<view>
		<view class="cell_group">
			<view v-for="(item,index) in cellGroup" v-if="check || item.templates == 'bluev3' ">
				<view @tap="clickHandler(item,index)" class="cellGroup">
					<image :src="$imgUrl(item.thumb_url)" class="cellGroup_icon" mode='aspectFit' />
					<!-- <image :src="item.icon" class="cellGroup_icon" mode='aspectFit' /> -->
					<view class="cellGroup_content">
						<text class="cellGroup_text">{{item.name}}</text>
						<image :src="item.leftIcon || '/'" v-if="!item.leftText" class="cellGroup_leftIcon">
							<text v-else class="cellGroup_leftText">{{item.leftText}}</text>
					</view>
					<view class="arrow-left">
						<u-icon name='arrow-right' color='#ccc' size='14'></u-icon>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		emits: ['clickHandler'],
		props: {
			title: {
				type: String,
			},
			cellGroup: {
				type: Array,
			},
			check: {
				type: Boolean,
				default: false
			}
		},
		methods: {
			//单击事件
			clickHandler(item, index) {
				//存在url，跳转url页面
				if (item.url) {
					this.goByPath(item.url)
				} else {
					this.goByPath('/pages/home/detail/index', {
						myDetail: item
					})
				}

			},

		}
	}
</script>

<style lang="scss" scoped>

	.cell_group {
		width: 90%;
		margin: 0 auto;
		margin-top: 30rpx;
	}

	.cellGroup {
		display: flex;
		margin: 14rpx 0;
		height: 100rpx;
		background-color: #fff;
		justify-content: space-between;
		align-items: center;
	}

	.cellGroup_icon {
		width: 40rpx;
		height: 40rpx;
		flex: 0 1 100rpx;
	}

	.cellGroup_content {
		flex: 1;
	}
	
	.arrow-left {
		flex: 0 1 30rpx;
	}

	.cellGroup_text {
		font-size: 30rpx;
		font-weight: 500;
		color: #6D6767;
	}

	.cellGroup_leftIcon {
		float: right;
		width: 10px;
		height: 14px;
		padding-top: 14px;
	}

	.cellGroup_leftText {
		float: right;
		color: #909399;
		padding-top: 17.5px;
	}
</style>
