<template>
	<view>
		<view :class="title?'cell_title':''">
			<text>{{title}}</text>
		</view>
		<view class="cell_list">
			<view v-for="(item,index) in cellList">
				<view class="cellList" @tap="clickHandler(item,index)">
					<!-- 左侧图标：自定义iconfont中图标；自定义图标样式（默认图标长宽20px） -->
					<image :src="item.iconfont" class="cellList_icon">
						<!-- 右侧内容：数组中最后一行没下划线 -->
						<view :class="index===cellList.length-1?'cellList_border_final':'cellList_border'">
							<!-- 名称 -->
							<text class="cellList_text">{{item.text}}</text>
							<!-- 右侧：默认显示图标是向右，也可以选择自定义文字 -->
							<image :src='item.leftIcon || "../../static/iconfont/right.png"' v-if="!item.leftText"
								class="cellList_leftIcon">
								<text v-else class="cellList_leftText">{{item.leftText}}</text>
						</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		emits: ['clickHandler'],
		props: {
			title: {
				type: String,
			},
			cellList: {
				type: Array,
			},
		},
		data() {
			return {}
		},
		methods: {
			//单击事件
			clickHandler(item, index) {
				//存在url，跳转url页面
				if (item.url) {
					uni.navigateTo({
						url: item.url
					})
				}
				this.$emit('clickHandler', {
					item: item,
					index: index
				})
			},
		}
	}
</script>

<style lang="scss" scoped>
	.cell_title {
		font-size: 12px;
		color: #909399;
		margin: 15px 20px 0px 20px;
	}

	.cell_list {
		// margin: 10px;
		// border-radius: 10px;
		// background-color: #fff;
	}

	.cellList {
		display: flex;
		height: 55px;
		padding: 0 0 0 20px;
		margin-bottom: 10rpx;
		background-color: #fff;
	}

	.cellList_icon {
		width: 20px;
		height: 20px;
		margin-top: 17.5px;
	}

	.cellList_border {
		border-bottom: 1px solid #EAEBEC;
		width: 100%;
	}

	.cellList_border_final {
		width: 100%;
	}

	.cellList_text {
		font-size: 16px;
		color: #222;
		line-height: 55px;
		margin: 0 15px;
	}

	.cellList_leftIcon {
		float: right;
		padding: 0 20px 0 0;
		width: 15px;
		height: 15px;
		margin-top: 20px;
	}

	.cellList_leftText {
		float: right;
		color: #909399;
		margin-top: 20px;
	}
</style>
