<template>
	<view class="container">
		<view class="info">
			<view class="have">
				<view class="str">账户可用余额 </view>
				<view class="money">
					￥ <text>{{ user.amount }}</text>元
				</view>
			</view>
			<view class="have">
				<view class="str">项目可认购金额</view>
				<view class="money">
					<text>{{infoData.investable }}</text>元
					<!-- <text>{{Number(infoData.investable).toFixed(2) }}</text>元 -->
				</view>
			</view>
		</view>

		<view class="table">
			<view class="item">
				<text>起购金额</text>
				<view>￥
					<text class="blue s18">{{ infoData.qtje }}</text> 元
				</view>
			</view>

			<view class="item">
				<text>认购限额</text>
				<view>￥
					<text class="blue s18">{{ infoData.zgje }}</text> 元
				</view>
			</view>
			<view class="item">
				<text>结算时间</text>
				<view>满 
					<text class="blue s18">{{
			            infoData.hkfs == 2
			                ? infoData.shijian + '个小时'
			                : '24小时'
			        }}</text> 自动结息
				</view>
			</view>
			<view class="item">
				<text>认购金额</text>
				<view class="right">
					<image src="../../static/invest/jianhao.png" class="icon" @click="numChangeDown"></image>
					<input type="number" v-model="inputValue" />
					<image src="../../static/invest/jiahao.png" class="icon" @click="numChangeUp"></image>
				</view>
			</view>
			<view class="item s14">
				<text> </text>
				<view>最低认购
				 <text class="blue">{{ infoData.qtje }}</text>元，递增一次为 
				 <text class="blue">{{ infoData.qtje }}</text>元</view>
			</view>

			<view class="btn" @click="invest()"> 立即认购 </view>
		</view>
		<view class="keyborad" v-if="show_key == true" :style="{
		        transform: show_key ? 'translateY(0)' : 'translateY(100%)',
		        height: header + 'px',
		    }">
			<view class="key_main">
				<view class="main_title">
					<image src="/static/del_1.png" mode="aspectFill" @tap="hideFun"></image>
					<text>请输入支付密码</text>
				</view>
				<view class="main_content">
					<view class="content_num">
						<view v-for="item in inputArray" :key="item" class="content_item">
							{{ pwdPay[item - 1] ? '●' : '' }}
						</view>
					</view>
					<!-- <view class="main_forget" @tap="forgetFun">忘记密码</view> -->
				</view>
				<view class="main_keyboard">
					<view class="key_num" v-for="item in numberArray" :key="item" @tap="inputNumFun({ num: item })">
						{{ item }}
					</view>
					<view class="key_null"></view>
					<view class="key_0" @tap="inputNumFun({ num: 0 })">0</view>
					<view class="key_del" @tap="delNumFun">
						<image src="/static/del_2.png" mode="aspectFill">返回</image>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				inputArray: [1, 2, 3, 4, 5, 6], //输入密码的长度
				numberArray: [1, 2, 3, 4, 5, 6, 7, 8, 9], //密码键盘的数字
				inputValue: 0,
				productId: '',
				show_key: false,
				list: [],
				list1: [],
				list2: [],
				user: {},
				infoData: {},
				pwdPay: '',
				header: 0,
				select1: '',
				select2: '',
				options1: [],
				options2: []
			}
		},
		onLoad(option) {
			console.log(option);
			var params = JSON.parse(option.params)
			this.productId = params.id
			this.getUser()
			this.getproduct()
			this.getCoupon()
		},
		onShow() {
			this.getUser()
			this.getproduct()
			this.getCoupon()
			// #ifdef APP-PLUS
			let _this = this;
			uni.getSystemInfo({
				success(res) {
					_this.header = res.windowHeight
					console.log(res.windowHeight)
				}
			})
			console.log(this.header)
			// #endif
			// #ifdef H5
			this.header = document.body.clientHeight
			// #endif
			this.pwdPay = ''
		},
		watch: {
			pwdPay() {
				let key = this.show_key
				if (key == false) {
					this.pwdPay = ''
				}
			},
		},
		methods: {
			//  change(e){
			//      console.log('select = ',this.select1)
			// },
			// change2(e){
			//      console.log('select = ',this.select1)
			// },
			hideFun() {
				this.show_key = false
			},
			delNumFun() {
				this.show_key = false
				this.pwdPay = ''
			},
			inputNumFun(op) {
				let _this = this
				if (_this.pwdPay.length <= 6) {
					_this.pwdPay += op.num
					if (_this.pwdPay.length == 6) {
						// _this.$emit('getpwdPay', {
						// 	pwdPay: _this.pwdPay
						// })
						// uni.showModal({
						// 	title: '密码',
						// 	content: _this.pwdPay,
						_this.success()
						// })
					}
				}
			},




			numChangeUp() {
				this.inputValue = parseInt(this.inputValue) + this.infoData.qtje
			},
			//优惠券
			async getCoupon() {
				let res = await uni.$u.http.post('/api/money/ProductCoupon', {
					'productid': this.productId
				})
				if (res.profitList) {
					this.options1 = res.profitList.map(item => ({
						value: item.couponsid,
						label: item.cname
					}))
				}
				if (res.couponList) {
					this.options2 = res.couponList.map(item => ({
						value: item.couponsid,
						label: item.cname
					}))
				}

			},

			numChangeDown() {
				if (this.inputValue <= this.infoData.qtje) {
					this.inputValue = this.inputValue
				} else {
					this.inputValue -= this.infoData.qtje
				}
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
				console.log(this.user)
			},
			async getproduct() {
				let res = await uni.$u.http.post('/api/index/product',{
					id: this.productId,
					uid: uni.getStorageSync('userid'),
				})
				if (res.msg == '获取成功') {
					this.infoData = res.data
					this.inputValue = this.infoData.qtje
				}
				this.infoData = res.data
			},
			async invest() {
				// let certification = await uni.$u.http.post('/api/userLc/my')

				// if (certification.data && certification.data.state != 2) {
				// 	uni.showToast({
				// 		title: "未实名认证",
				// 		icon: 'none',
				// 		position: "bottom"
				// 	});
				// } else {
				// 	this.show_key = true
				// }
				// if(this.infoData.ktje-this.infoData.amount_invested < 0) {
				// 	uni.showToast({
				// 		title: "认购金额已满",
				// 		icon: 'none',
				// 	});
				// 	return
				// }
				if (this.user.is_certification == 0) {
					uni.showToast({
						title: "未实名认证",
						icon: 'none',
					});
					return
				}
				this.show_key = true
				// else if (this.pwdPay == "") {
				// 	uni.showToast({
				// 		title: "请输入支付密码",
				// 		icon: 'none',
				// 		position: "bottom"
				// 	});
				// } 


			},
			async success() {
				let res = await uni.$u.http.post('/api/userLc/nowToMoney', {
					idPay: this.infoData.id,
					amountPay: this.inputValue,
					ratecoupon: this.select1,
					cashcoupon: this.select2,
					pwdPay: this.pwdPay,
				})
				if (res.status == 0) {
					uni.showToast({
						title: "认购成功",
					})
					setTimeout(() => {
						uni.navigateTo({
							url: '/pages/Record/investmentRecord'
						})
					}, 1000)
					this.show_key = false
				} else {
					console.log(res)
					uni.showToast({
						icon: "认购失败",
						title: res.msg,
						icon: "none"
					})
					this.pwdPay = ""
				}
			}
		},
	}
</script>

<style lang="scss">
	.container {
		background: #fff;
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.info {
		margin: 20rpx 40rpx;
		box-sizing: border-box;
		background-color: #334383;
		color: #fff;
		display: flex;
		padding: 50rpx 34rpx;
		border-radius: 20rpx;
		box-sizing: border-box;
		justify-content: space-between;
	
		.have {
			flex: 0 1 48%;
			text-align: center;
			.str {
				margin-bottom: 30rpx;
				font-size: 26rpx;
			}
	
			.money {
				font-size: 30rpx;
				font-weight: 600;
			}
		}
	}

	


	.table {
		margin: 0 40rpx;
		box-sizing: border-box;
		.item {
			display: flex;
			height: 90rpx;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #eee;
			.s18 {
				font-size: 30rpx;
			}
			.s14 {
				font-size: 26rpx;
			}
			.blue {
				margin: 0 6rpx;
				color: #334383;
			}
			.right {
				display: flex;
				align-items: center;
				input {
					margin: 0 20rpx;
					width: 160rpx;
					text-align: center;
				}
		
				.icon {
					width: 36rpx;
					height: 36rpx;
				}
			}
		}
		
	}

	
	.item:last-child {
		.uni-input-placeholder {
			text-align: right;
			color: rgb(187, 187, 187);
			font-size: 14px;
		}
	}

	input {
		text-align: right;
	}

	.btn {
		height: 80rpx;
		text-align: center;
		color: #fff;
		background-color: #334383;
		line-height: 80rpx;
		margin-top: 40rpx;
		font-weight: 600;
		border-radius: 10rpx;
	}

	.keyborad {
		width: 100vw;
		position: fixed;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transform: translateY(100%);
		transition: all 0.4s;

		.key_main {
			width: 100vw;
			height: 900rpx;
			background: rgba(245, 245, 245, 0.9);
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.main_title {
				font-size: 34rpx;
				color: #000000;
				height: 100rpx;
				display: flex;
				align-items: center;
				letter-spacing: 2rpx;
				width: 100%;
				box-sizing: border-box;
				padding: 0px 20rpx;
				border-bottom: 2rpx solid #e1e1e1;

				image {
					width: 48rpx;
					height: 48rpx;
					position: relative;
					z-index: 10;
				}

				text {
					flex: 1;
					margin-left: -48rpx;
					display: flex;
					justify-content: center;
				}
			}

			.main_content {
				width: 100%;
				box-sizing: border-box;
				padding: 0px 30rpx;
				margin-top: 40rpx;

				.content_num {
					width: 100%;
					height: 100rpx;
					border: 2rpx solid #dbdbdb;
					border-radius: 10rpx;
					display: flex;
					align-items: center;

					.content_item {
						flex: 1;
						height: 100%;
						border-right: 2rpx solid #dbdbdb;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.content_item:last-child {
						border-right: none;
					}
				}

				.main_forget {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					font-size: 28rpx;
					color: #334383;
					margin-top: 40rpx;
				}
			}

			.main_keyboard {
				width: 100%;
				height: 500rpx;
				background: #ffffff;
				display: flex;
				flex-flow: wrap;

				.key_null,
				.key_del {
					background: #e2e7eb;
				}

				image {
					width: 48rpx;
					height: 48rpx;
				}

				.key_num,
				.key_null,
				.key_del,
				.key_0 {
					width: 250rpx;
					height: 125rpx;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.key_num {
					border-right: 2rpx solid #f1f4f4;
					border-bottom: 2rpx solid #f1f4f4;
					box-sizing: border-box;
				}

				.key_num:nth-child(8) {
					border-bottom: none;
				}

				.key_0 {
					border-top: 2rpx solid #f1f4f4;
				}
			}
		}
	}
</style>
