<template>
	<view class="container page-view">
		<view class="top">
			<view class="top-card">
				<view class="code">
					<!-- 132456 -->
				</view>
				<!-- <view class="money flex-r">
					<text>剩余金额(元)</text>
					<image v-if='showEye' src="../../static/invest/detail/yanjing.png" @click='showEye=false' mode="aspectFit" />
					<image v-else src="../../static/invest/detail/yanjing2.png" @click='showEye=true' mode="aspectFit"></image>
				</view>
				<view v-if='showEye' class='shengyu'>{{sheng.toFixed(2)}}</view>
				<view v-else class='shengyu'>********</view>
				<view class='xiangou'>{{infoData.qtje}} 起</view> -->
				<view class="shouyi flex-r">
					<view class="left flex-c">
						<view class='txt' v-if="infoData.hkfs==0">日收益率</view>
						<view class='txt' v-if="infoData.hkfs==5">日收益率</view>
						<view class='txt' v-if="infoData.hkfs==6">日收益率</view>
						<view class='txt' v-if="infoData.hkfs==7">周收益率</view>
						<view class='txt' v-if="infoData.hkfs==8">月收益率</view>
						<view class="num">
							<text class='small'>+</text>
							{{infoData.jyrsy}}%
						</view>
					</view>
					<view class="center flex-c">
						<view class="txt">
							投资周期
						</view>
						<view class="num">
							{{infoData.shijian}}
							<text class='small' v-if="infoData.hkfs==0">日</text>
							<text class='small' v-if="infoData.hkfs==5">日</text>
							<text class='small' v-if="infoData.hkfs==6">日</text>
							<text class='small' v-if="infoData.hkfs==7">周</text>
							<text class='small' v-if="infoData.hkfs==8">月</text>
						</view>
					</view>
					<view class="right">
						<view class="txt">
							起投金额
						</view>
						<view class="num">
							<view class='big'>{{infoData.qtje}}<text class='small'>元</text></view>
							<view>限购{{infoData.futoucishu}}份</view>
						</view>
					</view>
				</view>
				<!-- <view class="name">
					{{infoData.title}}
				</view> -->
		
				<view class="progress">
					<text>项目进度</text>
					<ai-progress class="shite" :percentage="infoData.xmjd?infoData.xmjd:0" bg-color="#F0BEA3 " in-bg-color=" #000">
					</ai-progress>
				</view>
			</view>
		</view>

		<view class="tab-list">
			<view class="tab" v-for="(item,index) in tabList" :key="index" @click="changeTab(index)">
				<view class="name" :class="activeTab==index?'redName':''">
					{{item}}
				</view>
				<view :class="activeTab==index?'red':''" class="red-line"></view>
			</view>
		</view>
		
		<view class="line-view"></view>
		<view class="tab-one" v-if="activeTab==0">
			<uni-table  emptyText="暂无更多数据" >
				<uni-tr>
					<uni-td class="definition">项目名称</uni-td>
					<uni-td class="illustrate">{{infoData.title}}</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">项目金额</uni-td>
					<uni-td class="illustrate">
					<text style='color: #3f5295'>{{infoData.xmgm}}</text>万元人民币
					</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">收益率</uni-td>
					<uni-td class="illustrate">按每{{infoData.hkfs == 7 ? '周': infoData.hkfs==8? '月':'日'}} {{infoData.jyrsy}}%的收益（保本保息）</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">项目周期</uni-td>
					<uni-td class="illustrate">
							<text style='color: #3f5295'>{{infoData.shijian}}</text>
							<text v-if="infoData.hkfs==0">个自然日</text>
							<text v-if="infoData.hkfs==5">个自然日</text>
							<text v-if="infoData.hkfs==6">个自然日</text>
							<text v-if="infoData.hkfs==7">个周</text>
							<text v-if="infoData.hkfs==8">个月</text></uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">认购份额</uni-td>
					<uni-td class="illustrate">每份{{infoData.qtje}}元（限购{{infoData.futoucishu}}份）</uni-td>
				</uni-tr>
				
				<uni-tr>
					<uni-td class="definition">收益计算</uni-td>
					<uni-td class="illustrate">
					
							认购金额*{{ infoData.jyrsy }}%*{{infoData.shijian}}{{infoData.hkfs == 7 ? '周': infoData.hkfs==8? '月':'日'}}=总收益
						

					</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">还款方式</uni-td>
					<uni-td class="illustrate">
						<text v-if='infoData.hkfs==5'>按日收益到期返本</text>
						<text v-if='infoData.hkfs==6'>按日收益到期返本息</text>
						<text v-if='infoData.hkfs==7'>按周收益到期返本</text>
						<text v-if='infoData.hkfs==8'>按月收益到期返本</text>
					</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">可投金额</uni-td>
					<uni-td class="illustrate">
					<!-- <text style='color: #3f5295'>{{infoData.ktje}}</text></uni-td> -->
					<text >平台产品未投满，会员可自由托管</text></uni-td>
					
				</uni-tr>
				
				<uni-tr v-if="Number(infoData.zzsyl) > 0">
					<uni-td class="definition">增值收益率</uni-td>
					<uni-td class="illustrate">
						{{infoData.zzsyl}}%（项目周期结束后发放）
					</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">限购等级</uni-td>
					<uni-td class="illustrate">
					{{infoData.level==1?'普通会员':infoData.level==2?'V1会员'
						:infoData.level==3?'V2会员':infoData.level==4?'V3会员'
						:infoData.level==5?'V4会员':infoData.level==6?'V5会员'
						:infoData.level==7?'V6会员':infoData.level==8?'V7会员'
						:infoData.level==9?'V8会员':infoData.level==10?'V9会员'
						:'V10会员'}}
						
						</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">团队等级</uni-td>
					<uni-td class="illustrate">
					{{infoData.team_level_id==1?'一级团队长':infoData.team_level_id==2?'二级团队长'
						:infoData.team_level_id==3?'三级团队长':infoData.team_level_id==4?'四级团队长'
						:infoData.team_level_id==5?'五级团队长':infoData.team_level_id==6?'六级团队长'
						:infoData.team_level_id==7?'七级团队长':infoData.team_level_id==8?'八级团队长'
						:infoData.team_level_id==9?'九级团队长':'普通团队长'}}
						
						</uni-td>
				</uni-tr>
				
				<uni-tr>
					<uni-td class="definition">承保机构</uni-td>
					<uni-td class="illustrateleft">{{infoData.bljg}}对平台上的每一笔投资提供100%本息保障，  平台设立风险储备金，对本金承诺全额垫付。</uni-td>
				</uni-tr>
				<uni-tr>
					<uni-td class="definition">项目概述</uni-td>
					<uni-td class="illustrateleft">
						本项目筹集资金
						<span style="color:red">{{infoData.xmgm}}万元</span>人民币，所筹集资金用于该项目直投运作，受中国银保监会和香港证监会联合监管。
					</uni-td>
				</uni-tr>
				<!-- <uni-tr v-if="infoData.tzzt == -1">
					<uni-td class="definition">倒计时</uni-td>
					<uni-td class="illustrate">
						<span style="color:red">{{getdaojishi(infoData.countdown,newDate)}}</span>
					</uni-td>
				</uni-tr> -->
			</uni-table>

		</view>
		<view class="tab-two" v-if="activeTab== 1">
			 <!-- <view class="item-img" style="margin-top: 20rpx;">
				<image :src="$imgUrl(infoData.pic)" style="height: 240rpx; width: 100%; "></image>
			</view> -->
			<view class="introduction">
				<view class="title">项目简介</view>
				<view class="text" v-html="infoData.content">
				</view>
			</view>
		</view>


		<view class="bottom" v-if="infoData.tzzt != -1">
			<view class="btn-tozi btn-tozibg" @click="goTouzi(infoData.id)">
				{{infoData.xmjd >= 100 ? '已投满' : '立即申购'}}
			</view>
		</view>
		
		<view class="bottom" v-else>
			<view class="btn-tozi" style="background: #999999;">待发布</view>
		</view>
		
		<view class="question" v-if="false">
			<view class="title">
				常见问题
			</view>
			<view class="que-list">
				<view class="item">
					<view class="up">
						<view class="icon icon1">
							<image src="../../static/invest/detail/wen.png"></image>
						</view>
						<text>该产品起息，到账规则是什么?</text>
						<image class="down-icon" src="../../static/more.png" @click="Isshow1=0"></image>
					</view>
					<view class="down"  v-if="Isshow1==0">
						<view class= "icon icon2">
							<image src="../../static/invest/detail/da.png"></image>
						</view>
						<text class="answer">该产品随时存入，当天即起息，存入后若按产品期限持有到期，则按满期支取收益率兑付本息。</text>
					</view>
				</view>
				<view class="item">
					<view class="up">
						<view class="icon icon1">
							<image src="../../static/invest/detail/wen.png"></image>
						</view>
						<text>该产品如何计算收益？</text>
						<image class="down-icon" src="../../static/more.png" @click="Isshow1=1"></image>
					</view>
					<view class="down" v-if="Isshow1==1">
						<view class= "icon icon2">
							<image src="../../static/invest/detail/da.png"></image>
						</view>
						<text class="answer">认购金额*日收益率*项目周期=总收益<br />认购金额*日收益率*项目周期+认购金额 = 总计本息</text>
					</view>
				</view>
				<view class="item">
					<view class="up">
						<view class="icon icon1">
							<image src="../../static/invest/detail/wen.png"></image>
						</view>
						<text>认购产品有风险吗？</text>
						<image class="down-icon" src="../../static/more.png" @click="Isshow1=2"></image>
					</view>
					<view class="down" v-if="Isshow1==2">
						<view class= "icon icon2">
							<image src="../../static/invest/detail/da.png"></image>
						</view>
						<text class="answer">中国证监会提供监管(项目)对平台上的每一笔认购资金提供100%本息保障，平台设立风险备用金，对本金承诺全额垫付。</text>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				showEye: true,
				activeTab: 0,
				tabList: ["投资详情", "投资说明"],
				tableData: [],
				sheng:0,
				infoData: {},
				productId: 0,
				useramount:'',
				Isshow1:-1,
				Isshow2:false,
				newDate: ''
			};
		},
		onLoad(option) {
			this.currentTime()
			if(option.params){
				var params = JSON.parse(option.params)
				console.log(params);
			}
			this.productId = params.id
			this.getproduct()
			this.getUser()
			
		},
		onShow() {
			uni.showLoading()
			this.getUser()
		},
		methods: {
			getdaojishi(val, newDate) {
				let time = (new Date(val.replace(/-/g, '/')).getTime()) / 1000;
				var newtime = (time - newDate)
				if (newtime > 0) {
					return this.timeStamp(newtime)
				} else {
					return '--'
				}
			},
			timeStamp(second_time) {
				var time = parseInt(second_time) + "秒";
				if (parseInt(second_time) > 60) {
					var second = parseInt(second_time) % 60;
					var min = parseInt(second_time / 60);
					time = min + "分" 
					if (min > 60) {
						min = parseInt(second_time / 60) % 60;
						var hour = parseInt(parseInt(second_time / 60) / 60);
						time = hour + "小时" + min + "分" 
						if (hour > 24) {
							hour = parseInt(parseInt(second_time / 60) / 60) % 24;
							var day = parseInt(parseInt(parseInt(second_time / 60) / 60) / 24);
							time = day + "天" + hour + "小时" + min + "分" 
						}
					}
				}
				return time;
			},
			currentTime() {
				setInterval(this.formatDate, 1000);
			},
			formatDate() {
				this.newDate = parseInt(new Date().getTime() / 1000)
			},
			async getproduct() {
				let res = await uni.$u.http.post('/api/index/product',{
					id: this.productId,
					uid: uni.getStorageSync('userid'),
				})
				if (res.msg == "获取成功") {
					this.infoData = res.data
				}
				this.sheng=(this.infoData.xmgm-this.infoData.xmgm*this.infoData.xmjd/100)*10000
				this.infoData = res.data
				uni.setNavigationBarTitle({
					title: res.data.title
				})
			},
			changeTab(index) {
				this.activeTab = index
			},
			goTouzi(id) {
				if (this.infoData.xmjd >= 100) {
					uni.showToast({
						title: '已投满',
						icon: 'none'
					})
					return
				}
				this.goByPath('/pages/invest/bidImmediately', {
					id: id
				})
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.useramount = res.amount
				uni.hideLoading()
			},
		}
	}
</script>

<style scoped lang="scss">
	page {
		background: #fff;
	}
	view {
		box-sizing: border-box;
	}
	.top{
		width: 100%;
		height: 400rpx;
		background: #eee;
		background: url('../../static/invest/detail/headbg.png');
		background-size: 100% 100%;
		color: #fff;
		
		.top-card{
			height: 422rpx;
			padding: 20rpx 30rpx;
			box-sizing: border-box;
			color: #000;
			.code {
				margin-top: 10rpx;
				width: 100%;
				text-align: center;
				font-size: 30rpx;
				font-weight: 400;
				color: #C3CEE5;
				line-height: 30rpx;
			}
			.money {
				color: #EDD2A3;
				font-size: 24rpx;
				align-items: center;
				image {
					margin-left: 20rpx;
					width: 26rpx;
					height: 20rpx;
				}
			}
			.shengyu {
				font-size: 48rpx;
				color: #EDD2A3;
			}
			.xiangou {
				font-size: 28rpx;
				font-weight: 500;
				color: #C3CEE5;
			}
			.shouyi {
				color: #fff;
				width: 100%;
				margin-top: 40rpx;
				justify-content: space-between;
				
				.left {
					flex: 0 1 33%;
					.num {
						margin-top: 40rpx;
						font-size: 54rpx;
						line-height: 54rpx;
						color: #DEC29B;
						.small {
							font-size: 48rpx;
						}
					}
				}
				.center {
					flex: 0 1 33%;
					justify-content: normal;
					.num {
						margin-top: 40rpx;
						font-size: 54rpx;
						line-height: 54rpx;
						color: #fff;
						.small {
							font-size: 30rpx;
						}
					}
				}
				.right {
					flex: 0 1 33%;
					text-align: right;
					.num {
						margin-top: 32rpx;
						font-size: 28rpx;
						font-weight: 400;
						color: #D5DEF5;
						line-height: 28rpx;
						.big {
							font-size: 48rpx;
							font-weight: 400;
							color: #FFFFFF;
							line-height: 48rpx;
						}
						.small {
							font-size: 24rpx;
						}
					}
				}
				// .flex-c {
				// 	justify-content: space-between;
				// }
				// .center {
				// 	height: 100%;
				// 	margin: 0 140rpx 0 124rpx;
				// }
				// .txt {
				// 	color: #fff;
				// 	line-height: 26rpx;
				// }
				// .right {
				// 	.num {
				// 		color: #C3CEE5;
				// 	}
				// }
				// .num {
				// 	font-size: 50rpx;
				// 	line-height: 50rpx;
				// 	color: #E9C6AA;
				// }
				// .small {
				// 	font-size: 26rpx;
				// }
			}
			.name{
				margin-bottom: 10rpx;
				font-size: 16px;
			}
			.progress {
				margin-top: 40rpx;
				display: flex;
				align-items: center;
				color: #fff;
				.shite {
					flex: 1;
					margin-left: 12rpx;
				}
			}
			.tags{
				display: flex;
				
				.tag{
					width: 100%;
					margin-right: 10rpx;
					font-size: 16px;
					font-weight: bold;
					border: 1rpx solid #fff;
					border-radius: 12rpx;
					padding: 10rpx 40rpx;
					text-align: center;
				}
			}
		}
	}
	

	.tab-list {
		margin-top: 40rpx;
		background-color: #fff;
		display: flex;
		font-size: 30rpx;
		color: #949393;
		.tab {
			.name {
				margin: 2rpx 20rpx 2rpx;
			}
			.redName{
				color: #000;
				font-weight: 600;
			}
		
			.red-line {
				width: 30rpx;
				height: 4px;
				margin: 0 auto;
			}
		
			.red {
				background-color: #242f57;
			}
		}
	}

	.line-view {
		width: 750rpx;
		height: 18rpx;
		background: #f6fafd;
	}
	
	.tab-one {
		padding: 30rpx 0;
		/deep/ .uni-table-td {
			padding: 8rpx 20rpx 8rpx 12rpx;
		}
		.definition {
			width: 23%;
			font-size: 12px;    
			letter-spacing: 1rpx;
			color: #b6b6b6;
			border: none;
		}
		
		.illustrateleft {
			width: 77%;
			text-align: left !important;
			font-size: 12px;    
			letter-spacing: 1rpx;
			color: #000;
			border: none;
		}
		.illustrate {
			width: 77%;
			text-align: right !important;
			font-size: 12px;    
			letter-spacing: 1rpx;
			color: #000;
			border: none;
		}
	}

	.tab-two {
		.introduction {
			background-color: #fff;
			padding: 20rpx 36rpx 20rpx 36rpx;
			box-sizing: border-box;

			.title {
				text-align: center;
				font-size: 30rpx;
				font-weight: 600;
				margin-top: 10rpx;
				margin-bottom: 20rpx;
			}

			.text {
				font-size: 13px;
				color: #949393;
			}
		}
	}
	
	.bottom {
		display: flex;
		align-items: center;
		width: 480rpx;
		margin: 60rpx auto 0;
		padding-bottom: 200rpx;
		.btn-tozi {
			width: 100%;
			height: 90rpx;
			margin: 0 auto;
			text-align: center;
			line-height: 90rpx;
			color: #fff;
			font-size: 18px;
		}
		.btn-tozibg {
			background: url('../../static/invest/detail/btnbg.png');
			background-size: 100% 100%;
		}
	}

	

	.question{
		margin-top: 20rpx;
		background-color: #FFF;
		padding: 40rpx;
		box-sizing: border-box;
		.item{
			border-bottom: 4rpx solid #eaedf5;
			margin-bottom: 30rpx;
			padding-bottom:20rpx;
		}
		.title{
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 40rpx;
		}
		.up,.down{
			display: flex;
			align-items: center;
			position: relative;
		}
		.icon{
			width: 56rpx;
			text-align: center;
			height: 56rpx;
			font-size: 16px;
			line-height: 56rpx;
			margin-right: 20rpx;
			border-radius: 50%;
		}
		.icon1{
			
			color: #fff;
		}
		.icon1 image{
			width: 100%;
			height: 100%;
		}
		.icon2{
			
			background-color: #fff;
			position: absolute;
			    top: 0px;
				
		}
		.icon2 image{
			width: 100%;
			height: 100%;
		}
		.down{
			    margin-top: 40rpx;
		}
		.answer{
			margin-left: 20rpx;
			text-indent: 56rpx;
			line-height: 1.8;
			color: #9e9e9e;
			
		}
		.down-icon{
			width: 44rpx;
			height: 28rpx;
			position: absolute;
			right: 0;
		}
	}
	

	
</style>
