<template>
	<view class="container page-view" style='padding-top: 110rpx'>
		<view class="" v-if="tabList.length > 0">
			<y-tabs v-model="activeTab" animated swipeable swipeAnimated :isLazyRender="false" type="button"  :ellipsis="false">
				<y-tab v-for="(item, index) in tabList" :title="item.name" :key="index">
						<!-- lower-threshold='100px' -->
						<!-- style='height: calc(100vh - 100rpx);' -->
					<scroll-view class="scroll-wrap" scroll-y
						:refresher-enabled='true'
						refresher-background='#fbf9f7'
						@refresherrefresh='refresherrefresh'
						:refresher-triggered='triggered'
					>
						<view style="min-height: calc(100vh - 400rpx); padding-bottom: 160rpx;">
							<view class="list" v-for="item in dataList"  @click="goByPath('/pages/invest/detail',{id:item.id})">
								<view class="header">
									{{ item.title }}
								</view>
								<view class="content flex-r">
									<view class="left flex-c">
										<view class='flex-r'>
											<view class='txt'>起购价</view>
											<view>
												<text>{{item.qtje}}元</text>
											</view>
										</view>
										<view class='flex-r'>
											<view class='txt'>项目周期</view>
											<view>
												<text>{{item.shijian}}</text>
												<text v-if="item.hkfs==0">日</text>
												<text v-if="item.hkfs==5">日</text>
												<text v-if="item.hkfs==6">日</text>
												<text v-if="item.hkfs==7">周</text>
												<text v-if="item.hkfs==8">月</text>
											</view>
										</view>
										<view class='flex-r'>
											<view class='txt' v-if="item.hkfs==5">日收益率</view>
											<view class='txt' v-if="item.hkfs==6">日收益率</view>
											<view class='txt' v-if="item.hkfs==7">周收益率</view>
											<view class='txt' v-if="item.hkfs==8">月收益率</view>
											<view>
												<text>{{item.jyrsy}}%</text>
											</view>
										</view>
									</view>
									
									<view class="center">
										<arprogress
											:percent="Number(item.xmjd)" 
											width="130" 
											bgColor="rgba(255,255,255,0)"
											inactiveColor="#dfcbb2" 
											activeColor='#31468c'
										>
											{{item.xmjd}}%
										</arprogress>
									</view>
									<view class="right">
										<view class='guimo'>
											<view>{{item.xmgm}}万元</view>
											<text>项目规模</text>
										</view>
										<view class="shengou flex-r">
											<view class="img">
												<image src="@/static/home/index/diamond.png" mode="aspectFit"></image>
											</view>
											<view class="">
												{{item.xmjd >= 100 ? '已投满' : '立即申购'}}
											</view>
											
										</view>
									</view>
								
								</view>
							
							</view>
						</view>
					</scroll-view>
				</y-tab>
			</y-tabs>
		</view>
	</view>
</template>

<script>
	import arprogress from '@/components/ar-circle-progress/index.vue'
	export default {
		components: {
			arprogress
		},
		data() {
			return {
				activeTab: 0,
				tabList: ['新手推荐', '稳定收益', 'SVIP尊享'],
				
				// 接口数据
				producesList: [],
				triggered: false,
				page: 1,
				
			}
		},
		onShow() {
			this.getInit()
			this.getProduces(10)
			this.getProduces(500)
		},
		onLoad() {
			this.getInit()
			uni.showLoading()
			this.getProduces(10)
			.then(() => {
				uni.hideLoading()
			})
			this.getProduces(500)
		},
		watch: {
			activeTab(index) {
				this.activeTab = index
			}
		},
		computed: {
			dataList() {
				let id = this.tabList[this.activeTab].id
				return this.producesList.filter(item=> item.category_id == id)
			}
		},
		onShow() {
			this.getProduces(10)
			.then(() => {
				uni.hideLoading()
			})
			this.getProduces(500)
		},
		methods: {
			refresherrefresh() {
				if (this.triggered) return
				this.triggered = true
				this.getProduces(10)
				this.getProduces(500)
			},
			async getInit() {
				let res = await uni.$u.http.get('/api/index/index')
				var data = res
				this.tabList = data.productsCategory
			},
			async getProduces(pagesize) {
				try {
					let res = await uni.$u.http.post('/api/index/products', {
						page: this.page,
						pagesize
					})
					if (res.type == 1) {
						this.producesList = res.list
					}
				} catch(e) {
					console.log(e);
				}
				this.triggered = false
				return Promise.resolve()
			}
		},
	}
</script>

<style scoped lang="scss">
	view {
		box-sizing: border-box;
	}
	
	
	
	.container {
		background-color: #fbf9f7;
		position: absolute;
		width: 100%;
		min-height: calc(100vh - 160rpx);
		
		/deep/ #tab_0, /deep/ #tab_1,  /deep/ #tab_2 {
			position: relative;
			.yui-tab__text {
				&:before {
					position: absolute;
					left: -40rpx;
					top: 0rpx;
					content: '';
					display: inline-block;
					width: 30rpx;
					height: 30rpx;
					background-size: 100% 100%;
					vertical-align: middle;
				}
			}
		}
		/deep/ #tab_2 {
			.yui-tab__text {
				&:before {
					background-image: url('@/static/invest/tab3.png');
				}
			}
		}
		/deep/ #tab_0,{
			.yui-tab__text {
				&:before {
					background-image: url('@/static/invest/tab1.png');
				}
			}
		}
		/deep/ #tab_1 {
			.yui-tab__text {
				&:before {
					background-image: url('@/static/invest/tab2.png');
				}
			}
		}
		
		/deep/ .yui-tabs__wrap {
			background: #fbf9f7;
			height: 120rpx;
			position: fixed;
			/*  #ifdef  H5  */
			top: 80rpx;
			/*  #endif  */
			/*  #ifndef  H5  */
			top: 0;
			/*  #endif  */
			left: 0;
			right: 0;
			z-index: 99999;
			.yui-tab {
				background: #E9ECF6;
				border-radius: 16rpx;
				height: 60rpx;
				line-height: 60rpx;
				.yui-tab__text {
					color: #3C5197;
					font-size: 24rpx;
				}
			}
			.yui-tab--active {
				background: #3C5197;
				.yui-tab__text {
					color: #DFCBB2;
				}
			}
		}
	
		.list {
			width: 700rpx;
			height: 280rpx;
			margin: 26rpx auto 0;
			background: #fff;
			border-radius: 20rpx;
			position: relative;
			.header {
				min-width: 250rpx;
				display: inline-block;
				background: #3C5197;
				padding: 0 20rpx;
				height: 60rpx;
				text-align: center;
				line-height: 60rpx;
				color: #fff;
				border-top-left-radius: 20rpx;
				border-bottom-right-radius: 20rpx;
				font-size: 30rpx;
			}
			.content {
				width: 100%;
				padding: 0 24rpx;
				height: 154rpx;
				justify-content: space-between;
				margin-top: 36rpx;
				
				.left {
					justify-content: space-between;
					.txt {
						width: 140rpx;
						font-size: 26rpx;
					}
					text {
						font-size: 26rpx;
						color: #31468C;
					}
				}
				.right {
					text-align: center;
					.guimo {
						font-size: 28rpx;
						color: #000000;
						margin-bottom: 10rpx;
						view {
							margin-bottom: 10rpx;
							color: #D4C2AE;
							line-height: 30rpx;
						}
					}
					.shengou {
						width: 160rpx;
						height: 60rpx;
						background: #31468c;
						border-radius: 6rpx;
						color: #DFCBB2;
						overflow: hidden;
						.img {
							flex: 0 1 42rpx;
							background: #dfcbb2;
							image {
								width: 26rpx;
								height: 26rpx;
							}
						}
						view {
							font-size: 24rpx;
							flex: 1;
							display: flex;
							justify-content: center;
							align-items: center;
						}
					}
				}
			}
		}
	}
</style>
