<template>
	<view class="page-view" v-if='list.length'>
		<view class="title">
			<text>笑话内容</text>
		</view>
		<view class="list">
			<view class="item" v-for='(item,i) in list' :key='i'>
				<view class="item-title">
					{{i+1}}.{{item.title}}
				</view>
				<view class="item-content">
					<view v-for='(m,n) in item.text' v-if='m'>
						{{n}}. {{m}}
					</view>
				</view>
			</view>
		</view>
		<view class="btn">
			<view class="" @click='getData'>
				<image src='@/static/home/smile/shuaxin.png'></image>
				<text>刷新加载更多</text>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				list: [],
				page: Math.floor(Math.random() * 90 + 5),
				maxResult: 3,
				str: ""
			}
		},
		onShow() {
			this.getData()
			// console.log(this.str.split(/\d+、/g))
		},
		methods: {
			async getData() {
				uni.showLoading()
				let res = await uni.$u.http.post('/api/index/joke', {
					page: this.page,
					maxResult: this.maxResult
				})
				res.data.forEach(item => {
					item.text = item.text.split(/\d+、/g)
				})
				this.list = this.list.concat(res.data)
				this.page ++
				uni.hideLoading()
			}
		}
	}
</script>

<style scoped lang='scss'>
	page {
		background: #fff;
	}
	.page-view {
		padding: 50rpx 25rpx;
		.title {
			font-size: 32rpx;
			font-weight: 800;
			color: #515956;
			line-height: 32rpx;
			margin-bottom: 32rpx;
		}
		.list {
			.item {
				margin-top: 32rpx;
				padding-bottom: 30rpx;
				border-bottom: 1px solid #eee;
				&:last-child {
					border-bottom: none;
				}
				.item-title {
					font-size: 28rpx;
					font-weight: bold;
					color: #515956;
					line-height: 28rpx;
					margin-bottom: 24rpx;
				}
				.item-content {
					font-size: 24rpx;
					font-weight: 500;
					color: #515956;
					line-height: 36rpx;
					opacity: 0.83;
					view {
						margin-top: 14rpx;
						text-indent: 2em;
					}
				}
			}
		}
		.btn {
			width: 100%;
			height: 106rpx;
			margin-top: 230rpx;
			background: url('@/static/my/chongzhi/btn-lg.png');
			background-size: 100% 100%;
			view {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				image {
					width: 40rpx;
					height: 36rpx;
					margin-right: 12rpx;
				}
				text {
					font-size: 30rpx;
					font-weight: 500;
					color: #FFFFFF;
				}
			}
		}
	}
</style>