<template>
	<view class='page-view' style='background: #fff'>

		<view class="active1">
			<view class="head">
				<text>尊敬的阿仕特朗会员，以下是您在阿仕特朗的推广记录，敬请审阅</text>
			</view>
			<view class="info">
				<view class="mt20 flex-r">
					<view class="">
						<text>截至日期：</text>
						{{$u.timeFormat(Date.now(), 'yy-mm-dd')}}
					</view>
				</view>
				<view class="">
					<text>推广记录：</text>
					{{downData.length}}
				</view>
			</view>
			<uni-table ref="table" emptyText="暂无更多数据">
				<uni-tr style="background-color: #f1f1f1; height: 62rpx;">
					<uni-th width="80" align="center" style="color: #606060; padding: 0;">账号</uni-th>
					<uni-th width="80" align="center" style="color: #606060; padding: 0;">头像</uni-th>
					<uni-th width="110" align="center" style="color: #606060;  padding: 0;">注册时间</uni-th>
				</uni-tr>
				<uni-tr style="height: 96rpx;" v-for="(item, index) in downData" :key="index" @row-click="$jump('./down?invicode='+item.invicode)">
					<uni-td align="center">{{ item.username }}</uni-td>
					<uni-td align="center">
						<view class='flex-r' style='justify-content: center;'>
							<u-icon name='photo' v-if='!item.picImg'></u-icon>
							<image v-else :src="$imgUrl(item.picImg)" mode="scaleToFill"></image>
						</view>
					</uni-td>
					<uni-td align="center">{{ item.created_at }}</uni-td>
				</uni-tr>
			</uni-table>
		</view>
	
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				downData: [],
			}
		},
		onLoad(option) {
			this.getData(option.invicode)
		},
		methods: {
			async getData(invicode) {
				let res = await uni.$u.http.post('/api/userLc/subordinate_user', {
					inviter: invicode
				})
				this.downData = res.list
			},
		}
	}
</script>

<style lang="scss" scoped>

	page {
		background: #f4f4f4;
	}
	
	.page-view {
		padding: 40rpx 25rpx 100rpx;
		min-height: 100vh;

	
		.active1, .active2, .active3 {
			.head {
				font-size: 26rpx;
				color: #000000;
				line-height: 36rpx;
			}
			.info {
				font-size: 26rpx;
				color: #30458A;
				line-height: 36rpx;
				margin-bottom: 30rpx;
				text {
					font-weight: 800;
				}
				view {
					justify-content: space-between;
					flex: 0 1 50%;
					text{
						font-size: 24rpx;
						line-height: 40rpx;
					}
				}
			}
			
		}
		
		/deep/ .uni-table-tr {
			uni-view {
				font-size: 22rpx;
			}
			.uni-table-th {
				padding: 4rpx 10rpx;
			}
			.uni-table-td {
				font-size: 22rpx;
				padding: 4rpx 10rpx;
			}
			image {
				width: 70rpx;
				height: 70rpx;
				border-radius: 50%;
				margin: 6rpx 0;
			}
			// font-size: 28rpx;
		}
	}

</style>
