<template>
	<view class='page-view' style='background: #f4f4f4'>

		<view class="active0">
			<view class="top-content">
				<view class="one">
					<view class='yaoqing'>邀请专属码</view>
					<view class="code flex-r">
						<text class="zhuanshuma">{{user.invicode}}</text>
						<image src="../../static/my/yaoqing/fuzhiwenjian.png" @click="copy(user.invicode)" mode="aspectFit"></image>
					</view>
					<view class="tab-area flex-r">
						<view class="btn" @tap="changeType('0')">
							<image src="../../static/my/yaoqing/android.png" mode="aspectFit"></image>
							androiud
						</view>
						<view class="btn" @tap="changeType('1')">
							<image src="../../static/my/yaoqing/ios.png" mode="aspectFit"></image>
							ios
						</view>
					</view>
				</view>
				<view class="two"></view>
				<view class="three">
					<text>1.尊敬的会员，以下是你的平台邀请链接</text>
					<view v-if="type==0" class="oneline">
						{{anzhuoSrc}}
						<image src="../../static/my/yaoqing/fuzhiwenjian.png" @click="copy(anzhuoSrc)" mode="aspectFit"></image>
					</view>
					<view v-else class="oneline">
						{{iosSrc}}
						<image src="../../static/my/yaoqing/fuzhiwenjian.png" @click="copy(iosSrc)" mode="aspectFit"></image>
					</view>
					<view class='smcode'>
						<view v-if='anzhuoSrc'>
							<uqrcode v-show='type==0' ref="uqrcode" sizeUnit='rpx' size='146' canvas-id="qrcode" :value="anzhuoSrc"></uqrcode>
						</view>
						<view v-if='iosSrc'>
							<uqrcode v-show='type==1' ref="uqrcode1" sizeUnit='rpx' size='146' canvas-id="qrcode" :value="iosSrc"></uqrcode>
						</view>
						
						
					</view>
				</view>
			</view>
			<view class="bottom-content">
				<view class="title flex-r">
					<image src="../../static/my/yaoqing/left-jb.png" mode="aspectFit"></image>
					<text>邀请好礼</text>
					<image src="../../static/my/yaoqing/right-jb.png" mode="aspectFit"></image>
				</view>
				<view class="txt">
					您可以通过QQ、微信，微博，邮件等方式把推荐注册链接发送给您的好友，成功注册并充值投资，您将获得此好友投资项目金额1%-5%的奖金(根据不同的项目有不同的返佣金额)，奖金详细和比例请您查看各项目的详细说明。用户不得自己推荐自己如发现将冻结用户非法获得的佣金。
				</view>
			</view>
		</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				data: {},
				list: [],
				count: {},
				user: {},
				userRecord: [],
				// 0 安卓 1 iOS
				type: 0,
				iosSrc: '',
				anzhuoSrc: '',
				isTan: false,
				huiyuan: '',
				memberrecharge: "",
				memberwithdrawal: "",
			}
		},
		onLoad() {
			this.getUser()
			this.complete()
			this.getRecord()
		},
		methods: {

	
			
			async getRecord() {
				var data = {
					page: this.page.currentPage
				}
				let res = await uni.$u.http.post('/api/money/record', data)
				var list = res.list
				this.data = list
				this.userRecord = list
				this.tableData = res.alllist
				this.count = res.count
				this.total = this.tableData.length;
				this.userRecord = this.tableData.slice(
					(this.pageIndex - 1) * this.pageSize,
					this.pageIndex * this.pageSize
				);
			},

			async complete() {
				let res1 = await uni.$u.http.post('/api/index/getConfig?keyname=AppDownloadUrlIOS')
				let res2 = await uni.$u.http.post('/api/index/getConfig?keyname=AppDownloadUrlapk')
				this.iosSrc = res1
				this.anzhuoSrc = res2
				this.$nextTick(() => {
					
				this.$refs.uqrcode.make()
				})
			},
			changeType(type) {
				if (type == 0) {
					this.type = 0
					this.$refs.uqrcode.make()
				} else {
					this.type = 1
					this.$refs.uqrcode1.make()
				}
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
			},


			copy(text) {
				uni.setClipboardData({
					data: text
				});
				uni.showToast({
					title: "复制成功",
					icon: 'none'
				})
			}
		}
	}
</script>

<style lang="scss" scoped>

	page {
		background: #f4f4f4;
	}
	
	.page-view {
		padding: 40rpx 25rpx 100rpx;
		min-height: 100vh;

		.active0 {
			.top-content {
				width: 100%;
				padding-bottom: 50rpx;
				background: #fff;
				border-radius: 20rpx;
				padding-top: 75rpx;
				text-align: center;
				.one {
					.yaoqing {
						font-size: 30rpx;
						font-weight: bold;
						color: #272727;
						line-height: 30rpx;
					}
					.code {
						justify-content: center;
						align-items: center;
						margin-top: 40rpx;
						.zhuanshuma {
							font-size: 40rpx;
							color: #31468B;
							line-height: 40rpx;
						}
						image {
							width: 30rpx;
							height: 30rpx;
							margin-left: 10rpx;
						}
					}
					.tab-area {
						margin-top: 50rpx;
						justify-content: center;
						.btn {
							width: 220rpx;
							height: 82rpx;
							background: #475CA2;
							border-radius: 20rpx;
							margin: 0 22rpx;
							color: #fff;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 26rpx;
							image {
								width: 46rpx;
								height: 46rpx;
								margin-right: 8rpx;
							}
						}
					}
				}
				.two {
					margin-top: 80rpx;
					border-bottom: 1px dashed #ccc;
					position: relative;
					&:after {
						content: '';
						width: 20rpx;
						height: 20rpx;
						background: #f4f4f4;
						position: absolute;
						border-radius: 50%;
						top: -10rpx;
						left: -10rpx;
					}
					&:before {
						content: '';
						width: 20rpx;
						height: 20rpx;
						background: #f4f4f4;
						position: absolute;
						border-radius: 50%;
						top: -10rpx;
						right: -10rpx;
					}
				}
				.three {
					margin-top: 40rpx;
					text, .oneline {
						width: 500rpx;
						margin: 0 auto;
						display: flex;
						align-items: center;
						margin-top: 10rpx;
						image {
							width: 66rpx;
							height: 46rpx;
							margin-left: 12rpx;
						}
					}
					.smcode {
						width: 146rpx;
						height: 146rpx;
						margin: 20rpx auto 0;
					}
				}
			}
			.bottom-content {
				padding: 42rpx 24rpx 58rpx;
				border-radius: 20rpx;
				background: #fff;
				margin-top: 24rpx;
				
				.title {
					align-items: center;
					justify-content: center;
					image {
						width: 68rpx;
						height: 10rpx;
					}
					text {
						margin: 0 20rpx;
					}
				}
				.txt {
					margin-top: 56rpx;
					font-size: 26rpx;
					color: #282828;
					line-height: 48rpx;
				}
				
			}
			
			
		
		}

		
	}

</style>
