<template>
	<view class='page-view' :style='{background: active ? "#fff" : "#f4f4f4"}'>
		<view class="header-tabbar">
			<view class="list flex-r">
				<view :class='{active: active==0}' @click='active=0' class="item">我要推广</view>
				<view :class='{active: active==1}' @click='active=1' class="item">推广下线</view>
				<view :class='{active: active==2}' @click='active=2' class="item">下线收支</view>
				<view :class='{active: active==3}' @click='active=3' class="item">下线分成</view>
			</view>
		</view>
		<view class="active0" v-if='active==0'>
			<view class="top-content">
				<view class="one">
					<view class='yaoqing'>邀请专属码</view>
					<view class="code flex-r">
						<text class="zhuanshuma">{{user.invicode}}</text>
						<image src="../../static/my/yaoqing/fuzhiwenjian.png" @click="copy(user.invicode)" mode="aspectFit"></image>
					</view>
					<view class="tab-area flex-r">
						<view class="btn" @tap="changeType('0')">
							<image src="../../static/my/yaoqing/android.png" mode="aspectFit"></image>
							androiud
						</view>
						<view class="btn" @tap="changeType('1')">
							<image src="../../static/my/yaoqing/ios.png" mode="aspectFit"></image>
							ios
						</view>
					</view>
				</view>
				<view class="two"></view>
				<view class="three">
					<text>1.尊敬的会员，以下是你的平台邀请链接</text>
					<view v-if="type==0" class="oneline">
						{{anzhuoSrc}}
						<image src="../../static/my/yaoqing/fuzhiwenjian.png" @click="copy(anzhuoSrc)" mode="scaleToFill"></image>
					</view>
					<view v-else class="oneline">
						{{iosSrc}}
						<image src="../../static/my/yaoqing/fuzhiwenjian.png" @click="copy(iosSrc)" mode="scaleToFill"></image>
					</view>
					<view class='smcode' v-if="ismake">
						<uqrcode v-if="type==0" ref="uqrcode" sizeUnit='rpx' size='146' canvas-id="qrcode" :value="anzhuoSrc"></uqrcode>
						<uqrcode v-else ref="uqrcode" sizeUnit='rpx' size='146' canvas-id="qrcode" :value="iosSrc"></uqrcode>
					</view>
				</view>
			</view>
			<view class="bottom-content">
				<view class="title flex-r">
					<image src="../../static/my/yaoqing/left-jb.png" mode="aspectFit"></image>
					<text>邀请好礼</text>
					<image src="../../static/my/yaoqing/right-jb.png" mode="aspectFit"></image>
				</view>
				<view class="txt">
					您可以通过00、微信，微博，邮件等方式把推荐注册链接发送给您的好友，成功注册并充值投资，您将获得此好友投资项目金额1%-5%的奖金(根据不同的项目有不同的返佣金额)，奖金详细和比例请您查看各项目的详细说明。用户不得自己推荐自己如发现将冻结用户非法获得的佣金。
				</view>
			</view>
		</view>
		<view class="active1" v-if='active==1'>
			<view class="head">
				<text>尊敬的阿仕特朗会员，以下是您在阿仕特朗的推广记录，敬请审阅</text>
			</view>
			<view class="info">
				<view class="mt20 flex-r">
					<view class="">
						<text>截至日期：</text>
						{{$u.timeFormat(Date.now(), 'yy-mm-dd')}}
					</view>
				</view>
				<view class="">
					<text>推广记录：</text>
					{{tableData.length}}
				</view>
			</view>
			<uni-table ref="table" emptyText="暂无更多数据">
				<uni-tr style="background-color: #f1f1f1; height: 62rpx;">
					<uni-th width="80" align="center" style="color: #606060; padding: 0;">下线账号</uni-th>
					<uni-th width="80" align="center" style="color: #606060; padding: 0;">下线层级</uni-th>
					<uni-th width="110" align="center" style="color: #606060;  padding: 0;">注册时间</uni-th>
				</uni-tr>
				<!-- @row-click="addCard(item)" -->
				<uni-tr style="height: 96rpx;" v-for="(item, index) in userRecord" :key="index">
					<uni-td align="center">{{ item.username }}</uni-td>
					<uni-td align="center">{{ item.cenji}}</uni-td>
					<uni-td align="center">{{ item.created_at }}</uni-td>
				</uni-tr>
			</uni-table>
			<view class="page" v-if="userRecord">
				<page-pagination :total="total" :pageSize="pageSize" :currentPage="pageIndex" :btnText="true" :numAround="true" :showPageSize="5" :showAround="true" @change="change">
				</page-pagination>
			</view>
		</view>
		<view class="active2" v-if='active==2'>
			<view class="head">
				<text>尊敬的阿仕特朗会员，以下是您在阿仕特朗的推广记录，敬请审阅</text>
			</view>
			<view class="info">
				<view class="mt20 flex-r">
					<view class="">
						<text>截至日期：</text>
						{{$u.timeFormat(Date.now(), 'yy-mm-dd')}}
					</view>
					<view class="">
						<text>下线总计充值：</text>
						{{count.allr}}
					</view>
				</view>
				<view class="flex-r">
					<view class="">
						<text>下线总计提款：</text>
						{{count.allw}}
					</view>
					<view class="">
						<text>下线投资总额：</text>
						{{count.allp}}
					</view>
				</view>
			</view>
			<uni-table ref="table" emptyText="暂无更多数据">
				<uni-tr style="background-color: #f1f1f1; height: 62rpx;">
					<uni-th width="55" align="center" style="color: #606060; padding: 0;">下线账号</uni-th>
					<uni-th width="55" align="center" style="color: #606060; padding: 0;">下线层级</uni-th>
					<uni-th width="70" align="center" style="color: #606060;  padding: 0;">注册时间</uni-th>
					<uni-th width="55" align="center" style="color: #606060;  padding: 0;">充值总额</uni-th>
					<uni-th width="55" align="center" style="color: #606060;  padding: 0;">提款金额</uni-th>
				</uni-tr>
				<uni-tr style="height: 96rpx;" v-for="(item, index) in userRecord" :key="index">
					<uni-td align="center">{{ item.username }}</uni-td>
					<uni-td align="center">{{ item.cenji}}</uni-td>
					<uni-td align="center">{{ item.created_at }}</uni-td>
					<uni-td align="center">{{item.memberrecharge}}</uni-td>
					<uni-td align="center">{{item.memberwithdrawal}}</uni-td>
				</uni-tr>
			</uni-table>
			<view class="page" v-if="userRecord">
				<page-pagination :total="total" :pageSize="pageSize" :currentPage="pageIndex" :btnText="true" :numAround="true" :showPageSize="5" :showAround="true" @change="change">
				</page-pagination>
			</view>
		</view>
		
		<view class="active3" v-if='active==3'>
			<view class="head">
				<text>尊敬的阿仕特朗会员，以下是您在阿仕特朗的推广记录，敬请审阅</text>
			</view>
			<view class="info">
				<view class="mt20">
					<text>截至日期：</text>
					{{$u.timeFormat(Date.now(), 'yy-mm-dd')}}
				</view>
				<view class="">
					<text>下线分成：</text>
					{{offlinePreamount}}
				</view>
			</view>
			<uni-table ref="table" emptyText="暂无更多数据">
				<uni-tr style="background-color: #f1f1f1; height: 62rpx;">
					<uni-th width="100" align="center" style="color: #606060; padding: 0;">分成时间</uni-th>
					<uni-th width="80" align="center" style="color: #606060; padding: 0;">下线会员账号</uni-th>
					<uni-th width="60" align="center" style="color: #606060;  padding: 0;">投资金额</uni-th>
					<uni-th width="60" align="center" style="color: #606060;  padding: 0;">抽成金额</uni-th>
					<uni-th width="55" align="center" style="color: #606060;  padding: 0;">状态</uni-th>
				</uni-tr>
				<uni-tr style="height: 96rpx;" v-for="(item, index) in offline" :key="index">
					<uni-td align="center">{{ item.date }}</uni-td>
					<uni-td align="center">{{ item.xxusername}}</uni-td>
					<uni-td align="center">{{ item.amount }}</uni-td>
					<uni-td align="center">{{item.preamount}}</uni-td>
					<uni-td align="center">{{item.status ? '成功':'失败'}}</uni-td>
				</uni-tr>
			</uni-table>
			<view class="page" v-if="offline">
				<page-pagination :total="offlineData.length" :pageSize="pageSize" :currentPage="pageIndex" :btnText="true" :numAround="true" :showPageSize="10" :showAround="true" @change="change3">
				</page-pagination>
			</view>
		</view>
		
		
		<!-- 弹窗 -->
		<view :class="isTan?'tanchuang':'notanchuang'">
			<view style="background-color: white;padding: 36rpx 46rpx;border-radius: 20rpx;">
				<view class="bor-btn hspace_between-vcenter" style="padding-bottom: 36rpx;">
					<view style="font-weight: 600;font-size: 16px;">
						会员信息
					</view>
					<view @click="isTan = false">
						<image src="/static/close.png" style="width: 40rpx;height: 40rpx;"></image>
					</view>
				</view>
				<view class="marbott bor-btn" style="display: flex;" v-if='huiyuan'>
					<view style="width: 150rpx;height: 44rpx;margin-right: 30rpx;">
						推荐会员：
					</view>
					<view style="flex-grow: 1;">
						{{huiyuan}}
					</view>
				</view>
				<view class="marbott bor-btn" style="display: flex;">
					<view style="width: 150rpx;height: 44rpx;margin-right: 30rpx;">
						总充值：
					</view>
					<view style="flex-grow: 1;">
						{{memberrecharge}}
					</view>
				</view>
				<view class="marbott bor-btn" style="display: flex;">
					<view style="width: 150rpx;height: 44rpx;margin-right: 30rpx;">
						总提现：
					</view>
					<view style="flex-grow: 1;">
						{{memberwithdrawal}}
					</view>
				</view>
				<view
					style="color: white;background-color: transparent;padding: 20rpx 0;text-align: center;border-radius: 10rpx;width: 60%;margin-top: 26rpx;margin-left: 50%;transform: translateX(-50%);color: transparent;">

				</view>
			</view>

		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				active: 0,
				tableData: [],
				total: 0, //总条数
				pageIndex: 1, //当前页数
				pageSize: 10, //一页展示10条
				page: {
					total: 1,
					pageSize: 10,
					currentPage: 1
				},
				data: {},
				list: [],
				count: {},
				user: {},
				userRecord: [],
				offline: [],
				offlineData: [],
				offlinePreamount: 0,
				
				// 0 安卓 1 iOS
				type: 0,
				iosSrc: '',
				anzhuoSrc: '',
				isTan: false,
				huiyuan: '',
				memberrecharge: "",
				memberwithdrawal: "",
				ismake: false
			}
		},
		onLoad() {
			this.getData()
			this.getUser()
			this.complete()
			this.getRecord()
		},
		methods: {
			// change(currentPage, type) {
			// 	this.page.currentPage = currentPage;
			// 	this.getRecord()
			// },
			change(pageIndex, type) {
				this.pageIndex = pageIndex;
				//this.getRecord()
				if (this.tableData) {
					if (pageIndex) {
						this.pageIndex = pageIndex;
					}
					this.userRecord = this.tableData.slice(
						(this.pageIndex - 1) * this.pageSize,
						this.pageIndex * this.pageSize
					);
				}
			},
			change3(n) {
				this.offline = this.offlineData.slice(n*10-10, n*10)
			},
			
			async getRecord() {
				var data = {
					page: this.page.currentPage
				}
				let res = await uni.$u.http.post('/api/money/record', data)
				var list = res.list
				this.data = list
				this.userRecord = list
				this.tableData = res.alllist
				this.count = res.count
				this.total = this.tableData.length;
				this.userRecord = this.tableData.slice(
					(this.pageIndex - 1) * this.pageSize,
					this.pageIndex * this.pageSize
				);
			},
			addCard(item) {
				this.isTan = !this.isTan
				this.huiyuan = item.realname
				this.memberrecharge = item.memberrecharge.toFixed(2)
				this.memberwithdrawal = item.memberwithdrawal.toFixed(2)
			},

			async complete() {
				let res1 = await uni.$u.http.post('/api/index/getConfig?keyname=AppDownloadUrlIOS')
				let res2 = await uni.$u.http.post('/api/index/getConfig?keyname=AppDownloadUrlapk')
				this.iosSrc = res1
				this.anzhuoSrc = res2
				this.ismake = true
			},
			changeType(type) {
				if (type == 0) {
					this.type = 0
				} else {
					this.type = 1
				}
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
			},
			async getData(n) {
				let res = await uni.$u.http.post('/api/Money/offline')
				this.offlineData = res.list
				this.offline = res.list.splice(0,10)
				res.list.forEach(item => {
					this.offlinePreamount += Number(item.preamount)
				})
			},
			

			copy(text) {
				uni.setClipboardData({
					data: text
				});
				uni.showToast({
					title: "复制成功",
					icon: 'none'
				})
			}
		}
	}
</script>

<style lang="scss" scoped>

	page {
		background: #f4f4f4;
	}
	
	.page-view {
		padding: 40rpx 25rpx 100rpx;
		min-height: 100vh;
		.header-tabbar {
			width: 100%;
			margin-bottom: 36rpx;
			.list {
				justify-content: space-between;
				.item {
					font-size: 26rpx;
					color: #292929;
					line-height: 26rpx;
				}
				.active {
					font-weight: 800;
				}
			}
		}
		
		.active0 {
			.top-content {
				width: 100%;
				padding-bottom: 50rpx;
				background: #fff;
				border-radius: 20rpx;
				padding-top: 75rpx;
				text-align: center;
				.one {
					.yaoqing {
						font-size: 30rpx;
						font-weight: bold;
						color: #272727;
						line-height: 30rpx;
					}
					.code {
						justify-content: center;
						align-items: center;
						margin-top: 40rpx;
						.zhuanshuma {
							font-size: 40rpx;
							color: #31468B;
							line-height: 40rpx;
						}
						image {
							width: 30rpx;
							height: 30rpx;
							margin-left: 10rpx;
						}
					}
					.tab-area {
						margin-top: 50rpx;
						justify-content: center;
						.btn {
							width: 220rpx;
							height: 82rpx;
							background: #475CA2;
							border-radius: 20rpx;
							margin: 0 22rpx;
							color: #fff;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 26rpx;
							image {
								width: 46rpx;
								height: 46rpx;
								margin-right: 8rpx;
							}
						}
					}
				}
				.two {
					margin-top: 80rpx;
					border-bottom: 1px dashed #ccc;
					position: relative;
					&:after {
						content: '';
						width: 20rpx;
						height: 20rpx;
						background: #f4f4f4;
						position: absolute;
						border-radius: 50%;
						top: -10rpx;
						left: -10rpx;
					}
					&:before {
						content: '';
						width: 20rpx;
						height: 20rpx;
						background: #f4f4f4;
						position: absolute;
						border-radius: 50%;
						top: -10rpx;
						right: -10rpx;
					}
				}
				.three {
					margin-top: 40rpx;
					text, .oneline {
						width: 500rpx;
						margin: 0 auto;
						display: flex;
						align-items: center;
						margin-top: 10rpx;
						image {
							width: 66rpx;
							height: 46rpx;
							margin-left: 12rpx;
						}
					}
					.smcode {
						width: 146rpx;
						height: 146rpx;
						margin: 20rpx auto 0;
					}
				}
			}
			.bottom-content {
				padding: 42rpx 24rpx 58rpx;
				border-radius: 20rpx;
				background: #fff;
				margin-top: 24rpx;
				
				.title {
					align-items: center;
					justify-content: center;
					image {
						width: 68rpx;
						height: 10rpx;
					}
					text {
						margin: 0 20rpx;
					}
				}
				.txt {
					margin-top: 56rpx;
					font-size: 26rpx;
					color: #282828;
					line-height: 48rpx;
				}
				
			}
			
			
		
		}

		.active1, .active2, .active3 {
			.head {
				font-size: 26rpx;
				color: #000000;
				line-height: 36rpx;
			}
			.info {
				font-size: 26rpx;
				color: #30458A;
				line-height: 36rpx;
				margin-bottom: 30rpx;
				text {
					font-weight: 800;
				}
				view {
					justify-content: space-between;
					flex: 0 1 50%;
					text{
						font-size: 24rpx;
						line-height: 40rpx;
					}
				}
			}
			
		}
	}

	/deep/ .uni-table-tr {
		uni-view {
			font-size: 22rpx;
		}
		.uni-table-th {
			padding: 4rpx 10rpx;
		}
		.uni-table-td {
			font-size: 22rpx;
			padding: 4rpx 10rpx;
		}
		// font-size: 28rpx;
	}

	.tanchuang {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 50% 26rpx;
		overflow: hidden;
	}

	.notanchuang {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		box-sizing: border-box;
		background-color: rgb(244, 245, 245);
		overflow: hidden;
	}




	.page {
		/deep/ .page-pagination .page-con .page-scroll-child .pag-btn.btn-ban{
			color: #000 !important;
		}
	}
</style>
