<template>
	<view class="page-view">
		<view class="top-bg"></view>
		<view class="card">
			<view class="top flex-r">
				<view class="image">
					<image :src="$imgUrl(user.picImg)" mode="aspectFill"></image>
				</view>
				<view class="name">
					<text class='tel'>{{user.username}} </text>
					<view class="flex-r mt10">
						<image src="../../static/home/vip/huiyuan.png" mode=""></image>
						<text>{{user.level}}</text>
					</view>
				</view>
			</view>
			<view class="bottom">
				<view class="flex-r">
					<view class="bg">
						<view class="white" :style='{width: user.experience/downLevel.inte * 100+"%"}'></view>
					</view>
					<view class="jifen">
						<!-- {{user.integral}}/{{downLevel.inte}} -->
						{{user.experience}}/{{downLevel.inte}}
					</view>
				</view>
				<view class="dengji mt20">
					<text>下一等级：{{downLevel.name}}</text>
				</view>
			</view>
		</view>
		<view class="levelinfo">
			<image src="../../static/home/vip/tit-left.png"></image>
			<text>等级说明</text>
			<image src="../../static/home/vip/tit-right.png"></image>
		</view>
		
		<view style="margin: 30rpx; padding-bottom: 30rpx;">
			<view class="table">
				<view class="tr">
					<view class="th">会员等级</view>
					<view class="th">认购额</view>
					<view class="th">加利率（%）</view>
				</view>
				
				<view class="tr white"  v-for="(item, index) in config" :key="index">
					<view class="td">{{ item.name }}</view>
					<view class="td">{{ item.inte}}</view>
					<view class="td">{{ item.rate }}</view>
				</view>
			</view>
		</view>
				
		
		<view class="paddingmain" v-if='false'>
			<view class="redcard">
				<view class="cardbottom">
					<image :src="$imgUrl(avimg.photo)" mode="aspectFill" class="avatar"></image>
					<view class="phone">
						<!-- {{user.username}} -->
					</view>
					<view class="level">
						{{user.level}}
					</view>
				</view>
			</view>
			<view class="levelinfo">
				<image src="../../static/levelleft.png"></image>
				<text>等级说明</text>
				<image src="../../static/levelright.png"></image>
			</view>
			<view style="margin: 30rpx; padding-bottom: 30rpx;">
				<view class="table">
					<view class="tr">
						<view class="th">会员等级</view>
						<view class="th">认购额</view>
						<view class="th">加利率（%）</view>
					</view>
					
					<view class="tr white"  v-for="(item, index) in config" :key="index">
						<view class="td">{{ item.name }}</view>
						<view class="td">{{ item.inte}}</view>
						<view class="td">{{ item.rate }}</view>
					</view>

				</view>
			</view>
		
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				userRecord: [],
				page: {
					total: 1,
					pageSize: 10,
					currentPage: 1
				},
				data: {},
				tab: ['一级', '二级', '三级'],
				detail: '',
				user: {},
				username: '',
				avimg: '',
				config: [],
				downLevel: {}
			}
		},
		onLoad() {
			// this.getConfig()
			this.getUser()
		},
		methods: {
			async getConfig() {
				let res = await uni.$u.http.post('/api/userLc/levelList')
				this.config = res.list
			},
			async getuserbase() {
				var data = {
					_token: uni.getStorageSync("token"),
				}
				let res = await uni.$u.http.post('/im/get/base', data)
				this.avimg = res.data.user_info
			},
			change(currentPage, type) {
				this.page.currentPage = currentPage;
				this.getRecord()
			},
			async getRecord() {
				var data = {
					page: this.page.currentPage
				}
				let res = await uni.$u.http.post('/api/money/record', data)
				var list = res.list
				this.data = list
				if (list.data || this.data.length > 0) {
					this.userRecord = list.data
				} else {
					this.userRecord = []
				}

				this.detail = res.count
			},
			async getUser() {
				uni.showLoading()
				let resolve = await uni.$u.http.post('/api/userLc/levelList')
				this.config = resolve.list
				let res = await uni.$u.http.post('/api/userLc/my')
				this.username = this.user.bankname
				this.user = res
				let item = this.config.findIndex(item => item.name == this.user.level)
				this.downLevel = this.config[item+1]
				uni.hideLoading()
			},
		}
	}
</script>

<style lang="scss" scoped>
	page {
		background-color: #f8f8f8;
	}
	view {
		box-sizing: border-box;
	}
	.page-view {
		width: 710rpx;
		padding-top: 60rpx;
		margin: 0 auto;
		.top-bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 300rpx;
			background: #334383;
			z-index: 1;
		}
		.card {
			width: 100%;
			height: 320rpx;
			background: url('../../static/home/vip/vipbg.png');
			background-size: 100% 100%;
			position: relative;
			z-index: 10;
			padding: 40rpx 20rpx;
			.top {
				.image {
					width: 100rpx;
					height: 100rpx;
					image {
						width: 100rpx;
						height: 100rpx;
						border-radius: 50%;
					}
				}
				.name {
					margin-left: 20rpx;
					.tel {
						font-size: 30rpx;
						font-weight: 800;
						color: #77370C;
						line-height: 30rpx;
					}
					.flex-r {
						width: 160rpx;
						align-items: center;
						height: 40rpx;
						padding: 0 10rpx;
						background: #fff;
						border-radius: 20rpx;
						font-size: 24rpx;
						color: #E1BD85;
						image {
							width: 32rpx;
							height: 32rpx;
							margin-right: 6rpx;
						}
					}
				}
			}
			.bottom {
				margin-top: 30rpx;
				.flex-r {
					align-items: center;
				}
				.bg {
					width: 360rpx;
					height: 20rpx;
					background: rgba(0,0,0,0.2);
					border-radius: 10px;
					overflow: hidden;
					.white {
						height: 20rpx;
						background: #fff;
						// border-radius: 10px;
					}
				}
				.jifen {
					margin-left: 20rpx;
				}
				.dengji {
					font-size: 28rpx;
					color: #77370C;
				}
			}
		}
		.levelinfo {
			margin-top: 38rpx;
			width: 100%;
			text-align: center;
			text {
				margin: 0 20rpx;
			}
			image {
				width: 84rpx;
				height: 10rpx;
				vertical-align: middle;
			}
		}
	}
	
	.table {
		position: relative;
		z-index: 999;
	}
	.table .tr {
		background-color: #3a4f95;
		display: flex;
		color: #fff;
		border-radius: 16rpx;
		padding: 24rpx 0;
		text-align: center;
	}
	.table .tr .th:nth-child(1){width: 40%;}
	.table .tr .th:nth-child(2){width: 30%;}
	.table .tr .th:nth-child(3){width: 30%;}
	.table .tr.white{background-color: #fff;color: #333;margin-top: 20rpx;}
	.table .tr .td:nth-child(1){width: 40%;}
	.table .tr .td:nth-child(2){width: 30%;}
	.table .tr .td:nth-child(3){width: 30%;}
	
</style>
