<template>
	<div>
		<uqrcode ref="uqrcode" canvas-id="qrcode" :options="{ margin: 10 }" :value="info"></uqrcode>
	</div>
</template>

<script>
	export default {
		props: {
			info: {
				type: String,
				default: function() {
					return {}
				}
			},
		},
		data() {
			return {}
		}
	}
</script>

<style scoped>

</style>
