<template>
	<view class="k-navbar" :style='{background: bg ? bg : ""}'>
		<view class="status-bar" :style='{background: statusbg ? statusbg : ""}'></view>
		<view class="navbar" :style='{background: navbarbg ? navbarbg : ""}'>
			<view class="left">
				<slot name='left'></slot>
			</view>
			<view class="center">
				<slot name='center'></slot>
			</view>
			<view class="right">
				<slot name='right'></slot>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props: {
			bg: '',
			statusbg: '',
			navbarbg: ''
		}
	}
</script>

<style scoped lang='scss'>
	.k-navbar {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 9999;
		
		.navbar {
			width: 100%;
			height: 80rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 10rpx;
			.left, .right {
				padding: 10rpx 20rpx;
				flex: 0 1 160rpx;
			}
			.center, .left, .right {
				line-height: 80rpx;
			}
			.center {
				font-weight: 800;
			}
			.right {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				text-align: right;
				image {
					vertical-align: middle;
				}
			}
		}
	}
	.status-bar {
		height: var(--status-bar-height);
	}
</style>