<template>
	<view class="container page-view">
		<view class="table">
			<uni-table ref="table" :loading="loading" stripe emptyText="暂无更多数据">
				<uni-tr style="background-color: #334383;">
					<uni-th width="100" align="center" style="color: #fff;">
						说明
					</uni-th>
					<uni-th width="60" align="center" style="color: #fff;">
						金额
					</uni-th>
					<uni-th width="80" align="center" style="color: #fff;">
						时间
					</uni-th>
				</uni-tr>
				<uni-tr v-for="(item, index) in tableData" :key="index">
					<uni-td align="center" class="gray">
						{{ item.moneylog_notice }}
					</uni-td>
					<uni-td align="center" :class="item.moneylog_status=='+'?'green':'red'">
						{{item.moneylog_status}}{{ item.moneylog_money }}</uni-td>
					<uni-td align="center">
						{{ item.date }}
					</uni-td>
				</uni-tr>
			</uni-table>
		</view>
		<view class="page" v-if="tableData.length">
			<page-pagination :total="page.total" :pageSize="page.pageSize" :currentPage="page.currentPage" :btnText="true" :numAround="true"  :showAround="true" @change="change" />
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				page: {
					total: 1,
					pageSize: 10,
					currentPage: 1
				},
				tableData: [],
				loading: false
			};
		},
		onLoad() {
			this.moneylog()
		},
		methods: {
			change(currentPage, type) {
				this.page.currentPage = currentPage;
				this.moneylog();
			},
			async moneylog() {
				var data = {
					page: this.page.currentPage,
					pagesize: this.page.pageSize,
					s_status: '',
				}
				let res = await uni.$u.http.post('/api/money/shouyi', data)
				var list = res.list
				this.data = list
				this.tableData = Object.values(list.data)
				this.page.total = res.list.total
			}
		}
	}
</script>

<style scoped lang="scss">

	page {
		background: #fff;
	}

	.page-view {
		width: 100%;
		margin: 0 auto;
		padding-top: 30rpx;

		.table {
			width: 100%;

			.uni-table-th {
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
			}

			.uni-table-td {
				padding: 16rpx 16rpx;
				line-height: 40rpx;
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
			}
		}
	}

	.green {
		color: #07AB2D;
		font-weight: 600;
	}

	.red {
		color: red;
		font-weight: 600;
	}

	.gray {
		color: #000;
		font-size: 24rpx;
	}

	.page {
		/deep/ .page-pagination .page-con .page-scroll-child .pag-btn.btn-ban {
			color: #000 !important;
		}
	}
</style>
