<template>
	<view style="position: relative;" ref="targetDom" id="pdfDom">
		<view v-html="hetong" class="hetong" style="position: relative;font-size: 12px;">

		</view>
	<!-- 	<image src="../../static/zhang.png" mode=""
			style="position: absolute;bottom:502rpx;left: 166rpx;width: 250rpx;height: 250rpx;image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering: crisp-edges;-ms-interpolation-mode:nearest-neighbor;" class="yinzhang2"></image> -->
		<!-- <view class="" style="position: absolute;left: 100rpx; bottom:900rpx;">
		
			<canvas style="height: 180px; width: 180px;" ref="yinzhang" canvas-id="yinzhang"></canvas>
		</view> -->
		<!-- <view class="" style="position: absolute;bottom:450rpx;left: 220rpx;">
			<canvas style="height: 160px; width: 160px;" ref="yinzhang" canvas-id="yinzhang"></canvas>
		</view> -->
		<view class="" style="position: absolute;bottom:-18px;left: 60px;">
			<canvas style="height: 160px; width: 160px;" ref="yinzhang1" canvas-id="yinzhang1"></canvas>
		</view>

		<!-- <u-parse :content="hetong"></u-parse> -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				hetong: '',
				uid: '',
				id: '',
				productid: '',
				sitename: '',
				companyName: '',
				title: '',
				htmlTitle: '页面导出PDF文件名'
			}
		},
		onLoad(options) {
			var uid = options.uid
			var id = options.id
			this.uid = options.uid
			this.productid = options.productid
			this.upload(uid, id);
		},
		onShow(options) {
			// this.$nextTick(() => {
			// 	this.canvasYinzhang()
			// 	this.canvasYinzhang()
			// })
		},

		methods: {
			down() {
				// let target = this.$refs.targetDom
				let target = document.querySelector('#targetDom') //ID获取节点对象
				this.$createPdf(target, '项目投资协议');
				// console.log(this.$createPdf)
			},

			async upload(uid, id) {
				// let res = await uni.$u.http.get(`/api/money/agreement?uid=${uid}&id=${id}&ppid=${id}`)
				let res = await uni.$u.http.get(`/api/money/agreement?ppid=${id}`)
				this.hetong = res
				// this.hetong = res.data.Pro.content
				this.getproduct()
			},
			async getproduct() {
				let res = await uni.$u.http.get('/api/index/product?id=' + this.productid)
				this.infoData = res.data
				let res1 = await uni.$u.http.get('/api/index/getCompany')
				this.companyName = res1.data
				this.$nextTick(() => {
					// this.canvasYinzhang()
					this.canvasYinzhang1()
				})
			},
			canvasYinzhang() {
				var context = uni.createCanvasContext('yinzhang');
				var text = "合同专用章";
				var companyName = this.companyName
				context.setLineCap('round'); //设置线两端端点样式更加圆润
				context.setLineJoin('round'); //设置两条线连接处更加圆润
				context.setStrokeStyle("#ff0000"); //设置线的颜色
				context.setLineWidth(5); //设置线条的宽度
				// context.moveTo(190, 100);
				context.arc(80, 80, 60, 0, Math.PI * 2); //宽、高、半径
				context.stroke();
				//绘制五角星
				this.create5star(context, 80, 80, 20, "#f00", 0);

				// 绘制印章名称   
				context.font = 'bold 14px 宋体';
				context.textBaseline = 'middle'; //设置文本的垂直对齐方式
				context.textAlign = 'center'; //设置文本的水平对对齐方式
				context.lineWidth = 1;
				context.fillStyle = '#f00';
				context.fillText(text, 80, 118);


				context.font = 'bold 12px 宋体';
				// context.fillText(companyName);
				// 绘制印章单位
				context.translate(80, 80); // 平移到此位置,
				// context.font = '20px 宋体';
				var count = companyName.length; // 字数
				// if (count > 14) { 
				// 	var maxCount = 18;
				// 	context.font = '16px 宋体'
				// 	if (companyName) {
				// 		var angle = 4 * Math.PI / 51; // 字间角度  
				// 	} else {
				// 		var angle = 4 * Math.PI / (3 * (count - 1)); // 字间角度  
				// 	}
				// } else {
				// 	var maxCount = 14;
				// 	context.font = '20px 宋体'
				// 	if (companyName) {
				// 		var angle = 4 * Math.PI / 39; // 字间角度  
				// 	} else {
				// 		var angle = 4 * Math.PI / (3 * (count - 1)); // 字间角度  
				// 	}
				// }
				var angle = 4 * Math.PI / (3 * (count - 1)); // 字间角度
				var chars = companyName.split("");
				var c;
				for (var i = 0; i < count; i++) {
					c = chars[i]; // 需要绘制的字符
					if (i == 0) {
						// if (companyName) {
						// 	context.rotate(5 * Math.PI / 6 + angle * ((maxCount - count) / 2));
						// } else {
						// 	context.rotate(5 * Math.PI / 6);
						// }
						context.rotate(5 * Math.PI / 6);
					} else {
						context.rotate(angle);
					}
					context.save();
					context.translate(48, 0); // 平移到此位置,此时字和x轴垂直，公司名称和最外圈的距离
					context.rotate(Math.PI / 2); // 旋转90度,让字平行于x轴
					// context.strokeText(c, 0, 0);// 此点为字的中心点
					context.setFillStyle("#ff0000"); //设置填充颜色
					context.fillText(c, 0, 0); //此点为字的中心点
					context.restore();
				}
				context.draw();

			},
			//绘制五角星
			create5star(context, sx, sy, radius, color, rotato) {
				context.setLineWidth(1);
				context.save();
				context.setFillStyle(color); //设置填充颜色
				context.translate(sx, sy); //移动坐标原点
				context.rotate(Math.PI + rotato); //旋转
				context.beginPath(); //创建路径
				var x = Math.sin(0);
				var y = Math.cos(0);
				var dig = Math.PI / 5 * 4;
				for (var i = 0; i < 5; i++) { //画五角星的五条边
					var x = Math.sin(i * dig);
					var y = Math.cos(i * dig);
					context.lineTo(x * radius, y * radius);
				}
				context.closePath();
				context.stroke();
				context.fill();
				context.restore();
			},


			canvasYinzhang1() {
				var context = uni.createCanvasContext('yinzhang1');
				var text = "保单专用章";
				var companyName = this.infoData.bljg
				context.setLineCap('round'); //设置线两端端点样式更加圆润
				context.setLineJoin('round'); //设置两条线连接处更加圆润
				context.setStrokeStyle("#ff0000"); //设置线的颜色
				context.setLineWidth(5); //设置线条的宽度
				// context.moveTo(190, 100);
				context.arc(80, 80, 60, 0, Math.PI * 2); //宽、高、半径
				context.stroke();
				//绘制五角星
				this.create5star1(context, 80, 80, 20, "#f00", 0);

				// 绘制印章名称   
				context.font = 'bold 14px 宋体';
				context.textBaseline = 'middle'; //设置文本的垂直对齐方式
				context.textAlign = 'center'; //设置文本的水平对对齐方式
				context.lineWidth = 1;
				context.fillStyle = '#f00';
				context.fillText(text, 80, 118);


				context.font = 'bold 15px 宋体';
				// context.fillText(companyName);
				// 绘制印章单位
				context.translate(80, 80); // 平移到此位置,
				// context.font = '20px 宋体';
				var count = companyName.length; // 字数
				// if (count > 14) {
				// 	var maxCount = 18;
				// 	context.font = '16px 宋体'
				// 	if (companyName) {
				// 		var angle = 4 * Math.PI / 51; // 字间角度  
				// 	} else {
				// 		var angle = 4 * Math.PI / (3 * (count - 1)); // 字间角度  
				// 	}
				// } else {
				// 	var maxCount = 14;
				// 	context.font = '20px 宋体'
				// 	if (companyName) {
				// 		var angle = 4 * Math.PI / 39; // 字间角度  
				// 	} else {
				// 		var angle = 4 * Math.PI / (3 * (count - 1)); // 字间角度  
				// 	}
				// }
				var angle = 4 * Math.PI / (3 * (count - 1)); // 字间角度
				var chars = companyName.split("");
				var c;
				for (var i = 0; i < count; i++) {
					c = chars[i]; // 需要绘制的字符
					if (i == 0) {
						// if (companyName) {
						// 	context.rotate(5 * Math.PI / 6 + angle * ((maxCount - count) / 2));
						// } else {
						// 	context.rotate(5 * Math.PI / 6);
						// }
						context.rotate(5 * Math.PI / 6);
					} else {
						context.rotate(angle);
					}
					context.save();
					context.translate(48, 0); // 平移到此位置,此时字和x轴垂直，公司名称和最外圈的距离
					context.rotate(Math.PI / 2); // 旋转90度,让字平行于x轴
					// context.strokeText(c, 0, 0);// 此点为字的中心点
					context.setFillStyle("#ff0000"); //设置填充颜色
					context.fillText(c, 0, 0); //此点为字的中心点
					context.restore();
				}
				context.draw();

			},
			//绘制五角星
			create5star1(context, sx, sy, radius, color, rotato) {
				context.setLineWidth(1);
				context.save();
				context.setFillStyle(color); //设置填充颜色
				context.translate(sx, sy); //移动坐标原点
				context.rotate(Math.PI + rotato); //旋转
				context.beginPath(); //创建路径
				var x = Math.sin(0);
				var y = Math.cos(0);
				var dig = Math.PI / 5 * 4;
				for (var i = 0; i < 5; i++) { //画五角星的五条边
					var x = Math.sin(i * dig);
					var y = Math.cos(i * dig);
					context.lineTo(x * radius, y * radius);
				}
				context.closePath();
				context.stroke();
				context.fill();
				context.restore();
			},

		}
	}
</script>

<style lang="scss" scoped>
	/deep/ .hetong #think_page_trace_open {
		display: none !important;
	}

	// page {
	// 	padding-bottom: 200rpx;
	// }

	.hetong {
		padding: 20rpx;
	}
	.yinzhang2 {
		image-rendering:-moz-crisp-edges;
			image-rendering:-o-crisp-edges;
			image-rendering:-webkit-optimize-contrast;
			image-rendering: crisp-edges;
			-ms-interpolation-mode:nearest-neighbor;
	}
</style>
