<template>
	<view class="container page-view" id="pdfDom1">
		<view class="table" v-if="he" ref='pdf'>
			<uni-table ref="table" :loading="loading" stripe emptyText="暂无更多数据">
				<uni-tr style="background-color: #334383;">
					<uni-th width="55" align="center" style="color: #fff;">
						认购产品
					</uni-th>
					<uni-th width="60" align="center" style="color: #fff;">
						认购状态
					</uni-th>
					<uni-th width="20" align="center" style="color: #fff;">
						协议
					</uni-th>
				</uni-tr>
				<uni-tr v-for="(item, index) in tableData" :key="index">
					<uni-td class="td-title" @click.native="upload(item.userid,item.id,item.productid,2)">
						<view class="small">
							名称：
							<text style="color: #3e5499;">{{ item.title }}</text>
						</view>
						<view class="small">
							收益率：
							<text style="color: #3e5499;">{{ item.jyrsy }}%</text>
						</view>
						<view class="small">
							认购期限：
							<text style="color: #3e5499;">
								{{ item.shijian }}{{ item.qxdw }}
							</text>
						</view>
						<view class="small">
							认购金额：
							<text style="color: #3e5499;">{{ item.amount }}</text>
						</view>
						<view class="small">
							认购收益：
							<text style="color: #3e5499;" v-if="item.status != 0">{{ item.redshouyi }} </text>
							<text style="color: #3e5499;" v-if="item.status == 0 && item.zzsyl > 0">
								+{{item.zzsyl}}
							</text>
						</view>
					</uni-td>
					<uni-td align="center" class="green" @click.native="upload(item.userid,item.id,item.productid,2)">
						<view class="td-title" style="color: #ff9900;" v-if="item.status == 0">
							<text>已结束</text>
						</view>
						<view class="td-title" style="color: #00A11D;" v-if="item.status == 1">
							<text>认购中</text>
						</view>
						<view class="td-title" style="color: #f00;" v-if="item.status == 2">
							<text>认购失败</text>
						</view>
					</uni-td>
					<uni-td align="center" class="td-title">
						<view>
							{{ item.date }}
						</view>
						</br>
						<view @click="upload(item.userid,item.id,item.productid,1)">
							下载合同
						</view>
					</uni-td>
				</uni-tr>
			</uni-table>

		</view>
		<view class="page" v-if="tableData.length" v-show="he">
			<page-pagination :total="data.total" :pageSize="data.pageSize" :currentPage="data.currentPage" :btnText="true" :numAround="true" :showPageSize="5" :showAround="true" @change="change" />
		</view>
		<MyContract :detail="pdfDetail" :key="pdfDetail.id" @handleClosePdf="handleClosePdf" />
		
	</view>
</template>

<script>
	import MyContract from '../../components/contract/hetong.vue'
	export default {
		components: {
			MyContract
		},
		data() {
			return {
				page: {
					total: 1,
					pageSize: 10,
					currentPage: 1
				},
				data: {},
				tableData: [],
				loading: false,
				he: true,
				hetong: '',
				pdfDetail: {},
			};
		},
		onLoad() {
			this.tender()
		},
		methods: {
			change(currentPage, type) {
				this.page.currentPage = currentPage;
				this.tender()
			},
			handleClosePdf() {
				this.loadd = false;
			},
			async tender() {
				var data = {
					page: this.page.currentPage
				}
				let res = await uni.$u.http.post('/api/money/tender', data)
				var list = res.list
				this.data = list
				this.tableData = list.data
			},
			
			async upload(uid, id, productid,type) {
				if (type == 1) {
					this.pdfDetail = {
						uid,
						id,
						productid
					}
				} else {
					uni.navigateTo({
						url: './hetong?uid=' + uid + '&id=' + id + '&productid=' + productid
					});
				}
			}

		}
	}
</script>

<style lang="scss">
	page {
		background: #fff;
	}

	.page-view {
		width: 100%;
		margin: 0 auto;
		padding-top: 30rpx;

		.table {
			width: 100%;

			.uni-table-th {
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
			}

			.uni-table-td {
				padding: 16rpx 16rpx;
				line-height: 40rpx;
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
			}
		}
	}

	.green {
		color: #07AB2D;
		font-weight: 600;
	}

	.red {
		color: red;
		font-weight: 600;
	}

	.gray {
		color: #000;
		font-size: 24rpx;
	}
	
	.page {
		/deep/ .page-pagination .page-con .page-scroll-child .pag-btn.btn-ban {
			color: #000 !important;
		}
	}
.loadd {
	width: 100%;
	height: 100%;
	background: #000;
	position: fixed;
	top: 0%;
	opacity: .5;
}
</style>
