<template>
	<view class="container page-view">
		<view class="table">
			<uni-table ref="table" :loading="loading" border stripe emptyText="暂无更多数据">
				<uni-tr style="background-color: #334383;">
					<uni-th width="100" align="center" style="color: #fff;">提现时间</uni-th>
					<uni-th width="60" align="center" style="color: #fff;">提现金额</uni-th>
					<uni-th width="80" align="center" style="color: #fff;">状态</uni-th>
				</uni-tr>
				<uni-tr v-for="(item, index) in tableData" :key="index">
					<uni-td align="center" class="td-title">{{item.date }}</uni-td>
					</uni-td>
					<uni-td align="center" class="td-title blue">{{ item.amount }}</uni-td>
					<uni-td align="center" class="td-title" :class="item.status==1?'green':'red'">
						{{ item.status==0?"审核中":item.status==1?"已成功":"失败" }}</uni-td>
				</uni-tr>
			</uni-table>

		</view>
		<view class="page" v-if="tableData.length">
			<page-pagination :total="data.total" :pageSize="data.pagesize" :currentPage="data.currentPage"
				:btnText="true" :numAround="true" :showPageSize="5" :showAround="true" @change="change">
			</page-pagination>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				page: {
					total: 1,
					pageSize: 10,
					currentPage: 1
				},
				tableData: [],
				data: {},
				loading: false
			};
		},
		onLoad() {
			this.withdrawRecord()
		},
		methods: {
			change(currentPage, type) {
				this.page.currentPage = currentPage;
				this.withdrawRecord()
			},
			async withdrawRecord() {
				var data = {
					page: this.page.currentPage
				}
				let res = await uni.$u.http.post('/api/money/withdraws', data)
				var list = res.list
				this.data = list
				this.tableData = list.data
			},
		}
	}
</script>

<style lang="scss">
	view {
		box-sizing: border-box;
	}
	page {
		background: #fff;
	}
	.page-view {
		width: 100%;
		margin: 0 auto;
		padding-top: 30rpx;
		.table {
			width: 100%;
			.uni-table-th {
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
			}
			.uni-table-td {
				padding: 16rpx 16rpx;
				line-height: 40rpx;
				border-right: 1px #EBEEF5 solid;
				border-bottom: 1px #EBEEF5 solid;
			}
		}
	}
	.green {
		color: #07AB2D;
		font-weight: 600;
	}
	.red {
		color: red;
		font-weight: 600;
	}
	.gray {
		color: #000;
		font-size: 24rpx;
	}
	
	.page {
		margin-top: 60rpx;
		/deep/ .pag-btn{
			background-color: #F2F1F1 !important;
			color: #000!important;
			border:2rpx solid #d3d3d3!important;
		}
		/deep/ .page-pagination .page-con .page-scroll-child .pag-btn.btn-ban{
			color: #000 !important;
		}
		/deep/ .active{
			background-color: #40569B !important;
			border: none !important;
		}
	}
</style>
