<template>
	<view class='page-view'>
		<view class="cards-one" v-if="list.bankaddress != null && list.name != '' && list.number != ''">
			<view class="right">
				<view class="name">
					{{list.name}}
				</view>
				<view class="number">
					{{kahao}}
				</view>
				<view class="tag">
					储蓄卡
				</view>
			</view>
			<view class="del-icon" @click.stop="delCard">
				<image src="../../static/my/bankCard/delete.png"></image>
			</view>
		</view>
		<view class="btn" @tap="addCard" v-else>
			添加银行卡
		</view>
		<!-- 密码 -->
		<view class="keyborad" v-if="show_key==true" :style="{
                transform: show_key ? 'translateY(0)' : 'translateY(100%)',
                height: header + 'px',
            }">
			<view class="key_main">

				<view class="main_title">
					<image src="/static/del_1.png" mode="aspectFill" @tap="hideFun"></image>
					<text>请输入支付密码</text>
				</view>
				<view class="main_content">
					<view class="content_num">
						<view v-for="item in inputArray" :key="item" class="content_item">{{password[item-1] ? '●' :''}}
						</view>
					</view>
				</view>
				<view class="main_keyboard">
					<view class="key_num" v-for="item in numberArray" :key="item" @tap="inputNumFun({num:item})">
						{{item}}
					</view>
					<view class="key_null"></view>
					<view class="key_0" @tap="inputNumFun({num:0})">0</view>
					<view class="key_del" @tap="delNumFun">
						<image src="/static/del_2.png" mode="aspectFill">返回</image>
					</view>
				</view>
			</view>
		</view>
		<!-- 弹窗 -->
		<view :class="isTan?'tanchuang':'notanchuang'">
			<view class='tc-view'>
				<view class="hspace">
					<view>{{ status ? '修改银行卡':'添加银行卡' }}</view>
					<image @click="isTan = false" src="/static/close.png"></image>
				</view>

				<view class="marbott">
					<view class="item1">
						<image src="../../static/my/bankCard/bank-card.svg"></image>
					</view>
					<view class='item2'>
						<input placeholder="请输入开户人姓名" v-model="form.name" />
					</view>
				</view>
				<view class="marbott">
					<view class="item1">
						<image src="../../static/my/bankCard/bank-card.svg"></image>
					</view>
					<view class="item2">
						<input placeholder="请输入所属银行,如:中国工商银行" v-model="form.bankName" />
					</view>
				</view>
				<view class="marbott">
					<view class="item1">
						<image src="../../static/my/bankCard/bank-card.svg"></image>
					</view>
					<view class="item2">
						<input placeholder="请输入开户银行,如:北京海淀区支行" v-model="form.openBank" />
					</view>
				</view>
				<view class="marbott" style='border: none;'>
					<view class="item1">
						<image src="../../static/my/bankCard/bank-card.svg" style="width: 100%;height: 100%;"></image>
					</view>
					<view class="item2">
						<input placeholder="请输入储蓄卡号" v-model="form.bankCode" />
					</view>
				</view>
				<view @tap="bankeshibie" class='tc-btn' v-if="status==0">
					立即添加
				</view>
				<view class='tc-btn' v-if="status==1">
					立即修改
				</view>
			</view>
		</view>
	
	</view>
</template>

<script>
	export default {
		data() {
			return {
				password: '',
				isTan: false,
				status: 0, // 0 添加银行卡弹框 1 修改银行卡弹框
				list: {
					name: "",
					bg: '../../static/001.png',
					number: '',
					bankaddress: '',
					realname: ''
				},
				form: {
					name: '张三1',
					bankName: '中国工商银行',
					openBank: '北京海淀支行',
					bankCode: '5643235498731354656564'
				},
				inputArray: [1, 2, 3, 4, 5, 6], //输入密码的长度
				numberArray: [1, 2, 3, 4, 5, 6, 7, 8, 9], //密码键盘的数字
				password: '', //密码
				show_key: false,
				kahao: '',
				tianjia: 0,
				certification: {},
				img1: "",
				showapi_appid: '',
				showapi_sign: '',
				cards: ''
			};
		},
		onLoad() {
			this.getUser()
		},
		onShow() {
			this.getappid()
			this.getUser()
			this.isCertification()
			// #ifdef APP-PLUS
			let _this = this;
			uni.getSystemInfo({
				success(res) {
					_this.header = res.windowHeight
					console.log(res.windowHeight)
				}
			})
			// #endif
			// #ifdef H5
			this.header = document.body.clientHeight
			// #endif
		},
		methods: {
			async isCertification() {
				let res = await uni.$u.http.post('/api/userLc/isCertification')
				this.cards = res.data.card
			},
			async getappid() {
				let res = await uni.$u.http.post('/api/Publics/api_code')
				this.showapi_appid = res.data.showapi_appid
				this.showapi_sign = res.data.showapi_sign
			},
			bankeshibie() {
				this.tan()
			},

			detailImage(path, callback) {
				// #ifdef APP-PLUS
				plus.io.resolveLocalFileSystemURL(path, function(entry) {
					entry.file(function(file) {
						var fileReader = new plus.io.FileReader();
						//alert("getFile:" + JSON.stringify(file));
						fileReader.readAsDataURL(file);
						fileReader.onloadend = function(evt) {
							callback(evt.target.result);
						}
					})
				})
				// #endif


				// #ifdef H5
				var img = new Image();
				img.src = path;
				img.onload = function() {
					//默认按比例压缩
					var w = this.width,
						h = this.height;
					var quality = 0.95; // 默认图片质量为0.7

					//生成canvas
					var canvas = document.createElement('canvas');
					var ctx = canvas.getContext('2d');

					// 创建属性节点
					canvas.setAttribute("width", w);
					canvas.setAttribute("height", h);

					ctx.drawImage(this, 0, 0, w, h);
					// quality值越小，所绘制出的图像越模糊
					var base64 = canvas.toDataURL('image/jpeg', quality);
					// 回调函数返回base64的值
					callback(base64);
				};
				// #endif
			},


			clearImg(str) {
				if (str == "one") {
					this.img1 = ''
				}
			},
			delNumFun() {
				this.show_key = false
			},
			async success() {
				try {
					let res = await uni.$u.http.post('/api/userLc/delBank', {
						paypwd: this.password
					})
					if (res.status == 0) {
						this.form.name = ''
						this.form.bankName = ''
						this.form.bankCode = ''
						this.form.openBank = ''
						if (res.status != 0) {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								position: "bottom"
							})
							setTimeout(function() {
								this.show_key = false
							}, 1000)
						} else {
							// uni.navigateTo({
							// 	url: "./withdrawal_success?amount=" + this.amount
							// })
							uni.showToast({
								title: "提交成功",
								icon: 'none',
								position: "bottom"
							})
							this.show_key = false
							this.getUser()
						}

					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							position: "bottom"
						})
						setTimeout(function() {
							this.show_key = false
						}, 1000)
						this.password = ""
					}
				} catch (e) {
					uni.showToast({
						title: '请求失败',
						icon: 'none',
						position: "bottom"
					})
				}

			},
			inputNumFun(op) {
				let _this = this
				if (_this.password.length <= 6) {
					_this.password += op.num
					if (_this.password.length == 6) {
						_this.success()
						console.log(123546);
					}
				}

			},
			delCard() {
				this.password = ""
				this.show_key = true
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.list.realname = res.bankname
				this.list.name = res.bankrealname
				this.list.number = res.bankcode
				this.list.bankaddress = res.bankaddress
				if (this.list.number) {
					if (this.list.number.length == 16) {
						this.kahao = this.list.number.substring(0, 4) + '********' + this.list.number.substring(12)
					} else if (this.list.number.length == 19) {
						this.kahao = this.list.number.substring(0, 4) + '***********' + this.list.number.substring(15)
					} else {
						this.kahao = this.list.number.substring(0, 4) + '*********' + this.list.number.substring(13)
					}
				}


				console.log(res)
			},
			async tan() {
				this.isTan = !this.isTan
				this.status = 0
				let res = await uni.$u.http.post('/api/userLc/bank', {
					bankname: this.form.name,
					bankrealname: this.form.bankName,
					bankcode: this.form.bankCode,
					bankaddress: this.form.openBank
				})
				uni.showToast({
					title: res.msg,
					icon: 'none',
					position: "bottom"
				});
				this.getUser()
			},
			addCard() {
				this.isTan = !this.isTan
				this.status = 0
			},
		}
	}
</script>

<style lang="scss" scoped>
	view {
		box-sizing: border-box;
	}
	page {
		background: #f4f4f4;
	}
	.page-view {
		.btn {
			width: 700rpx;
			margin: 0 auto;
			height: 100rpx;
			border-radius: 10rpx;
			font-size: 30rpx;
			color: #FFFFFF;
			background: #334383;
			text-align: center;
			line-height: 100rpx;
			position: absolute;
			transform: translateX(-50%);
			left: 50%;
			bottom: 30px;
		}
		.tanchuang {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			box-sizing: border-box;
			background-color: rgba(0, 0, 0, 0.5);
			padding: 50% 50rpx;
			overflow: hidden;
			.tc-view {
				background-color: white;
				padding: 30rpx 30rpx;
				border-radius: 20rpx;
				width: 100%;
				.hspace {
					width: 100%;
					font-weight: 900;
					display: flex;
					justify-content: space-between;
					align-items: center;
					image {
						width: 40rpx;
						height: 40rpx;
					}
				}
				
				.marbott {
					display: flex;
					font-size: 26rpx;
					height: 112rpx;
					align-items: center;
					border-bottom: 1px solid #eee;
					.item1 {
						width: 64rpx;
						height: 44rpx;
						margin-right: 30rpx;
						image {
							width:100%;
							height: 100%;
						}
					}
					.item2 {
						flex: 1;
						input {
							width: 100%;
						}
					}
					input {
						font-size: 26rpx;
					}
				}
				.tc-btn {
					width: 100%;
					margin: 0 auto;
					height: 80rpx;
					border-radius: 10rpx;
					font-size: 26rpx;
					color: #FFFFFF;
					background: #334383;
					text-align: center;
					line-height: 80rpx;
					margin-top: 20rpx;
				}
			}
		}
		.notanchuang {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 0;
			box-sizing: border-box;
			background-color: rgb(244, 245, 245);
			overflow: hidden;
		}
		.cards-one {
			
		}
	}
	.imgs {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 30rpx;
		height: 280rpx;

		image {
			width: 280rpx;
			height: 280rpx;
		}
	}

	// .marbott {
	// 	margin-top: 26rpx;
	// 	padding-bottom: 30rpx;
	// }

	

	.list {
		overflow-y: scroll;
		height: 80vh;
	}

	.cards-one {
		background-image: url('../../static/my/bankCard/001.png');
		margin: 0 30rpx;
		box-sizing: border-box;
		border-radius: 6rpx;
		margin-top: 40rpx;
		display: flex;
		background-size: cover;
		padding: 50rpx 30rpx 30rpx;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
	}


	.icon {
		width: 90rpx;
		height: 90rpx;
	}

	.right {
		color: #fff;
		margin-top: -18rpx;

		.name {
			font-size: 36rpx;
			font-weight: 400;
			color: #FFFFFF;
			line-height: 36rpx;
		}

		.number {
			font-size: 40rpx;
			font-weight: 400;
			color: #FFFFFF;
			line-height: 40rpx;
			margin-top: 50rpx;
		}

		.tag {
			font-size: 12px;
			border: 0.5rpx solid #FFfff6;
			width: 124rpx;
			padding: 10rpx 22rpx;
			border-top-left-radius: 30rpx;
			border-top-right-radius: 30rpx;
			text-align: center;
			border-bottom-right-radius: 30rpx;
			margin-top: 20rpx;
		}
	}

	

	.del-icon {
		position: absolute;
		right: 20rpx;
		top: 20rpx;
		image {
			width: 44rpx;
			height: 44rpx;
		}
	}

	.del-box {
		background-color: white;
		padding: 36rpx 46rpx;
		border-radius: 20rpx;

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 600;
			margin-bottom: 40rpx;
			font-size: 16px;
		}

		.pswd {
			font-size: 16px;
			border-bottom: 1rpx solid #BCC3CF;
			margin-bottom: 30rpx;
		}

		.del-btn {
			width: 15vw;
			height: 70rpx;
			text-align: left;
			background-color: rgb(62, 99, 228);
			color: #fff;
			text-align: center;
			line-height: 70rpx;
			border-radius: 8rpx;
		}
	}

	.keyborad {
		width: 100vw;
		position: fixed;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transform: translateY(100%);
		transition: all 0.4s;

		.key_main {
			width: 100vw;
			height: 900rpx;
			background: rgba(245, 245, 245, 0.9);
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.main_title {
				font-size: 34rpx;
				color: #000000;
				height: 100rpx;
				display: flex;
				align-items: center;
				letter-spacing: 2rpx;
				width: 100%;
				box-sizing: border-box;
				padding: 0px 20rpx;
				border-bottom: 2rpx solid #e1e1e1;

				image {
					width: 48rpx;
					height: 48rpx;
					position: relative;
					z-index: 10
				}

				text {
					flex: 1;
					margin-left: -48rpx;
					display: flex;
					justify-content: center;
				}
			}

			.main_content {
				width: 100%;
				box-sizing: border-box;
				padding: 0px 30rpx;
				margin-top: 40rpx;

				.content_num {
					width: 100%;
					height: 100rpx;
					border: 2rpx solid #DBDBDB;
					border-radius: 10rpx;
					display: flex;
					align-items: center;

					.content_item {
						flex: 1;
						height: 100%;
						border-right: 2rpx solid #DBDBDB;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.content_item:last-child {
						border-right: none
					}
				}

				.main_forget {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					font-size: 28rpx;
					color: #007AFF;
					margin-top: 40rpx
				}
			}

			.main_keyboard {
				width: 100%;
				height: 500rpx;
				background: #FFFFFF;
				display: flex;
				flex-flow: wrap;

				.key_null,
				.key_del {
					background: #e2e7eb;
				}

				image {
					width: 48rpx;
					height: 48rpx;
				}

				.key_num,
				.key_null,
				.key_del,
				.key_0 {
					width: 250rpx;
					height: 125rpx;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.key_num {
					border-right: 2rpx solid #f1f4f4;
					border-bottom: 2rpx solid #f1f4f4;
					box-sizing: border-box;
				}

				.key_num:nth-child(8) {
					border-bottom: none;
				}

				.key_0 {
					border-top: 2rpx solid #f1f4f4
				}
			}
		}
	}
</style>
