<template>
	<view>
		<!-- v-for="item in list"  :style="{backgroundImage:'url( '+item.bg+')'}" -->
		<!-- <view class="list"> -->

		<!-- <view class="cards-one" @click="change" v-if="list.bankaddress != null && list.name != '' && list.number != ''"> -->
			<view class="cards-one"  v-if="list.bankaddress != null && list.name != '' && list.number != ''">
			<view>
				<!-- <image class="icon" src="../../static/bankcards/01.png"></image> -->
			</view>
			<view class="right">
				<view class="name">
					{{list.name}}
				</view>
				<view class="tag">
					储蓄卡
				</view>
				<view class="number">
					{{kahao}}
				</view>
			</view>
			<view class="del-icon" @click.stop="delCard">
				<image src="../../static/delete.png" style="width: 80rpx; height: 80rpx;"></image>
			</view>
		</view>

		<!-- </view> -->
		<view class="btn" @tap="addCard" v-else>
			+ 添加银行卡
		</view>
		<!-- 密码 -->
		<view class="keyborad" v-if="show_key==true" :style="{
                transform: show_key ? 'translateY(0)' : 'translateY(100%)',
                height: header + 'px',
            }">
			<view class="key_main">
				
				<view class="main_title">
					<image src="/static/del_1.png" mode="aspectFill" @tap="hideFun"></image>
					<text>请输入支付密码</text>
				</view>
				<view class="main_content">
					<view class="content_num">
						<view v-for="item in inputArray" :key="item" class="content_item">{{password[item-1] ? '●' :''}}
						</view>
					</view>
					<!-- <view class="main_forget" @tap="forgetFun">忘记密码</view> -->
				</view>
				<view class="main_keyboard">
					<view class="key_num" v-for="item in numberArray" :key="item" @tap="inputNumFun({num:item})">
						{{item}}
					</view>
					<view class="key_null"></view>
					<view class="key_0" @tap="inputNumFun({num:0})">0</view>
					<view class="key_del" @tap="delNumFun">
						<image src="/static/del_2.png" mode="aspectFill">返回</image>
					</view>
				</view>
			</view>
		</view>
		<!-- 弹窗 -->
		<view :class="isTan?'tanchuang':'notanchuang'">
			<view style="background-color: white;padding: 36rpx 46rpx;border-radius: 20rpx;">
				<view class="bor-btn hspace_between-vcenter" style="padding-bottom: 36rpx;">
					<view style="font-weight: 600;font-size: 16px;">
						{{ status ? '修改银行卡':'添加银行卡' }}
					</view>
					<view @click="isTan = false">
						<image src="/static/close.png" style="width: 40rpx;height: 40rpx;"></image>
					</view>
				</view>
				<!-- <view style="position: relative;" class="imgs">
					<text>银行卡照片</text>
					<block v-if="img1 != ''">
						<image :src="img1" mode=""></image>
						<image v-if="(certification?certification.state:'null') != 1 && (certification?certification.state:'null') != 2" src="../../static/close.png" class="del-icon" @click="clearImg('one')"></image>
					</block>
					<image v-else src="../../static/verified/add1.png" mode="" @click="handleChooseImg(1)"></image>
				</view> -->
				<view class="marbott bor-btn" style="display: flex;">
					<view style="width: 64rpx;height: 44rpx;margin-right: 30rpx;">
						<image src="../../static/bank-card.svg" style="width: 100%;height: 100%;"></image>
					</view>
					<view style="flex-grow: 1;">
						<input placeholder="请输入开户人姓名" v-model="form.name" />
					</view>
				</view>
				<view class="marbott bor-btn" style="display: flex;">
					<view style="width: 64rpx;height: 44rpx;margin-right: 30rpx;">
						<image src="../../static/bank-card.svg" style="width: 100%;height: 100%;"></image>
					</view>
					<view style="flex-grow: 1;">
						<input placeholder="请输入所属银行,如:中国工商银行" v-model="form.bankName" />
					</view>
				</view>
				<view class="marbott bor-btn" style="display: flex;">
					<view style="width: 64rpx;height: 44rpx;margin-right: 30rpx;">
						<image src="../../static/bank-card.svg" style="width: 100%;height: 100%;"></image>
					</view>
					<view style="flex-grow: 1;">
						<input placeholder="请输入开户银行,如:北京海淀区支行" style="width: 100%;" v-model="form.openBank" />
					</view>
				</view>
				<view class="marbott bor-btn" style="display: flex;">
					<view style="width: 64rpx;height: 44rpx;margin-right: 30rpx;">
						<image src="../../static/bank-card.svg" style="width: 100%;height: 100%;"></image>
					</view>
					<view style="flex-grow: 1;">
						<input placeholder="请输入储蓄卡号" v-model="form.bankCode" />
					</view>
				</view>
				<view @tap="bankeshibie" v-if="status==0" style="color: white;background-color: rgb(62, 99, 228);padding: 20rpx 0;text-align: center;border-radius: 10rpx;width: 60%;margin-top: 26rpx;margin-left: 50%;transform: translateX(-50%);">
					立即添加
				</view>
				<view v-if="status==1" style="color: white;background-color: transparent;padding: 20rpx 0;text-align: center;border-radius: 10rpx;width: 60%;margin-top: 26rpx;margin-left: 50%;transform: translateX(-50%);color: transparent;">
					立即修改
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				password: '',
				isTan: false,
				status: 0, // 0 添加银行卡弹框 1 修改银行卡弹框
				list: {
					name: "",
					bg: '../../static/001.png',
					// icon: '../../static/01.png',
					number: '',
					bankaddress: '',
					realname: ''
				},
				form: {
					name: '',
					bankName: '',
					openBank: '',
					bankCode: ''
				},
				inputArray: [1, 2, 3, 4, 5, 6], //输入密码的长度
				numberArray: [1, 2, 3, 4, 5, 6, 7, 8, 9], //密码键盘的数字
				password: '', //密码
				show_key: false,
				kahao:'',
				tianjia:0,
				certification: {},
				img1:"",
				showapi_appid:'',
				showapi_sign:'',
				cards:''
			};
		},
		onLoad() {
			this.getUser()
		},
		onShow() {
			this.getappid()
			this.getUser()
			this.isCertification()
			// #ifdef APP-PLUS
			let _this = this;
			uni.getSystemInfo({
				success(res) {
					_this.header = res.windowHeight
					console.log(res.windowHeight)
				}
			})
			console.log(this.header)
			// #endif
			// #ifdef H5
			this.header = document.body.clientHeight
			// #endif
		},
		methods: {
			async isCertification() {
				let res = await uni.$u.http.post('/api/userLc/isCertification')
				this.cards = res.data.card
			},
			async getappid(){
				let res = await uni.$u.http.post('/api/Publics/api_code')
				console.log(res,333)
				this.showapi_appid = res.data.showapi_appid
				this.showapi_sign = res.data.showapi_sign
			},
			bankeshibie(){
				this.tan()
				// uni.request({
				// 	url: 'http://route.showapi.com/1072-2',
				// 	method:'post',
				// 	header:{
				// 		'content-type':'application/x-www-form-urlencoded'
				// 	},
				// 	data:{
				// 		showapi_appid:this.showapi_appid,
				// 		showapi_sign:this.showapi_sign,
				// 		acct_name:this.form.name,
				// 		acct_pan:this.form.bankCode,
				// 		needBelongArea:false
				// 	},
				// 	success: (res) => {
				// 		console.log(res)
				// 		if(res.data.showapi_res_body.ret_code == 0){
				// 			this.tan()
				// 		}else{
				// 			uni.showToast({
				// 				title: '银行卡信息有误请重新填写',
				// 				icon: 'none',
				// 			});
				// 		}
				// 	}
				// })
				/* uni.request({
					
					url: 'https://market.juncdt.com/smartmarket/api/identityVerify/bankCard3elements',
					method:'post',
					header:{
						'Content-Type':'application/json;charset=utf-8',
						'Accept':'application/json'
					},
					data:{
						accessKey:'8fa2229b708519cb2c',
						accessSecret:'83cad743d1370ec71f85c3e0c41ca3',
						cardCode:this.cards,
						cardName:this.form.name,
						bankCard:this.form.bankCode
					},
					success: (res) => {
						if(res.data.code == 0){
							this.tan()
						}else{
							uni.showToast({
								title: '银行卡信息有误请重新填写',
								icon: 'none',
							});
						}
					}
				}) */
			},
			shibie(){
				uni.request({
					url: 'http://route.showapi.com/1520-2',
					// dataType: 'json',
					method:'post',
					header:{
						'content-type':'application/x-www-form-urlencoded'
					},
					data:{
						imgData:this.img1,
						showapi_appid:'1311258',
						showapi_sign:'f2c7d63b367149d5be98644098c10329'
					},
					success: (res) => {
						console.log(res)
						if (res.data.showapi_res_body.ret_code == 0) {
							this.form.bankName = res.data.showapi_res_body.yhmc
							this.form.bankCode = res.data.showapi_res_body.kh
						}
					}
				})
			},
			
			detailImage(path, callback) {
				// #ifdef APP-PLUS
				plus.io.resolveLocalFileSystemURL(path, function(entry) {
					entry.file(function(file) {
						var fileReader = new plus.io.FileReader();
						//alert("getFile:" + JSON.stringify(file));
						fileReader.readAsDataURL(file);
						fileReader.onloadend = function(evt) {
							// console.log(JSON.stringify(evt.target.result)); base64字符串  
							callback(evt.target.result);
						}
					})
				})
				// #endif
			 
			 
				// #ifdef H5
				var img = new Image();
				img.src = path;
				img.onload = function() {
					//默认按比例压缩
					var w = this.width,
						h = this.height;
					var quality = 0.95; // 默认图片质量为0.7
			 
					//生成canvas
					var canvas = document.createElement('canvas');
					var ctx = canvas.getContext('2d');
			 
					// 创建属性节点
					canvas.setAttribute("width", w);
					canvas.setAttribute("height", h);
			 
					ctx.drawImage(this, 0, 0, w, h);
					// quality值越小，所绘制出的图像越模糊
					var base64 = canvas.toDataURL('image/jpeg', quality);
					// 回调函数返回base64的值
					callback(base64);
				};
				// #endif
			},
			async handleChooseImg(type) {
				var that = this
				if (type == 1) {
					uni.chooseImage({
						count: 1, //默认9
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						loop: true,
						success: res => {
							this.detailImage( res.tempFilePaths[0], (data)=>{
							    console.log(data,6666)
								this.img1 = data
								this.shibie()
							})
						}
					});
			
				}
			},
			
			clearImg(str){
				if(str=="one"){
					this.img1 = ''
				}
			},
			delNumFun() {
				this.show_key = false
			},
			async success() {
				let res = await uni.$u.http.post('/api/userLc/delBank', {
					paypwd: this.password
				})
				console.log(this.password)
				console.log("11111111111", res)
				if (res.status == 0) {
						this.form.name = ''
						this.form.bankName = ''
						this.form.bankCode = ''
						this.form.openBank = ''
					if (res.status != 0) {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							position: "bottom"
						})
						setTimeout(function() {
							this.show_key = false
						}, 1000)
					} else {
						// uni.navigateTo({
						// 	url: "./withdrawal_success?amount=" + this.amount
						// })
						uni.showToast({
							title: "提交成功",
							icon: 'none',
							position: "bottom"
						})
						this.show_key = false
						this.getUser()
					}

				} else {
					uni.showToast({
						title: res.msg,
						icon: 'none',
						position: "bottom"
					})
					setTimeout(function() {
						this.show_key = false
					}, 1000)
					this.password = ""
				}

			},
			inputNumFun(op) {
				let _this = this
				if (_this.password.length <= 6) {
					_this.password += op.num
					if (_this.password.length == 6) {
						// _this.$emit('getPassword', {
						// 	password: _this.password
						// })
						// uni.showModal({
						// 	title: '密码',
						// 	content: _this.password,
						_this.success()
						// })
					}
				}

			},
			delCard() {
				this.password=""
				this.show_key = true
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.list.realname = res.bankname
				this.list.name =  res.bankrealname
				this.list.number = res.bankcode
				this.list.bankaddress = res.bankaddress
				if(this.list.number){
					if(this.list.number.length==16){
						this.kahao=this.list.number.substring(0,4)+'********'+this.list.number.substring(12)
					}else if(this.list.number.length==19){
						this.kahao=this.list.number.substring(0,4)+'***********'+this.list.number.substring(15)
					}else{
						this.kahao=this.list.number.substring(0,4)+'*********'+this.list.number.substring(13)
					}
				}
				
				
				console.log(res)
			},
			async tan() {
				// var reg = /^([1-9]{1})(\d{15}|\d{16}|\d{18})$/
				// if(!reg.test(this.form.bankCode)){
				// 	uni.showToast({
				// 		title: '请输入正确的银行卡号',
				// 		icon: 'none',
				// 	});
				// 	return
				// }
				this.isTan = !this.isTan
				this.status = 0 
				
				// this.form.name = this.list.realname
				// this.form.bankName = this.list.name
				// this.form.bankCode = this.list.number
				// this.form.openBank = this.list.bankaddress
				let res = await uni.$u.http.post('/api/userLc/bank', {
					bankname: this.form.name,
					bankrealname: this.form.bankName,
					bankcode: this.form.bankCode,
					bankaddress: this.form.openBank
				})
				uni.showToast({
					title: res.msg,
					icon: 'none',
					position: "bottom"
				});
				this.getUser()
				console.log('1111111111111', res)
			},
			addCard() {
				this.isTan = !this.isTan
				this.status = 0
			},
			// change() {
			// 	this.isTan = !this.isTan
			// 	this.status = 1
			// 	this.form.name = this.list.realname
			// 	this.form.bankName = this.list.name
			// 	this.form.bankCode = this.list.number
			// 	this.form.openBank = this.list.bankaddress
			// }
		}
	}
</script>

<style lang="scss" scoped>
	.imgs {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 30rpx;
		// width: 280rpx;
		height: 280rpx;
	
		image {
			width: 280rpx;
			height: 280rpx;
		}
	}
	.marbott {
		margin-top: 26rpx;
		padding-bottom: 30rpx;
	}

	.bor-btn {
		border-bottom: 1px solid #BCC3CF;
	}

	uni-view {
		line-height: inherit;
	}

	.tanchuang {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 50% 26rpx;
		overflow: hidden;
	}

	.notanchuang {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		box-sizing: border-box;
		background-color: rgb(244, 245, 245);
		overflow: hidden;
	}

	.list {
		overflow-y: scroll;
		height: 80vh;
	}

	.cards-one {
		background-image: url('../../static/bankcards/001.png');
		margin: 0 20rpx;
		box-sizing: border-box;
		border-radius: 20rpx;
		margin-top: 40rpx;
		display: flex;
		background-size: cover;
		padding: 60rpx;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
	}

	.youzheng-bg1 {
		background-image: url('../../static/bankcards/002.png');
	}

	.youzheng-bg2 {
		background-image: url('../../static/bankcards/003.png');
	}

	.icon {
		width: 90rpx;
		height: 90rpx;
	}

	.right {
		// margin-left: 60rpx;
		color: #fff;
		margin-top: -18rpx;

		.name {

			font-size: 22px;
			font-weight: 500;
		}

		.number {
			font-size: 16px;
			margin-top: 20rpx;
		}

		.tag {
			margin-bottom: 6rpx;
			font-size: 12px;
			border: 0.5rpx solid #FFfff6;
			width: 100rpx;
			border-top-left-radius: 20rpx;
			border-top-right-radius: 20rpx;
			text-align: center;
			border-bottom-right-radius: 20rpx;
			margin-top: 6rpx;
		}
	}

	.btn {
		color: #fff;
		background: #BCC3CF;
		height: 40px;
		width: 90%;
		border-radius: 20px;
		margin: 0 auto;
		text-align: center;
		line-height: 40px;
		font-size: 18px;
		font-weight: 600;
		border-bottom-right-radius: 0;
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: 30px;
	}

	// .del-icon {
	// 	position: absolute;
	// 	right: 5vw;
	// 	top: 108rpx;
	// }
	.del-icon {
		position: absolute;
		// width: 40rpx !important;
		// height: 40rpx !important;
		right: 20rpx;
	}
	.del-box {
		background-color: white;
		padding: 36rpx 46rpx;
		border-radius: 20rpx;

		.title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 600;
			margin-bottom: 40rpx;
			font-size: 16px;
		}

		.pswd {
			font-size: 16px;
			border-bottom: 1rpx solid #BCC3CF;
			margin-bottom: 30rpx;
		}

		.del-btn {
			width: 15vw;
			height: 70rpx;
			text-align: left;
			background-color: rgb(62, 99, 228);
			color: #fff;
			text-align: center;
			line-height: 70rpx;
			border-radius: 8rpx;
		}
	}

	.keyborad {
		width: 100vw;
		position: fixed;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transform: translateY(100%);
		transition: all 0.4s;

		.key_main {
			width: 100vw;
			height: 900rpx;
			background: rgba(245, 245, 245, 0.9);
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.main_title {
				font-size: 34rpx;
				color: #000000;
				height: 100rpx;
				display: flex;
				align-items: center;
				letter-spacing: 2rpx;
				width: 100%;
				box-sizing: border-box;
				padding: 0px 20rpx;
				border-bottom: 2rpx solid #e1e1e1;

				image {
					width: 48rpx;
					height: 48rpx;
					position: relative;
					z-index: 10
				}

				text {
					flex: 1;
					margin-left: -48rpx;
					display: flex;
					justify-content: center;
				}
			}

			.main_content {
				width: 100%;
				box-sizing: border-box;
				padding: 0px 30rpx;
				margin-top: 40rpx;

				.content_num {
					width: 100%;
					height: 100rpx;
					border: 2rpx solid #DBDBDB;
					border-radius: 10rpx;
					display: flex;
					align-items: center;

					.content_item {
						flex: 1;
						height: 100%;
						border-right: 2rpx solid #DBDBDB;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.content_item:last-child {
						border-right: none
					}
				}

				.main_forget {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					font-size: 28rpx;
					color: #007AFF;
					margin-top: 40rpx
				}
			}

			.main_keyboard {
				width: 100%;
				height: 500rpx;
				background: #FFFFFF;
				display: flex;
				flex-flow: wrap;

				.key_null,
				.key_del {
					background: #e2e7eb;
				}

				image {
					width: 48rpx;
					height: 48rpx;
				}

				.key_num,
				.key_null,
				.key_del,
				.key_0 {
					width: 250rpx;
					height: 125rpx;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.key_num {
					border-right: 2rpx solid #f1f4f4;
					border-bottom: 2rpx solid #f1f4f4;
					box-sizing: border-box;
				}

				.key_num:nth-child(8) {
					border-bottom: none;
				}

				.key_0 {
					border-top: 2rpx solid #f1f4f4
				}
			}
		}
	}
</style>
