<template>
	<view class="page-view">
		<view class="head">
			<image src="../../static/team/head-bg.png" mode="aspectFit"></image>
		</view>
		<view class="middle flex-r">
			<view class="">
				<text>{{data.allcount}}</text>
				<view>团队人数</view>
			</view>
			<view class="">
				<text>{{data.allp}}</text>
				<view>团队投资总额</view>
			</view>
		</view>
		<view class="table">
			<uni-table ref="table" :loading="loading" stripe emptyText="暂无更多数据">
				<uni-tr style="background-color: #41569b;">
					<uni-th width="80" align="center" style="color: #fff;">团队等级</uni-th>
					<uni-th width="60" align="center" style="color: #fff;">下线人数</uni-th>
					<uni-th width="50" align="center" style="color: #fff;">下线投资总额</uni-th>
					<uni-th width="50" align="center" style="color: #fff;">奖励金额</uni-th>
					<uni-th width="50" align="center" style="color: #fff;" >状态</uni-th>
				</uni-tr>
				<uni-tr v-for="(item, index) in tableData" :key="index">
					<uni-td align="center" class="td-title">{{item.name}}</uni-td>
					<uni-td align="center" class="td-title blue">{{ item.tdrs }}</uni-td>
					<uni-td align="center" class="td-title blue">{{item.ljje}}</uni-td>
					<uni-td align="center" class="td-title blue">{{item.jlje}}</uni-td>
					<uni-td align="center" class="td-title" >
						<!-- <text @click='changeStatus(item.status)'>{{ item.status }}</text> -->
						<text class='red' v-if='item.status == "已领取"'>
							{{ item.status }}
						</text>
						<block v-else>
							<text v-if='data.allcount>=item.tdrs && data.allp>=item.ljje' @click='changeStatus(item.status)' class='green'>
								可领取
							</text>
							<text v-else style='color: #999;'>
								未领取
							</text>
						</block>
						
					</uni-td>
				</uni-tr>
			</uni-table>
		
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				page: {
					total: 1,
					pageSize: 10,
					currentPage: 1
				},
				tableData: [],
				data: {},
				loading: false
			};
		},
		onLoad() {
			uni.$u.http.post('/api/userLc/my')
			.then(res => {
				this.id = res.id
			})
			this.getRecord()
			this.getData()
		},
		methods: {
			async changeStatus() {
				let res = await uni.$u.http.post('/api/bonus/teamrewards', {
					UserId : this.id
				})
				this.getData()
				uni.showToast({
					title: res.msg,
					icon: 'none'
				})
				
			},
			async getData() {
				let res = await uni.$u.http.post('/api/money/record')
				this.data = res.count
				// this.tableData = [
				// 	{
				// 		dengji: '一级',
				// 		count: res.count.onecount,
				// 		allp: res.count.onep,
				// 		allw: res.count.allw,
				// 	},
				// 	{
				// 		dengji: '二级',
				// 		count: res.count.twocount,
				// 		allp: res.count.twop,
				// 		allw: res.count.twow,
				// 	},
				// 	{
				// 		dengji: '三级',
				// 		count: res.count.threecount,
				// 		allp: res.count.threep,
				// 		allw: res.count.threew,
				// 	}
				// ]
			},
			async getRecord() {
				// uni.showLoading()
				let res = await uni.$u.http.post('/api/UserLc/Memberteam')
				this.tableData = res.list
				// uni.hideLoading()
			},
		}
	}
</script>


<style lang='scss' scoped>
	.green {
		color: #07AB2D;
		font-weight: 600;
	}
	.red {
		color: red;
		font-weight: 600;
	}
	.gray {
		color: #000;
		font-size: 24rpx;
	}
	page {
		background: #fff;
	}
	.page-view {
		.head {
			width: 100%;
			height: 280rpx;
			image {
				width: 100%;
				height: 100%;
			}
		}
		.middle {
			font-size: 26rpx;
			font-weight: 600;
			color: #000000;
			line-height: 26rpx;
			margin-top: 20rpx;
			view {
				flex: 1;
				text-align: center;
				margin-top: 20rpx;
				text {
					color: #41569B;
				}
			}
		}
		.table {
			margin-top: 40rpx;
			padding: 0 10rpx;
			/deep/ .uni-table-th {
				padding: 15rpx 10rpx;
				uni-view {
					font-size: 24rpx;
				}
			}
			/deep/ .uni-table-td {
				padding: 20rpx 10rpx;
				border: none;
				uni-view {
					font-size: 24rpx;
				}
			}
		}
	}
</style>