<template>
	<view>
		<view class="input-wrap">
			<view class="input-item">
				<view class="title">认购金额</view>
				<view class="input">
					<input type="text" v-model="account" placeholder="请输入认购金额">
				</view>
				<view class="units">元</view>
			</view>
			<view class="input-item">
				<view class="title">认购期限</view>
				<view class="input">
					<input type="text" v-model="periods" placeholder="请输入认购期限">
				</view>
				<view class="units">日</view>
			</view>
			<view class="input-item">
				<view class="title">日化利率</view>
				<view class="input">
					<input type="text" v-model="apr" placeholder="请输入日化利率">
				</view>
				<view class="units">%</view>
			</view>
			<view class="input-item">
				<view class="title">还款方式</view>
				<view class="input">
					<!-- <xfl-select :list="list" :clearable="false" :showItemNum="5" :isCanInput="true"
						:style_Container="'height: 50px; font-size: 16px;'" :placeholder="'placeholder'"
						:initValue="'一次性还本付息'" :selectHideType="'hideAll'" @change="change">
					</xfl-select> -->
					<ep-select  v-model="select2" :options="list" @change="change"></ep-select>
				</view>
			</view>
		</view>
		<view class="calculate-earnings">
			<view @click="calculate"><image src="../../static/my/index_tab/jisuan.png"></image></view>
			<view @click="reset"><image src="../../static/my/index_tab/cxjs.png"></image></view>
		</view>
		<view class="table-wrap">
			<view class="table-header">
				<view>收款日期</view>
				<view>收款金额</view>
				<view>收回本金</view>
				<view>收回利息</view>
				<view>剩余本金</view>
			</view>
			<view class="table-body">
				<block v-for="(item, index) in calculators.list" :key="index">
					<view>{{item.time}}</view>
					<view>{{item.collection}}</view>
					<view>{{item.account}}</view>
					<view>{{item.interest}}</view>
					<view>{{item.principal}}</view>
				</block>
			</view>
			<view class="summarize">
				<view class="summarize-text">总结</view>
				<view class="count">{{calculators.totalSettlement}}</view>
				<view class="count">{{calculators.totalSettlement2}}</view>
				<view class="count">{{calculators.totalSettlement3}}</view>
			</view>
			<view class="total">
				实际总收益:
				<text>{{calculators.total}}</text>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				select2:'',
				list: [ //要展示的数据
					{
						label: '一次性还本付息',
						value: 1
					},{
						label: '每日返息，到期还本',
						value: 2
					},{
						label: '每周返息，到期还本',
						value: 3
					},{
						label: '每月返息，到期还本',
						value: 4
					},{
						label: '每日复利，保本保息',
						value: 5
					},{
						label: '交易日返息，到期还本',
						value: 6
					},
					// {
					// 	value: '每日返息，到期还本',
					// 	code: 2
					// },
					// {
					// 	value: '每周返息，到期还本',
					// 	code: 3
					// },
					// {
					// 	value: '每月返息，到期还本',
					// 	code: 4
					// },
					// {
					// 	value: '每日复利，保本保息',
					// 	code: 5
					// },
					// {
					// 	value: '交易日返息，到期还本',
					// 	code: 6
					// }
				],
				account: '',
				periods: '',
				apr: '',
				repaymentIdx: 0,
				calculators: {
					totalSettlement: '',
					totalSettlement2: '',
					totalSettlement3: '',
					total: '',
					list: []
				}
			}
		},
		methods: {
			change(e) {
				this.repaymentIdx = e
			},
			calculate() {
				this.calculators = []
				if (this.account == "") {
					this.$toast("请输入认购金额")
					// 计算器校验问题 start
				} else if (this.account > 5000000) {
					this.$toast("认购金额最高为5000000元")
				}
				if (this.apr == "") {
					this.$toast("请输入日利率")
				} else if (this.apr > 30) {
					this.$toast("日利率最高30%")
				}
				if (this.periods == "") {
					this.$toast("请输入认购期限")
				} else if (this.periods > 0) {
					if (!/^[0-9]*[1-9][0-9]*$/.test(this.periods)) {
						this.$toast("认购期限-请输入正整数")
					}
					if (this.periods > 999) {
						this.$toast("认购期限-天标最大为999天")
					}
				} else if (this.periods <= 0) {
					this.$toast("认购期限-请输入正数")
				}

				if (this.repaymentIdx == 1) {
					var data = [{
						time: this.getDateStr(parseInt(this.periods)),
						collection: (parseFloat(this.periods * this.apr * this.account / 100) + parseFloat(this
							.account)),
						account: this.account,
						interest: this.periods * this.apr * this.account / 100,
						principal: 0
					}]
					this.calculators.totalSettlement = parseFloat(this.periods * this.apr * this.account / 100) +
						parseFloat(this.account)
					this.calculators.totalSettlement2 = this.account
					this.calculators.totalSettlement3 = this.periods * this.apr * this.account / 100
					this.calculators.total = this.periods * this.apr * this.account / 100
					this.calculators.list = data
				}

				if (this.repaymentIdx == 2) {
					var data = []
					for (var i = 1; i <= this.periods; i++) {
						if (i != this.periods) {
							data.push({
								time: this.getDateStr(i),
								collection: (parseFloat(this.apr * this.account / 100)),
								account: 0,
								interest: this.apr * this.account / 100,
								principal: parseFloat(this.account)
							})
						} else {
							data.push({
								time: this.getDateStr(i),
								collection: (parseFloat(this.apr * this.account / 100) + parseFloat(this.account)),
								account: this.account,
								interest: this.apr * this.account / 100,
								principal: 0
							})
						}

					}
					this.calculators.totalSettlement = parseFloat(this.periods * this.apr * this.account / 100) +
						parseFloat(this.account)
					this.calculators.totalSettlement2 = this.account
					this.calculators.totalSettlement3 = this.periods * this.apr * this.account / 100
					this.calculators.total = this.periods * this.apr * this.account / 100
					this.calculators.list = data
				}

				if (this.repaymentIdx == 3) {
					if (this.periods >= 7) {
						var periods = Math.floor(this.periods / 7)
						var data = []
						for (var i = 1; i <= periods; i++) {
							if (i != periods) {
								data.push({
									time: this.getDateStr(i * 7),
									collection: (parseFloat(7 * this.apr * this.account / 100)),
									account: 0,
									interest: 7 * this.apr * this.account / 100,
									principal: parseFloat(this.account)
								})
							} else {
								data.push({
									time: this.getDateStr(i * 7),
									collection: (parseFloat(7 * this.apr * this.account / 100) + parseFloat(this
										.account)),
									account: this.account,
									interest: 7 * this.apr * this.account / 100,
									principal: 0
								})
							}

						}
						this.calculators.totalSettlement = parseFloat(periods * 7 * this.apr * this.account / 100) +
							parseFloat(this.account)
						this.calculators.totalSettlement2 = this.account
						this.calculators.totalSettlement3 = periods * 7 * this.apr * this.account / 100
						this.calculators.total = periods * 7 * this.apr * this.account / 100
						this.calculators.list = data
					}
				} else {
					var data = []
				}

				if (this.repaymentIdx == 4) {
					if (this.periods >= 30) {
						var periods = Math.floor(this.periods / 30)
						var data = []
						for (var i = 1; i <= periods; i++) {
							if (i != periods) {
								data.push({
									time: this.getDateStr(i * 30),
									collection: (parseFloat(30 * this.apr * this.account / 100)),
									account: 0,
									interest: 30 * this.apr * this.account / 100,
									principal: parseFloat(this.account)
								})
							} else {
								data.push({
									time: this.getDateStr(i * 30),
									collection: (parseFloat(30 * this.apr * this.account / 100) + parseFloat(this
										.account)),
									account: this.account,
									interest: 30 * this.apr * this.account / 100,
									principal: 0
								})
							}

						}
						this.calculators.totalSettlement = parseFloat(periods * 30 * this.apr * this.account / 100) +
							parseFloat(this.account)
						this.calculators.totalSettlement2 = this.account
						this.calculators.totalSettlement3 = periods * 30 * this.apr * this.account / 100
						this.calculators.total = periods * 30 * this.apr * this.account / 100
						this.calculators.list = data
					}
				} else {
					var data = []
				}

				if (this.repaymentIdx == 5) {
					var data = []
					var account = ''
					for (var i = 0; i < this.periods; i++) {
						if (i == 0) {
							data.push({
								time: this.getDateStr(i),
								collection: (parseFloat(this.apr * this.account / 100)),
								account: 0,
								interest: this.apr * this.account / 100,
								principal: parseFloat(this.account)
							})
							account = data[i].principal + data[i].collection
							console.log(this.account)
						} else
						if (i != 0 & i != this.periods - 1) {

							data.push({
								time: this.getDateStr(i),
								collection: Number((parseFloat(this.apr * account / 100)).toString().match(
									/^\d+(?:\.\d{0,2})?/)),
								account: 0,
								interest: Number((this.apr * account / 100).toString().match(
									/^\d+(?:\.\d{0,2})?/)),
								principal: Number((parseFloat(account) + (parseFloat(this.apr * account) / 100))
									.toString().match(/^\d+(?:\.\d{0,2})?/))
							})
							account = data[i].principal
						} else {
							account = data[i - 1].principal
							data.push({
								time: this.getDateStr(i),
								collection: Number((parseFloat(this.apr * account / 100) + parseFloat(account))
									.toString().match(/^\d+(?:\.\d{0,2})?/)),
								account: Number((this.account / 1 + account - this.account).toString().match(
									/^\d+(?:\.\d{0,2})?/)),
								interest: Number((this.apr * account / 100).toString().match(
									/^\d+(?:\.\d{0,2})?/)),
								principal: 0
							})
						}

					}
					account = data[this.periods - 1].collection
					this.calculators.totalSettlement = Number(account.toString().match(/^\d+(?:\.\d{0,2})?/))
					this.calculators.totalSettlement2 = Number(this.account.toString().match(/^\d+(?:\.\d{0,2})?/))
					this.calculators.totalSettlement3 = Number((account - this.account).toString().match(
						/^\d+(?:\.\d{0,2})?/))
					this.calculators.total = Number(account.toString().match(/^\d+(?:\.\d{0,2})?/))
					this.calculators.list = data
				}

				if (this.repaymentIdx == 6) {
					var data = []
					var riqi=1
					var tian=this.periods
						for (var i = 1; i <= tian; i++) {
							var dt = new Date(this.getDateStr(riqi))
							if (i != tian) {
								if(dt.getDate()%7==6||dt.getDate()%6==0){
									riqi=riqi+1
									tian++
								}else {
									data.push({
										time: this.getDateStr(riqi),
										collection: (parseFloat(this.apr * this.account / 100)),
										account: 0,
										interest: this.apr * this.account / 100,
										principal: parseFloat(this.account)
									})
									riqi++
									console.log(dt.getDate())
								}
								
							} else {
								data.push({
									time: this.getDateStr(riqi),
									collection: (parseFloat(this.apr * this.account / 100) + parseFloat(this.account)),
									account: this.account,
									interest: this.apr * this.account / 100,
									principal: 0
								})
							}
						
						}
					
					this.calculators.totalSettlement = parseFloat(this.periods * this.apr * this.account / 100) + parseFloat(this.account)
					this.calculators.totalSettlement2 = this.account
					this.calculators.totalSettlement3 = this.periods * this.apr * this.account / 100
					this.calculators.total = this.periods * this.apr * this.account / 100
					this.calculators.list = data
				}

			},
			getDateStr(AddDayCount) {
				var dd = new Date();
				dd.setDate(dd.getDate() + AddDayCount); //获取AddDayCount天后的日期
				var y = dd.getFullYear();
				var m = dd.getMonth() + 1; //获取当前月份的日期
				var d = dd.getDate();
				return y + "-" + m + "-" + d;
			},
			reset() {
				this.account = ''
				this.periods = ''
				this.apr = ''
			}
		}
	}
</script>

<style>
	page {
		background-color: #f2f1f1;
	}
</style>
<style lang="scss" scoped>
	.input-wrap {
		padding-left: 78rpx;
		box-sizing: border-box;
		margin-top: 13rpx;

		.input-item {
			display: flex;
			height: 85rpx;
			line-height: 85rpx;
			margin-top: 26rpx;

			.title {
				font-size: 27rpx;
			}

			.input {
				width: 360rpx;
				height: 75rpx;
				border: 2rpx solid #b5b5b5;
				margin-left: 41rpx;
				background-color: #fff;

				input {
					height: 100%;
					width: 100%;
					padding-left: 30rpx;
					box-sizing: border-box;
				}
			}

			.units {
				font-size: 27rpx;
				margin-left: 15rpx;
			}
		}
	}

	.calculate-earnings {
		width: 600rpx;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		margin: 19rpx auto;

		image {
			width: 291rpx;
			height: 81rpx;
			line-height: 81rpx;
			text-align: center;
			font-size: 28rpx;
			color: #fff;
			border-radius: 10rpx;
			font-size: 32rpx;
		}

		view:first-child {
			// background-color: #cc2c2c;
		}

		view:last-child {
			// background-color: #eeeeee;
			// border:1rpx solid #868686;
			// color: #868686;
		}
	}

	.table-wrap {
		width: calc(100% - 20rpx);
		padding: 0 10rpx;
		margin-top: 31rpx;

		.table-header {
			height: 57rpx;
			line-height: 57rpx;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;

			view {
				height: 100%;
				width: 145rpx;
				font-size: 20rpx;
				font-weight: bold;
				text-align: center;
				color: #fff;
				background-color: #cc2c2c;
			}
		}

		.table-body {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 3rpx;

			view {
				font-size: 15rpx;
				text-align: center;
				width: 142rpx;
				border: 1rpx solid #d2d2d2;
				height: 54rpx;
				line-height: 54rpx;
				font-weight: 550;
				margin-top: 2rpx;
				background-color: #fff;
				color: #000;
			}

			view:nth-child(5n+5) {
				color: #ed1010;
			}

			view:nth-child(5n+3) {
				color: #1ab13d;
			}
		}

		.summarize {
			background-color: #fff;
			height: 85rpx;
			margin-top: 4rpx;
			border: 1rpx solid #d2d2d2;
			padding-left: 18rpx;
			box-sizing: border-box;
			font-size: 29rpx;
			display: flex;
			flex-direction: row;

			.summarize-text {
				line-height: 90rpx;
				width: 126rpx;
				color: #ed1010;
			}

			.count {
				width: 145rpx;
				height: 64rpx;
				border-right: 3rpx solid #d2d2d2;
				margin-top: 14rpx;
				color: #1ab13d;
				padding-left: 21rpx;
				box-sizing: border-box;
				line-height: 70rpx;
			}

			.count:last-child {
				border: none;
			}
		}

		.total {
			background-color: #fff;
			margin-top: 2rpx;
			border: 1rpx solid #d2d2d2;
			height: 85rpx;
			line-height: 85rpx;
			font-size: 32rpx;
			font-weight: 550;
			padding-left: 15rpx;

			text {
				margin-left: 25rpx;
				color: #ed1010;
			}
		}
	}
	uni-view {
		    line-height: inherit;}
		::v-deep .label-item{
			padding-left: 20rpx !important;
		}
</style>
