<template>
	<view class="title">
		<u-parse v-html="article" @preview="preview" @navigate="navigate" ></u-parse>
	</view>
</template>

<script>

	export default {
	  data () {
	    return {
			data:{},
			article: ''
	    }
	  },
	  onLoad(option) {
		var params = JSON.parse(option.params)
		console.log(params)
		this.data = params.myDetail
		this.article = this.data.content
	  },
	  methods: {
	    preview(src, e) {
	      // do something
	    },
	    navigate(href, e) {
	      // do something
	    }
	  }
	}
</script>

<style lang='scss'>
	.title{
		
		width: 100%;
		box-sizing: border-box;
	}
	.title /deep/ image {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
	}
	.title /deep/ img {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
	}
</style>
