<template>
	<view id='app' class='page-view'>
		
		<view class="head-bg"></view>

		<view class="time flex-r">
			<u-icon name='clock-fill'></u-icon>
			<view class="text" v-if='time'>
				请在{{minute}}分{{second}}秒内转账，逾期将会自动取消...
			</view>
			<view class="text" v-else>
				逾期取消...
			</view>
		</view>
		
		<view class="content">
			<view class="list" v-if='!bankcard.recipient_account'>
				<view class="item">
					<text class='left'>卡号</text>
					<view>
						<text>正在等待系统发放</text>
					</view>
				</view>
				<view class="item">
					<text class='left'>名称</text>
					<view>
						<text>正在等待系统发放</text>
					</view>
				</view>
				<view class="item">
					<text class='left'>开户行</text>
					<view>
						<text>正在等待系统发放</text>
					</view>
				</view>
				<view class="item">
					<text class='left'>支行</text>
					<view>
						<text>正在等待系统发放</text>
					</view>
				</view>
			</view>
			<view class="list" v-else>
				<view class="item">
					<text class='left'>卡号</text>
					<view>
						<text>{{bankcard.recipient_account}}</text>
					</view>
					<text class='right' @click='copy(bankcard.recipient_account)'>复制</text>
				</view>
				<view class="item">
					<text class='left'>名称</text>
					<view>
						<text>{{bankcard.pay_bank}}</text>
					</view>
					<text class='right' @click='copy(bankcard.pay_bank)'>复制</text>
				</view>
				<view class="item">
					<text class='left'>开户行</text>
					<view>
						<text>{{bankcard.recipient_bank}}</text>
					</view>
					<text class='right' @click='copy(bankcard.recipient_bank)'>复制</text>
				</view>
				<view class="item">
					<text class='left'>支行</text>
					<view>
						<text>{{bankcard.recipient_payee}}</text>
					</view>
					<text class='right' @click='copy(bankcard.recipient_payee)'>复制</text>
				</view>
			</view>
		</view>
		
		<view class="content pd">
			<view class="title">
				<text>特别注意</text>
			</view>
			<view class="txt">
				1.以上银行账户限一次使用，过期请重新申请。
			</view>
			<view class="txt">
				2.充值30分钟未到账，请联系在线客服。
			</view>
		</view>
		
		
		<view class="btn" v-if='!bankcard.recipient_account'>
			<view class="txt flex-r" @click='goKefu'>
				<u-icon name='kefu-ermai' color='#fff'></u-icon>
				<text>联系客服</text>
			</view>
		</view>
		
		<block v-else>
			<view class="btn">
				<view class="txt flex-r" @click='handleChooseImg'>
					<text>上传充值凭证</text>
				</view>
			</view>

			<view class="btn btn-nobg">
				<view class="txt flex-r" @click='goKefu'>
					<u-icon name='kefu-ermai' color='#41569C'></u-icon>
					<text>联系客服</text>
				</view>
			</view>
		</block>
		<u-popup :show="showPopup" @close="showPopup=false" mode='center' round='20'>
			<view class='popup'>
				<view class="icon" @click='showPopup=false'>
					<u-icon name='close' size='14' color='#fff' ></u-icon>
				</view>
				<view v-if='popupStates==1' class="success flex-r">
					<u-icon name='checkmark-circle-fill' size='22' color='#22c134'></u-icon>
					<text>提交成功，请耐心等待审核！</text>
				</view>
				<view v-if='popupStates==0' class="success flex-r">
					<u-icon name='close-circle-fill' size='22' color='red'></u-icon>
					<text>充值失败！</text>
				</view>
				<view class="back" v-if='popupStates==2'>
					<view class="">
						<view class="title">
							确定退出充值？
						</view>
						<view class="txt">
							退出后充值信息不做保存
						</view>
					</view>
					<view class="button flex-r">
						<view class="sure" @click='back'>
							确定
						</view>
						<view class="close" @click='showPopup=false'>
							取消
						</view>
					</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				popupStates: 2,
				showPopup: false,
				pdStates: false,
				index: 0,
				bankcard: {
					recipient_account: '',
					pay_bank: '',
					recipient_payee: '',
					recipient_bank: '',
				},
				minute: '10',
				second: '00',
				time: 600,
				timeTimer: null,
				id: 0,
				requestTimer: null,
				upload: false
			}
		},
		onBackPress(options) {
			// uni.setStorageSync('sendTime', 600)
			this.showPopup = true
			this.popupStates = 2
			return true
		},
		onLoad(option) {
			this.id = option.id || 0
			// 网页页面刷新会从当前倒计时继续计算
			this.time = Number(uni.getStorageSync('sendTime') || 600)
			this.getData()
			this.getTime()
		},
		onShow() {
			uni.setStorageSync('goToKefu', true)
			if (this.time <= 0) {
				setTimeout(() => {
					this.$jump("/pages/my", "switchTab")
				}, 3000)
			}
			
			// 禁止右滑返回
			// #ifdef APP-PLUS
			var page = this.$mp.page.$getAppWebview();
			page.setStyle({ popGesture: 'none' });
			// #endif
		},
		onUnload() {
			clearInterval(this.timeTimer)
			clearInterval(this.requestTimer)
		},
		onHide() {
			uni.setStorageSync('sendTime', this.time)
		},
		methods: {
			async goKefu() {
				uni.showLoading()
				let res = await uni.$u.http.post('/api/userLc/my')
				// 设置goToKefu防止去客服页面回来之后倒计时结束回到我的界面
				uni.setStorageSync('goToKefu', false)
				// clearInterval(this.timeTimer)
				this.kfurl = res.kffffffffffffffffff
				uni.hideLoading()
				uni.navigateTo({
					url: '/pages/service?kfurl=' + this.kfurl
				})
			},
			async back() {
				let res = await uni.$u.http.post('/api/Money/past_due', {
					id: this.id
				})
				uni.setStorageSync('sendTime', 600)
				this.$jump("/pages/my", "switchTab")
			},
			async getData() {
				this.requestTimer = setInterval(async () => {
					let res = await uni.$u.http.post('/api/UserLc/information', {
						id: this.id
					})
					if (res.list.bankcard) {
						clearInterval(this.requestTimer)
						this.bankcard = res.list.bankcard
						this.pdStates = true
					}
				}, 2000)
			},
			getTime() {
				this.timeTimer = setInterval(() => {
					this.time --
					let minute = Math.floor(this.time/60)
					this.minute =  minute < 10 ? '0' + minute : minute
					let second = Math.ceil(this.time%60)
					this.second = second < 10 ? '0'+second : second
					if (this.time == 0) {
						if (this.upload) {
							this.popupStates = 1
						} else {
							this.popupStates = 0
						}
						this.showPopup = true
						let goToKefu = uni.getStorageSync('goToKefu')
						if (goToKefu) {
							uni.setStorageSync('sendTime', 600)
							setTimeout(() => {
								this.$jump("/pages/my", "switchTab")
							}, 3000)
						}
						clearInterval(this.requestTimer)
						clearInterval(this.timeTimer)
					}
				}, 1000)
			},
			copy(text) {
				uni.setClipboardData({
					data: text
				});
				uni.showToast({
					title: "复制成功",
					icon: 'none'
				})
			},
			async handleChooseImg(type) {
				let that = this
				uni.chooseImage({
						count: 1, //默认9
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						loop: true,
						success: res => {
							var tempFilePaths = res.tempFilePaths;
							uni.showLoading({
							    title: '正在上传',
							})
							uni.uploadFile({
								url: that.$baseUrl()+'api/index/uploadimg',
								filePath: tempFilePaths[0],
								name: 'file',
								headers: {
									xtoken: uni.getStorageSync("xtoken")
								},
								success: async uploadFileRes => {
									if(JSON.parse(uploadFileRes.data).status==0){
										uni.hideLoading()
										// uni.showToast({
										// 	title: '上传成功',
										// 	icon: 'none',
										// 	duration: 2000,
										// })
										let img = JSON.parse(uploadFileRes.data).src
										let res = await uni.$u.http.post('/api/UserLc/information_img', {
											id: this.id,
											img: img
										})
										if (res.status == 0) {
											this.upload = true
											uni.showToast({
												title: '上传成功',
												icon: 'none',
												duration: 2000,
											})
											clearInterval(this.timeTimer)
											setTimeout(() => {
												this.$jump("/pages/my", "switchTab")
											}, 3000)
										}
									}else{
										uni.showToast({
										    title: JSON.parse(uploadFileRes.data).msg,
										    icon: 'none',
										    duration: 2000,
										})
									}
								},
								fail(err) {
									console.log(err);
								}
							});
						}
					});
			}
		}
	}
</script>

<style scoped lang="scss">

	page {
		background-color: #f7f9f8;
		padding-bottom: 100rpx;
	}
	view {
		box-sizing: border-box;
	}
	.page-view {
		padding: 120rpx 25rpx 0;
		.head-bg {
			background: #334383;
			width: 100%;
			height: 250rpx;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1;
			border-bottom-left-radius: 25rpx;
			border-bottom-right-radius: 25rpx;
		}
		.time {
			position: relative;
			z-index: 99;
			width: 100%;
			height: 160rpx;
			background: url('../../static/my/chongzhi/box1.png');
			background-size: 100% 100%;
			overflow: hidden;
			border-radius: 30rpx;
			align-items: center;
			padding-left: 50rpx;
			.text {
				margin-left: 10rpx;
				font-size: 28rpx;
				color: #000000;
				line-height: 28rpx;
			}
		}
		
		.content {
			width: 100%;
			padding: 0 20rpx;
			background: #fff;
			border-radius: 30rpx;
			margin-top: 20rpx;
			.title {
				font-size: 30rpx;
				font-weight: 800;
				color: #000000;
				line-height: 48rpx;
				// margin: 30rpx 0;
			}
			.txt {
				// margin-bottom: 32rpx;
			}
			.list {
				margin-top: 45rpx;
				.item {
					display: flex;
					height: 118rpx;
					justify-content: space-between;
					font-size: 28rpx;
					font-weight: 500;
					color: #000000;
					border-bottom: 1px solid #eee;
					align-items: center;
					padding: 0 10rpx;
					&:last-child {
						border-bottom: none;
					}
					.left {
						flex: 0 1 150rpx;
					}
					view {
						flex: 1;
						text-align: left;
					}
					.right {
						flex: 0 1 80rpx;
						color: #41569C ;
					}
				}
			}
		}
		.pd {
			padding: 30rpx 20rpx;
		}
		.btn {
			width: 100%;
			height: 106rpx;
			margin-top: 48rpx;
			background: url('../../static/my/chongzhi/btn-lg.png');
			background-size: 100% 100%;
			border-radius: 10rpx;
			color: #fff;
			.txt {
				height: 100%;
				align-item: center;
				align-items: center;
				justify-content: center;
				text {
					margin-left: 10rpx;
				}
			}
			&.btn-nobg {
				background: #f7f9f8;
				border: 1px solid #41569C;
				color: #41569C;
			}
		}
		
		.popup {
			width: 680rpx;
			background-color: #fff;
			border-radius: 20rpx;
			position: relative;
			padding: 0;
			.icon {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 14rpx;
				right: 14rpx;
				width: 36rpx;
				height: 36rpx;
				border-radius: 50%;
				background: #5f5f5f;
			}
			.success {
				padding: 70rpx 0 70rpx 132rpx;
				align-items: center;
				text {
					margin-left: 20rpx;
				}
			}
			.back {
				padding: 50rpx 46rpx 34rpx;
				.title {
					font-size: 30rpx;
					font-weight: 700;
					color: #000000;
					line-height: 30rpx;
				}
				.txt {
					font-size: 26rpx;
					color: #7F7878;
					line-height: 26rpx;
					margin-top: 20rpx;
				}
				.button {
					margin-top: 60rpx;
					justify-content: space-between;
					font-size: 26rpx;
					font-weight: bold;
					color: #179482;
					line-height: 26rpx;
				}
			}
		}
	}

	
</style>
