<template>
	<view id='app' class='page-view'>
		
		<view class="head-bg"></view>

		<view class="pay">
			<view class="text">
				充值金额
			</view>
			<view class="intDemo">
				<view class="moneytxt">￥</view>
				<input type="number" placeholder="输入金额"  placeholder-style="color:#999" v-model="Upamount">
			</view>
			<view class="money mt30 flex-r">
				<text v-if='showEye'>可用余额：{{user.amount}}</text>
				<text v-else>可用余额：******</text>
				<image v-if='showEye' src="../../static/invest/detail/yanjing.png" @click='showEye=false' mode="aspectFit" />
				<image v-else src="../../static/invest/detail/yanjing2.png" @click='showEye=true' mode="aspectFit"></image>
			</view>
		</view>
		
		<view class="chongzhi">
			<view class="title">
				<text>请选择充值方式</text>
			</view>
			<view class="list">
				<view class="item">
					<image src="../../static/my/chongzhi/radio2.png" mode="aspectFit"></image>
					<text>网上银行</text>
				</view>
			</view>
		</view>
		
		<view class="btn">
			<view class="txt" @click='chongzhi'>
				立即充值
			</view>
		</view>
		
		<!-- 弹框 -->
		<view class="mask" v-if="false">
			<view class="popup">
				<view class="title">银行卡充值</view>
				<image src="../../static/close.svg" class="close-icon" @click="close"></image>
				<view class="table">
					<!-- <view class="line">
						<view class="desc">
							开户银行：
						</view>
						<view class="content">
							{{bankInfo.recipient_bank}}
						</view>
					</view>
					<view class="line hight">
						<view class="desc">
							收款人：
						</view>
						<view class="content">
							<view class="name">
								{{bankInfo.recipient_payee}}
							</view>
							<view class="copy" @click="copy(name)">
								<image src="../../static/copy.svg" class="img"></image>
							</view>
						</view>
					</view>
					<view class="line hight">
						<view class="desc">
							收款账号：
						</view>
						<view class="content">
							<view class="name">
								{{bankInfo.recipient_account}}
							</view>
							<view class="copy" @click="copy(account)">
								<image src="../../static/copy.svg" class="img"></image>
							</view>
						</view>
					</view>
					<view class="line hight">
						<view class="desc">
							银行名称：
						</view>
						<view class="content">
							<image style="height: 90%;" :src="$imgUrl(bankInfo.pay_pic)" mode="aspectFit"></image>
						</view>
					</view> -->

					<view class="line">
						<view class="desc">
							充值金额：
						</view>
						<view class="content">
							<input type="number" placeholder="请输入充值金额" v-model="Upamount">
						</view>
					</view>
					<view class="line">
						<view class="desc">
							汇款/转账时间：
						</view>
						<view class="content">
							{{time}}
						</view>
					</view>
				</view>
				<view class="btn" @tap="chongzhi">
					确认提交
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				showEye: true,
				index: 0,
				check: 3,
				topState: true,
				user: {},
				Ismask: false,
				Upamount: '',
				account: '账户号',
				name: '张三',
				time: '',
				bankInfo: {},
				once: true
			}
		},
		onLoad() {
			this.getUser()
		},
		onShow() {
			this.getUser()
		},
		methods: {
			async chongzhiFn() {
				uni.navigateTo({
					url: '/pages/index_tab/send'
				})
			},
			dateTimeStr(str){
				var date = new Date(),
				year = date.getFullYear(), //年
				month = date.getMonth() + 1, //月
				day = date.getDate(), //日
				hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours(), //时
				minute = date.getMinutes() < 10 ? date.getMinutes() : date.getMinutes(), //分
				second = date.getSeconds() < 10 ? date.getSeconds() : date.getSeconds(); //秒
				month >= 1 && month <= 9 ? (month = "0" + month) : "";
				day >= 0 && day <= 9 ? (day = "0" + day) : "";
				hour >= 0 && hour <= 9 ? hour : "";
				minute >= 0 && minute <= 9 ? (minute = "0" + minute) : "";
				second >= 0 && second <= 9 ? (second = "0" + second) : "";
				if(str.indexOf('y') != -1){
					str = str.replace('y', year)
				}
				if(str.indexOf('m') != -1){
					str = str.replace('m', month)
				}
				if(str.indexOf('d') != -1){
					str = str.replace('d', day)
				}
				if(str.indexOf('h') != -1){
					str = str.replace('h', hour)
				}
				if(str.indexOf('i') != -1){
					str = str.replace('i', minute)
				}
				if(str.indexOf('s') != -1){
					str = str.replace('s', second)
				}
				return str;
			},
			async chongzhi(){
				if (this.once) {
					if(this.user.is_certification==0){
							uni.showToast({
									title: '请先实名认证',
									icon: 'none',
									position: 'bottom',
							})
					 } else {
						this.sub()
					}
				}
				// return
				// let res = await uni.$u.http.post('/api/index/getTime_ti')
				// var timeStr = this.dateTimeStr('y-m-d h:i:s');
				// var kai = this.dateTimeStr('y-m-d') + ' ' + res.data.kai + ':00'
				// var jie = this.dateTimeStr('y-m-d') + ' ' + res.data.jie + ':00'
				// if(this.user.is_certification==0){
				//     uni.showToast({
				//         title: '请先实名认证',
				//         icon: 'none',
				//         position: 'bottom',
				//     })
				//  } else if (timeStr > kai && timeStr < jie){
				// 	this.sub()
				// }else{
				// 	uni.showToast({
				// 		title: `充值时间：${res.data.kai}-${res.data.jie}`,
				// 		duration:2000,
				// 		icon:'none'
				// 	})
				// }
			},
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
			},
			indexNum(index, num) {
				this.index = index
				this.Upamount = num
			},

			async sub() {
				console.log(111)
				this.once = false
				if (this.Upamount !== '') {
					uni.showLoading()
					var data = {
						amount: this.Upamount,
						date: this.time,
						paymentid: 3,
						codename: '默认',
						memo:''
					}
					try {
						let res = await uni.$u.http.post('/api/money/recharge', data)
						if (res.status == 0) {
							uni.hideLoading()
							this.once = true
							setTimeout(() => {
								uni.navigateTo({
									url: '/pages/index_tab/send?id='+res.data.data
								})
							}, 1000)
						}
					} catch (e) {
						this.once = true
					}
				} else {
					this.once = true;
					uni.showToast({
						title: "请输入充值金额",
						icon: 'none'
					})
				}

			},
			getNowTime() {
				var date = new Date();
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var day = date.getDate();
				var hour = date.getHours();
				var minute = date.getMinutes();
				var second = date.getSeconds()
				this.time = year + '-' + this.addZore(month) + '-' + this.addZore(day) + ' ' + this.addZore(hour) + ':' +
					this.addZore(minute) + ':' + this.addZore(second)
			},
			addZore(s) {
				return s < 10 ? ('0' + s) : s
			},
			close() {
				this.Ismask = false
				this.Upamount = ''
			},
			copy(text) {
				uni.setClipboardData({
					data: text
				});
				uni.showToast({
					title: "复制成功",
					icon: 'none'
				})
			}
		}
	}
</script>

<style scoped lang="scss">

	page {
		background-color: #f7f9f8;
	}
	view {
		box-sizing: border-box;
	}
	.page-view {
		padding: 120rpx 25rpx 0;
		.head-bg {
			background: #334383;
			width: 100%;
			height: 250rpx;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 999;
			border-bottom-left-radius: 25rpx;
			border-bottom-right-radius: 25rpx;
		}
		.pay {
			position: relative;
			z-index: 9999;
			width: 100%;
			height: 232rpx;
			background: url('../../static/my/chongzhi/box1.png');
			background-size: 100% 100%;
			padding: 46rpx 30rpx 0;
			.text {
				font-size: 26rpx;
				font-weight: 500;
				color: #A9A9A9;
				line-height: 26rpx;
			}
			.intDemo {
				display: flex;
				align-items: center;
				font-size: 80rpx;
				margin-top: 30rpx;
				.moneytxt {
					line-height: 36rpx;
					font-size: 36rpx;
					color: #171717;
					font-weight: 700;
					margin-right: 30rpx;
				}
				input {
					line-height: 36rpx;
					font-size: 36rpx;
				}
			}
			.money {
				align-items: center;
				font-size: 24rpx;
				font-weight: 500;
				color: #A9A9A9;
				line-height: 24rpx;
				image {
					width: 26rpx;
					height: 20rpx;
					margin-left: 10rpx;
				}
			}
		}
		.chongzhi {
			width: 100%;
			padding: 30rpx 24rpx 38rpx;
			background: #fff;
			border-radius: 30rpx;
			margin-top: 20rpx;
			.title {
				color: #A9A9A9;
				line-height: 26rpx;
				font-size: 26rpx;
			}
			.list {
				margin-top: 45rpx;
				.item {
					text {
						line-height: 26rpx;
						font-size: 26rpx;
						color: #2F2F2F;
						font-weight: 700;
					}
					image {
						width: 20rpx;
						height: 20rpx;
						margin-right: 20rpx;
					}
				}
			}
		}
		.btn {
			width: 100%;
			height: 106rpx;
			text-align: center;
			margin-top: 48rpx;
			background: url('../../static/my/chongzhi/btn-lg.png');
			background-size: 100% 100%;
			color: #fff;
			.txt {
				font-size: 30rpx;
				line-height: 106rpx;
			}
		}
	}

	
</style>
