<template>
	<view id="app">

		
		<view class="czje">
			<view class="ncz">您充值（元）</view>
			<view class="jinq">{{amount}}</view>
		</view>
		
		<view class="czjd">
			<view class="czjdTitle">充值进度</view>
			<view class="jindu">
				<view class="tiaot">
					<view class="yuan reds"></view>
					<view class="gang reds"></view>
					<view class="yuan reds"></view>
					<view class="gang"></view>
					<view class="yuan"></view>
					
				</view>
				<view>
					<view class="czjdTit">充值申请</view>
					<view class="czjdContent">{{shijian}}</view>
					<view class="czjdTit">处理中</view>
					<view class="czjdContent">预计时间10分钟</view>
					<view class="czjdTit">已成功充值</view>
				</view>
			</view>
		</view>
		
		<view class="leix">
			<view class="neir">
				<view>类型</view>
				<view class="contents">银联转账</view>
			</view>
			<view class="neir">
				<view>状态</view>
				<view class="contents">处理中</view>
			</view>
			<!-- <view class="neir">
				<view>地址</view>
				<view class="contents">12341654654</view>
			</view> -->
			<view class="neir">
				<view>时间</view>
				<view class="contents">{{shijian}}</view>
			</view>
		</view>
		<navigator class="complete"  url="/pages/kefu">
		<view class="lxkf">
			
		</view>
		</navigator> 
	</view>
</template>

<script>
	export default {
		data() {
			return {
				amount:0,
				shijian:"",
			}
		},
		onLoad(option) {
				var params = JSON.parse(option.params)
				this.amount = params.amount
				console.log(params.shijian)
				this.shijian = this.getNowTime(params.shijian)
				console.log(option)
		},
		methods: {
			getNowTime(data) {
				var date = new Date(data);
				console.log(date)
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var day = date.getDate();
				var hour = date.getHours();
				var minute = date.getMinutes();
				var second = date.getSeconds()
				return year + '-' + this.addZore(month) + '-' + this.addZore(day) + ' ' + this.addZore(hour) + ':' +
					this.addZore(minute) + ':' + this.addZore(second)
			},
			addZore(s) {
				return s < 10 ? ('0' + s) : s
			},
			complete() {
				uni.navigateTo({
					url:'/pages/service'
				})
			}

		}
	}
</script>

<style lang="scss">
	page {
		background-color: #eee;
	}

	.top {
		text-align: center;
		padding: 1rem 0;

		img {
			width: 8rem;
		}

		.text {
			margin: 1rem 2rem;
			color: #eee;
			font-size: 1.2rem
		}
	}

	.state {
		text-align: center;

		.text {
			color: #999;
			font-size: 0.9rem;
			margin-top: 2rem;
		}

		.money {
			font-size: 2.5rem;
			margin: 1rem 0;
		}

		.integral {
			text {
				color: red;
			}
		}
	}

	.complete {
		text-align: center;
		margin-top: 2.5rem;

		img {
			height: 3.5rem;
		}
	}
	
	.czje{
		background-color: #fff;
		margin-top: 20rpx;
		text-align: center;
		padding: 30rpx 0;
	}
	
	.ncz{
		color: #999;
		font-size: 32rpx;
	}
	.jinq{
		color: #000;
		font-size: 82rpx;
	}
	
	.czjd{
		background-color: #fff;
		margin-top: 20rpx;
		padding: 50rpx 0;
		display: flex;
	}
	
	.czjdTit{
		font-size: 32rpx;
		color: #000;
		font-weight: 550;
	}
	
	.czjdTitle{
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #999;
		font-size: 36rpx;
	}
	
	.czjdContent{
		font-size: 24rpx;
		color: #414141;
		margin:4rpx 0 ;
	}
	
	.leix{
		background-color: #fff;
		margin-top: 20rpx;
		padding: 30rpx 0;
		
	}
	
	.neir{
		display: flex;
		justify-content: space-around;
		margin-bottom: 30rpx;
		color: #939393;
	}
	
	.contents{
		width: 40%;
		text-align: right;
	}
	
	.lxkf{
		width: 92%;
		height: 120rpx;
		background-size: 100% 100%;
		margin: 0 auto;
		margin-top: 60rpx;
	}
	
	.jindu{
		display: flex;
	}
	
	.tiaot{
		width: 30rpx;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-content: flex-start;
		margin-right: 20rpx;
		padding-top: 14rpx;
	}
	
	.yuan{
		width: 30rpx;
		height: 30rpx;
		background-color: #626262;
		border-radius: 50%;
	}
	
	.gang{
		width: 6rpx;
		height: 50rpx;
		background-color: #626262;
		margin: 14rpx 0;
	}
	
	.reds{
		background-color: #cc2c2c!important;
	}
</style>
