<template>
	<view class='page-view'>
		<view class="head-bg"></view>
		
		<view class="pay">
			<view class="text">
				<text v-show='showEye'>{{user && user.amount || '0.00'}}</text>
				<text v-show='!showEye'>******</text>
			</view>
	
			<view class="money mt30 flex-r">
				<text>我的可用余额元</text>
				<image v-if='showEye' src="../../static/invest/detail/yanjing.png" @click='showEye=false' mode="aspectFit" />
				<image v-else src="../../static/invest/detail/yanjing2.png" @click='showEye=true' mode="aspectFit"></image>
			</view>
		</view>
		
		<view class="chongzhi">
			<view class="list">
				<view class="item">
					<text>转账银行</text>
					<view class="flex-r" v-if='user.bankrealname'>
						<text>{{user.bankrealname}}({{user.bankcode.slice(-4)}})</text>
						<u-icon name='arrow-right' color='#a9a9a9' size='14'></u-icon>
					</view>
					<view class="flex-r" style='color: #aaa' v-else>
						未绑定银行卡
					</view>
				</view>
			</view>
		</view>
		
		<view class="chongzhi mt20">
			<view class="text flex-r">
				<text>
					提现金额
				</text>
				<text>
					手续费({{serviceCharge}})%
				</text>
			</view>
			<view class="intDemo">
				<view class="moneytxt">￥</view>
				<input type="number" placeholder="输入金额"  placeholder-style="color:#A9A9A9" v-model="amount">
			</view>
			<view class="money mt30 flex-r">
				<text>预计收取手续费{{amount*serviceCharge/100}}</text>
			</view>
		</view>
		
		<view class="btn" @click="apply">
			<view class="txt">
				预计两个小时到账，确定提现
			</view>
		</view>
		
	
		<view class="keyborad" v-if="show_key" :style="{
                transform: show_key ? 'translateY(0)' : 'translateY(100%)',
                height: header + 'px',
            }">
			<view class="key_main">
				<view class="main_title">
					<image src="/static/del_1.png" mode="aspectFill" @tap="hideFun"></image>
					<text>请输入支付密码</text>
				</view>
				<view class="main_content">
					<view class="content_num">
						<view v-for="item in inputArray" :key="item" class="content_item">
							{{ password[item - 1] ? '●' : '' }}
						</view>
					</view>

				</view>
				<view class="main_keyboard">
					<view class="key_num" v-for="item in numberArray" :key="item" @tap="inputNumFun({ num: item })">
						{{ item }}
					</view>
					<view class="key_null"></view>
					<view class="key_0" @tap="inputNumFun({ num: 0 })">0</view>
					<view class="key_del" @tap="delNumFun">
						<image src="/static/del_2.png" mode="aspectFill">返回</image>
					</view>
				</view>
			</view>
		</view>
	
	</view>
</template>

<script>

	export default {

		data() {
			return {
				showEye: true,
				inputArray: [1, 2, 3, 4, 5, 6], //输入密码的长度
				numberArray: [1, 2, 3, 4, 5, 6, 7, 8, 9], //密码键盘的数字
				password: '', //密码
				user: {},
				amount: '',
				show_key: false,
				pwd: '',
				header: 0,
				certification: {},
				name: '',
				bankCode: '',
				serviceCharge: 0, //手续费
			}
		},

		onShow() {
			this.serviceCharge = Number(uni.getStorageSync('service_charge'))
			this.getUser()
			// #ifdef APP-PLUS
			let _this = this;
			uni.getSystemInfo({
				success(res) {
					_this.header = res.windowHeight
				}
			})
			// #endif
			// #ifdef H5
			this.header = document.body.clientHeight
			// #endif
		},
		watch: {
			show_key() {
				let key = this.show_key
				if (key == false) {
					this.password = ''
				}
			},
		},
		methods: {
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
				if (res.bankcode) {
					if (res.bankcode.length == 16) {
						this.bankCode = res.bankcode.substring(0, 4) + '********' + res.bankcode.substring(12)
					} else if (res.bankcode.length == 19) {
						this.bankCode = res.bankcode.substring(0, 4) + '***********' + res.bankcode.substring(15)
					} else {
						this.bankCode = res.bankcode.substring(0, 4) + '*********' + res.bankcode.substring(13)
					}
				}
			},
			async apply() {
				this.show_key = true
			},
			allWithdrawal() {
				this.amount = this.user.amount
			},
			hideFun() {
				this.show_key = false
			},
			delNumFun() {
				this.show_key = false
			},
			async success() {
				let res = await uni.$u.http.post('/api/money/withdraw', {
					cardid: this.user.bankcode,
					amount: Number(this.amount) - this.amount*this.serviceCharge/100,
					paypwd: this.password,
					service_charge: this.amount*this.serviceCharge/100
				})
				if (res.status == 0) {
					if (res.status != 0) {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							position: 'bottom',
						})
						setTimeout(function() {
							this.show_key = false
						}, 1000)
					} else {
						uni.showToast({
							title: '提交成功',
							icon: 'none',
							position: 'bottom',
						})
						this.show_key = false
						let res = await uni.$u.http.post('/api/userLc/my')
						this.user = res
					}
				} else {
					uni.showToast({
						title: res.msg,
						icon: 'none',
						position: 'bottom',
					})
					setTimeout(function() {
						this.show_key = false
					}, 1000)
					this.password = ''
				}
				this.password = ''
				this.amount = ''
			},
			inputNumFun(op) {
				let _this = this
				if (_this.password.length <= 6) {
					_this.password += op.num
					if (_this.password.length == 6) {
						_this.success()
					}
				}
			},
		},
	}
</script>
<style>
	page {
		background-color: #f1f1f1;
	}
</style>
<style lang="scss" scoped>
	page {
		background-color: #f7f9f8;
	}
	view {
		box-sizing: border-box;
	}
	
	.page-view {
		padding: 120rpx 25rpx 0;
		.head-bg {
			background: #334383;
			width: 100%;
			height: 250rpx;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 999;
			border-bottom-left-radius: 25rpx;
			border-bottom-right-radius: 25rpx;
		}
		.pay {
			position: relative;
			z-index: 9999;
			width: 100%;
			height: 232rpx;
			background: url('../../static/my/chongzhi/box1.png');
			background-size: 100% 100%;
			padding: 46rpx 30rpx 0;
			text-align: center;
			.text {
				font-size: 60rpx;
				font-weight: 400;
				color: #000000;
				line-height: 60rpx;
			}
			
			.money {
				justify-content: center;
				font-size: 24rpx;
				margin-top: 26rpx;
				color: #A9A9A9;
				line-height: 26rpx;
				image {
					width: 26rpx;
					height: 20rpx;
					margin-left: 10rpx;
				}
			}
		}
		.chongzhi {
			width: 100%;
			padding: 34rpx 24rpx;
			background: #fff;
			border-radius: 30rpx;
			margin-top: 20rpx;
			.title {
				color: #A9A9A9;
				line-height: 26rpx;
				font-size: 26rpx;
			}
			.list {
				padding: 2rpx 0;
				.item {
					display: flex;
					justify-content: space-between;
					text {
						line-height: 26rpx;
						font-size: 26rpx;
						color: #2F2F2F;
						font-weight: 700;
					}
					image {
						width: 20rpx;
						height: 20rpx;
						margin-right: 20rpx;
					}
					.flex-r {
						align-items: center;
					}
				}
			}
			.text {
				font-size: 26rpx;
				font-weight: 500;
				color: #A9A9A9;
				line-height: 26rpx;
				justify-content: space-between;
			}
			.intDemo {
				display: flex;
				align-items: center;
				font-size: 80rpx;
				margin-top: 30rpx;
				.moneytxt {
					line-height: 36rpx;
					font-size: 36rpx;
					color: #171717;
					font-weight: 700;
					margin-right: 30rpx;
				}
				input {
					line-height: 36rpx;
					font-size: 36rpx;
				}
			}
			
			.money {
				align-items: center;
				font-size: 24rpx;
				font-weight: 500;
				color: #A9A9A9;
				line-height: 24rpx;
				image {
					width: 26rpx;
					height: 20rpx;
					margin-left: 10rpx;
				}
			}
		}
		.btn {
			width: 100%;
			height: 106rpx;
			text-align: center;
			margin-top: 48rpx;
			background: url('../../static/my/chongzhi/btn-lg.png');
			background-size: 100% 100%;
			color: #fff;
			.txt {
				font-size: 30rpx;
				line-height: 106rpx;
			}
		}
	}


	.bottom-btn {
		width: 100%;
		height: 123rpx;
		padding: 19rpx 45rpx;
		box-sizing: border-box;
		background-color: #f1f1f1;
		margin-top: 30rpx;

		image {
			width: 100%;
			height: 100%;
		}
	}

	.keyborad {
		width: 100vw;
		position: fixed;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transform: translateY(100%);
		transition: all 0.4s;

		.key_main {
			width: 100vw;
			height: 900rpx;
			background: rgba(245, 245, 245, 0.9);
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.main_title {
				font-size: 34rpx;
				color: #000000;
				height: 100rpx;
				display: flex;
				align-items: center;
				letter-spacing: 2rpx;
				width: 100%;
				box-sizing: border-box;
				padding: 0px 20rpx;
				border-bottom: 2rpx solid #e1e1e1;

				image {
					width: 48rpx;
					height: 48rpx;
					position: relative;
					z-index: 10;
				}

				text {
					flex: 1;
					margin-left: -48rpx;
					display: flex;
					justify-content: center;
				}
			}

			.main_content {
				width: 100%;
				box-sizing: border-box;
				padding: 0px 30rpx;
				margin-top: 40rpx;

				.content_num {
					width: 100%;
					height: 100rpx;
					border: 2rpx solid #dbdbdb;
					border-radius: 10rpx;
					display: flex;
					align-items: center;

					.content_item {
						flex: 1;
						height: 100%;
						border-right: 2rpx solid #dbdbdb;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.content_item:last-child {
						border-right: none;
					}
				}

				.main_forget {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					font-size: 28rpx;
					color: #007aff;
					margin-top: 40rpx;
				}
			}

			.main_keyboard {
				width: 100%;
				height: 500rpx;
				background: #ffffff;
				display: flex;
				flex-flow: wrap;

				.key_null,
				.key_del {
					background: #e2e7eb;
				}

				image {
					width: 48rpx;
					height: 48rpx;
				}

				.key_num,
				.key_null,
				.key_del,
				.key_0 {
					width: 250rpx;
					height: 125rpx;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.key_num {
					border-right: 2rpx solid #f1f4f4;
					border-bottom: 2rpx solid #f1f4f4;
					box-sizing: border-box;
				}

				.key_num:nth-child(8) {
					border-bottom: none;
				}

				.key_0 {
					border-top: 2rpx solid #f1f4f4;
				}
			}
		}
	}

	.apply {
		color: white;
		background-color: #cc2c2c;
		font-size: 16px;
		border-radius: 50rpx;
		padding: 24rpx 0;
		margin: 0 auto;
		text-align: center;
	}

	uni-view {
		line-height: inherit;
	}
</style>
