<template>
	<view>
		<view class="background">
			<view class="success-wrap">
				<image src="../../static/my/index_tab/successful.png" mode=""></image>
			</view>
			<view class="successful-text">提现成功</view>
			<view class="info-text">
				<view class="order-wrap">
					<view class="order-details-title">订单详情</view>
					<view class="info">
						<view>提现金额: &nbsp;&nbsp;
							<text>{{money}}</text>
						</view>
						<view>提现方式: &nbsp;&nbsp;中国银行</view>
						<view>提现时间: &nbsp;&nbsp;2022-09-08 10:37:33</view>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				money: ""
			}
		},
		onLoad(options) {
			console.log("11111111111111111", options)
			this.money = options.amount
		},
		methods: {

		}
	}
</script>

<style lang="scss" scoped>
	.background {
		text-align: center;
		font-size: 34rpx;

		.success-wrap {
			width: 188rpx;
			height: 150rpx;
			margin: 136rpx auto 0;

			image {
				width: 100%;
				height: 100%;
			}
		}

		.successful-text {
			margin-top: 50rpx;
		}

		.info-text {
			width: 580rpx;
			height: 380rpx;
			background: url('../../static/my/index_tab/bg.png') no-repeat center;
			background-size: cover;
			margin: 80rpx auto 0;

			.order-wrap {
				width: 100%;
				height: 100%;
				padding: 50rpx 60rpx 0 60rpx;
				box-sizing: border-box;

				.order-details-title {
					text-align: left;
					box-sizing: border-box;
					font-size: 28rpx;
					line-height: 28rpx;
					padding-bottom: 31rpx;
					border-bottom: 2rpx solid #e8e8e8;
				}

				.info {
					margin-top: 20rpx;
					text-align: left;
					font-size: 26rpx;
					line-height: 52rpx;

					view {
						white-space: nowrap;
						text{
							padding-left: 20rpx;
						}
					}
				}
			}
		}
	}
</style>
