<template>
	<view class="page-view">
		<view class="head-bg"></view>
		<view class="content">
			<view class="item flex-r">
				<view class="name">
					快递公司
				</view>
				<view class="val">
					<picker class="picker" mode="selector" :value="expressIndex" @change="pickerChange"
						:range="expressList" range-key="com">
						<text v-if="expressIndex === null" class="comText">请选择快递公司</text>
						<text v-else class="comText">{{expressList[expressIndex]['com']}}</text>
					</picker>
					<uni-icons class="pickerIcon" type="arrowdown" color="#999999"></uni-icons>
				</view>
			</view>
			<view class="item flex-r">
				<view class="name">
					快递单号
				</view>
				<view class="val">
					<input v-model="express.number" placeholder="请输入快递单号" class="expressNumber" type="text"
						maxlength="32" />
					<u-icon name='close' size='14' color="#999999" @click='express.number = ""'></u-icon>
				</view>
			</view>
		</view>
		<view class="btn">
			<view class="txt" @click='expressSearch'>
				查询
			</view>
		</view>

		<u-popup :show="showPopup" round='20' closeable @close='showPopup=false'>
			<view class="popup">
				<view class="header">
					{{express.com}}: {{express.number}}
				</view>
				<scroll-view class='scroll' scroll-y="true">
					<u-steps current="0" direction="column" dot>
						<u-steps-item v-for='(item,i) in logisticsTracking' :title="item.context" :desc="item.time">
						</u-steps-item>
					</u-steps>
				</scroll-view>
			</view>
		</u-popup>
	</view>
</template>
<script>
	export default {
		data() {
			return {
				showPopup: false,
				expressList: [{
						"com": "顺丰速运",
						"code": "shunfeng"
					},
					{
						"com": "圆通速递",
						"code": "yuantong"
					},
					{
						"com": "中通快递",
						"code": "zhongtong"
					},
					{
						"com": "韵达快递",
						"code": "yunda"
					},
					{
						"com": "百世快递",
						"code": "huitongkuaidi"
					},
					{
						"com": "邮政快递包裹",
						"code": "youzhengguonei"
					},
					{
						"com": "申通快递",
						"code": "shentong"
					},
					{
						"com": "天天快递",
						"code": "tiantian"
					},
					{
						"com": "EMS",
						"code": "ems"
					},
					{
						"com": "邮政标准快递",
						"code": "youzhengbk"
					},
					{
						"com": "宅急送",
						"code": "zhaijisong"
					},
					{
						"com": "德邦",
						"code": "debangwuliu"
					},
					{
						"com": "德邦快递",
						"code": "debangkuaidi"
					},
					{
						"com": "优速快递",
						"code": "youshuwuliu"
					},
					{
						"com": "中通快运",
						"code": "zhongtongkuaiyun"
					},
					{
						"com": "韵达快运",
						"code": "yundakuaiyun"
					},
					{
						"com": "百世快运",
						"code": "baishiwuliu"
					},
					{
						"com": "安能快运",
						"code": "annengwuliu"
					},
					{
						"com": "极兔速递",
						"code": "jtexpress"
					},
					{
						"com": "圆通快运",
						"code": "yuantongkuaiyun"
					},
				],
				expressIndex: null, //第几个索引
				//物流信息
				express: {
					com: "", //快递公司名称
					code: "", //对应快递公司code
					number: "" //快递单号
				},
				logisticsTracking: [], //物流跟踪
			}
		},
		methods: {
			//选择快递公司
			pickerChange(e) {
				this.expressIndex = e.detail.value;
				this.express.com = this.expressList[this.expressIndex].com;
				this.express.code = this.expressList[this.expressIndex].code;
			},
			async expressInfo() {
				let res = await uni.$u.http.post('/api/index/expressage', {
					nu: this.express.number
				})
				this.logisticsTracking = res.data.data
			},
			//查物流
			async expressSearch() {
				try {
					if (!this.express.number) {
						uni.showToast({
							title: '快递单号不能为空',
							icon: 'none'
						});
						return
					}
					uni.showLoading()
					let res = await uni.$u.http.post('/api/index/expressage', {
						nu: this.express.number
					})
					if (res.data.status != 4) {
						uni.showToast({
							title: res.data.msg,
							icon: 'none'
						});
						return false
					}
					this.logisticsTracking = res.data.data
					this.express.com = res.data.expTextName
					this.showPopup = true
				} catch (e) {
					uni.showToast({
						title: '请输入格式正确的快递单号',
						icon: 'none'
					});
				}
				uni.hideLoading()
			}
		}
	}
</script>

<style lang="scss" scoped>
	page {
		background-color: #f7f9f8;
	}

	.page-view {
		padding: 120rpx 25rpx 0;

		.head-bg {
			background: #334383;
			width: 100%;
			height: 250rpx;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 999;
			border-bottom-left-radius: 25rpx;
			border-bottom-right-radius: 25rpx;
		}

		.content {
			width: 100%;
			background: #fff;
			border-radius: 20rpx;
			position: relative;
			z-index: 999;
			padding: 20rpx 50rpx;

			.item {
				height: 90rpx;
				align-items: center;

				.name {
					flex: 0 1 160rpx;
					font-weight: 800;
				}

				.val {
					flex: 0 1 400rpx;
					height: 60rpx;
					background: #f2f2f2;
					display: flex;
					justify-content: space-between;
					border-radius: 10rpx;
					padding: 0 10rpx 0 16rpx;
					align-items: center;

					.picker {
						width: 90%;

						/deep/ .comText {
							font-size: 22rpx;
						}
					}

					input {
						font-size: 22rpx;
					}
				}
			}
		}

		.btn {
			width: 100%;
			height: 80rpx;
			text-align: center;
			margin-top: 48rpx;
			background: url('@/static/my/chongzhi/btn-lg.png');
			background-size: 100% 100%;
			color: #fff;

			.txt {
				font-size: 30rpx;
				line-height: 80rpx;
			}
		}

		.popup {
			width: 100%;
			height: 70vh;
			padding: 30rpx;

			.header {
				height: 5vh;
				font-weight: 700;
			}

			.scroll {
				height: 60vh;
			}
		}
	}
</style>
