<template>
	<view class="page-view">
		<view class="content">
			<view class="title">
				<text>请上传身份证正反面</text>
			</view>
			<view class="imgs">
				<view class="item flex-r">
					<view class="">
						<text>上传您的身份证头像面</text>
					</view>
					<block v-if="img1 != ''">
						<image :src="$imgUrl(img1)" @click="handleChooseImg(1)" mode=""></image>
						<!-- <image v-if="(certification?certification.state:'null') != 1 && (certification?certification.state:'null') != 2" src="../../static/close.png" class="del-icon" @click="clearImg('one')"></image> -->
					</block>
					<image v-else src="../../static/my/renzheng/sfz2.png" mode="" @click="handleChooseImg(1)"></image>
				</view>
				<view class="item flex-r">
					<view class="">
						<text>上传您的身份证国徽面</text>
					</view>
					<block v-if="img2 != ''">
						<image :src="$imgUrl(img2)" @click="handleChooseImg(2)" mode=""></image>
						<!-- <image v-if="(certification?certification.state:'null') != 1 && (certification?certification.state:'null') != 2" src="../../static/close.png" class="del-icon" @click="clearImg('two')"></image> -->
					</block>
					<image v-else src="../../static/my/renzheng/sfz1.png" mode="" @click="handleChooseImg(2)"></image>
				</view>
			</view>
		</view>
		<view class="content">
			<view class="title">
				<text>系统自动识别</text>
			</view>
			<view class="name-code">
				<view class="flex-r">
					<text>姓名</text>
					<input type="text" v-model="name" placeholder='真实姓名'>
				</view>
				<view class="flex-r">
					<text>身份证号</text>
					<input type="text" v-model="id" placeholder='身份证号'>
				</view>
			</view>
		</view>
		<view class="content">
			<view class="title">
				<text>请上传自拍照片</text>
			</view>
			<view class="zipai">
					<block v-if="img3 != ''">
						<image :src="$imgUrl(img3)" mode=""></image>
					</block>
					<image v-else src="../../static/my/renzheng/zpz.png" mode="" @click="handleChooseImg(3)"></image>
			</view>
		</view>
		
		<view v-if="(certification?certification.state:'null') == 0" type="primary" class="btn" disabled="true">审核中</view>
		<view v-else-if="(certification?certification.state:'null') == 1" type="primary" class="btn" disabled="true" @click="submit('customForm')">审核通过</view>
		<view v-else type="primary" class="btn" @click="submit('customForm')">确认上传</view>
		</view>
		<!-- <view class="top">
				<uni-forms-item label="真实姓名" required name="name">
					<uni-easyinput v-model="name" placeholder="请输入您的真实姓名,认证后不可更改" disabled />
				</uni-forms-item>
				<uni-forms-item label="身份证号" required name="age">
					<uni-easyinput v-model="id" placeholder="请输入您的真实姓名对应的身份证号" :disabled="isid"/>
				</uni-forms-item>
		</view>
		<view class="upload">
			<view class="title">
				请上传身份证照片
			</view>
			<view class="imgs">
				<view style="position: relative;">
					<block v-if="img1 != ''">
						<image :src="$imgUrl(img1)" mode=""></image>
						<image v-if="(certification?certification.state:'null') != 1 && (certification?certification.state:'null') != 2" src="../../static/close.png" class="del-icon" @click="clearImg('one')"></image>
					</block>
					<image v-else src="../../static/verified/add1.png" mode="" @click="handleChooseImg(1)"></image>
				</view>
				<view style="position: relative;">
					<block v-if="img2 != ''">
						<image :src="$imgUrl(img2)" mode=""></image>
						<image v-if="(certification?certification.state:'null') != 1 && (certification?certification.state:'null') != 2" src="../../static/close.png" class="del-icon" @click="clearImg('two')"></image>
					</block>
					<image v-else src="../../static/verified/add2.png" mode="" @click="handleChooseImg(2)"></image>
				</view>
			</view>
			<view class="desc">
				<image class="tip" src="../../static/verified/tip.png"></image>
				<view class="text">
					证件照必须是清晰彩色原件电子版本，可以是扫描件或者数码拍摄照片，支持jpg、png、jpeg的图片格式
				</view>
			</view>

			
			<button v-if="(certification?certification.state:'null') == 0" type="primary" class="btn" disabled="true">审核中</button>
			<button v-else-if="(certification?certification.state:'null') == 1" type="primary" class="btn" disabled="true">审核通过</button>
			<button v-else type="primary" class="btn" @click="submit('customForm')">确认上传</button>
		</view> -->

	</view>
</template>

<script>
	export default {
		data() {
			return {
				// 自定义表单数据
					name: '',
					id: '',
					img1: "",
					img2: "",
					img3: "",
				// 自定义表单校验规则
				url1: [],
				url2: [],
				imgList: [],
				certification: {},
				isname:false,
				isid:false,
				showapi_appid:'',
				showapi_sign:'',
				// state: ''
			};
		},
		onLoad() {
			this.getappid()
			this.isCertification()
		},
		methods: {
			async getappid(){
				let res = await uni.$u.http.post('/api/Publics/api_code')
				this.showapi_appid = res.data.showapi_appid
				this.showapi_sign = res.data.showapi_sign
			},
			shibie(){
				uni.request({
					url: 'http://route.showapi.com/1429-1',
					data:{
						showapi_appid: this.showapi_appid,
						imgUrl:this.$imgUrl(this.img1),
						showapi_sign:this.showapi_sign,
					},
					success: (res) => {
						if (res.data.showapi_res_body.ret_code == 0) {
							if (res.data.showapi_res_body.name) {
								this.isname = true
								this.name = res.data.showapi_res_body.name
							}else{
								this.isname = false
							}
							
							if (res.data.showapi_res_body.idNo && res.data.showapi_res_body.idNo.indexOf('*') == -1) {
								this.id = res.data.showapi_res_body.idNo
								this.isid = true
							}else{
								this.isid = false
							}
							
						}
					}
				})
			},
			formatterDateTime() {
				var date=new Date()
				var month=date.getMonth() + 1
				var datetime = date.getFullYear()
				+ ""// "年"
				+ (month >= 10 ? month : "0"+ month)
				+ ""// "月"
				+ (date.getDate() < 10 ? "0" + date.getDate() : date.getDate())
				+ ""
				+ (date.getHours() < 10 ? "0" + date.getHours() : date.getHours())
				+ ""
				+ (date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes())
				+ ""
				+ (date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds());
				return datetime;
			},
			async isCertification() {
				let res = await uni.$u.http.post('/api/userLc/isCertification')
				this.certification = res.data

				// 首次登录未认证，res.data = null 将state赋值3代表未认证
				// if (res.data == null) {
				// 	this.state = 'no'
				// 	console.log(this.state )
				// }
				// console.log(res.data, this.state)
				var data = res.data
				if (data) {
					this.name = data.name
					this.id = data.card
					this.img1 = data.card_img_1
					this.img2 = data.card_img_2
					this.img3 = data.card_img_3
				} else {
					this.name = ""
					this.id = ""
					this.img1 = ""
					this.img2 = ""
					this.img3 = ""
				}
			},
			clearImg(str){
				if(str=="one"){
					this.img1 = ''
				}
				if(str=="two"){
					this.img2 = ''
				}
			},
			async handleChooseImg(type) {
				var that = this
				if (type == 1) {
					uni.chooseImage({
						count: 1, //默认9
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						loop: true,
						success: res => {
							var tempFilePaths = res.tempFilePaths;
							uni.showLoading({
							    title: '正在上传',
							})
							uni.uploadFile({
								url: that.$baseUrl()+'api/index/uploadimg',
								filePath: tempFilePaths[0],
								name: 'file',
								headers: {
									xtoken: uni.getStorageSync("xtoken")
								},
								success: uploadFileRes => {
									if(JSON.parse(uploadFileRes.data).status==0){
										uni.hideLoading()
										uni.showToast({
											title: '上传成功',
											icon: 'none',
											duration: 2000,
										})
										this.img1 = JSON.parse(uploadFileRes.data).src
									}else{
										uni.showToast({
										    title: JSON.parse(uploadFileRes.data).msg,
										    icon: 'none',
										    duration: 2000,
										})
									}
									this.shibie()
								},
								fail(err) {
									console.log(err);
								}
							});
						}
					});

				}
				if (type == 2) {
					uni.chooseImage({
						count: 1, //默认9
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						loop: true,
						success: res => {
							if (res.tempFilePaths.length != 0) {
								this.url2.push(res.tempFilePaths[0]);
							}
							console.log(JSON.stringify(res.tempFilePaths));
							var tempFilePaths = res.tempFilePaths;
							uni.showLoading({
							    title: '正在上传',
							})
							let domain = this.$baseUrl();
							uni.uploadFile({
								url: domain+'api/index/uploadimg',
								filePath: tempFilePaths[0],
								name: 'file',
								headers: {
									xtoken: uni.getStorageSync("xtoken")
								},
								success: uploadFileRes => {
									if(JSON.parse(uploadFileRes.data).status==0){
										uni.hideLoading()
										uni.showToast({
										    title: '上传成功',
										    icon: 'none',
										    duration: 2000,
										})
										that.img2 = JSON.parse(uploadFileRes.data).src
									}else{
										uni.showToast({
										    title: JSON.parse(uploadFileRes.data).msg,
										    icon: 'none',
										    duration: 2000,
										})
									}
								},
								fail(err) {
									console.log(err);
								}
							});
						}
					});

				}
			
				if (type == 3) {
					uni.chooseImage({
						count: 1, //默认9
						sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
						sourceType: ['album'], //从相册选择
						loop: true,
						success: res => {
							if (res.tempFilePaths.length != 0) {
								this.url2.push(res.tempFilePaths[0]);
							}
							var tempFilePaths = res.tempFilePaths;
							uni.showLoading({
							    title: '正在上传',
							})
							let domain = this.$baseUrl();
							uni.uploadFile({
								url: domain+'api/index/uploadimg',
								filePath: tempFilePaths[0],
								name: 'file',
								headers: {
									xtoken: uni.getStorageSync("xtoken")
								},
								success: uploadFileRes => {
									if(JSON.parse(uploadFileRes.data).status==0){
										uni.hideLoading()
										uni.showToast({
										    title: '上传成功',
										    icon: 'none',
										    duration: 2000,
										})
										that.img3 = JSON.parse(uploadFileRes.data).src
									}else{
										uni.showToast({
										    title: JSON.parse(uploadFileRes.data).msg,
										    icon: 'none',
										    duration: 2000,
										})
									}
								},
								fail(err) {
									console.log(err);
								}
							});
						}
					});
				
				}
							
			},
			
			async submit(ref) {
				if (this.img1 == "" || this.img2 == "") {
					uni.showToast({
						title: "请上传身份证照片正反面",
						icon: 'none',
						position: "bottom"
					})
					return
				}
				if (this.img3 == "") {
					uni.showToast({
						title: "请上传自拍照",
						icon: 'none',
						position: "bottom"
					})
					return
				}
				if (this.name == "" || this.id == "") {
					uni.showToast({
						title: "姓名或身份证号不能为空",
						icon: 'none',
						position: "bottom"
					})
				} else {
					let res = await uni.$u.http.post('/api/userLc/updateCertification', {
						name: this.name,
						card: this.id,
						card_img_1: this.img1,
						card_img_2: this.img2,
						card_img_3: this.img3,
					})
					if (res.status == 0) {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							position: "bottom",
							duration: 3000
						})
						setTimeout(function() {
							uni.navigateBack()
						}, 1000)
					}
					if (res.status == 1) {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							position: "bottom"
						})
					}
				}
			},
		}
	}
</script>

<style scoped lang="scss">
	page {
		background: #f4f4f4;
	}
	.page-view {
		width: 100%;
		padding: 0 25rpx 90rpx;
		.content {
			background: #fff;
			border-radius: 30rpx;
			margin-top: 30rpx;
			padding: 72rpx 36rpx;
			.title {
				text {
					font-size: 28rpx;
					font-weight: bold;
					color: #000000;
					line-height: 28rpx;
				}
			}
			.imgs {
				.item {
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 202rpx;
					margin-top: 40rpx;
					text {
						font-size: 24rpx;
						color: #BEBEBE;
					}
					image {
						width: 316rpx;
						height: 202rpx;
					}
				}
			}
			
			.name-code {
				margin-top: 30rpx;
				margin-bottom: -30rpx;
				.flex-r {
					justify-content: space-between;
					align-items: center;
					width: 100%;
					height: 104rpx;
					border-top: 1px solid #eee;
					text {
						font-size: 26rpx;
						font-weight: 500;
						color: #949494;
					}
					input {
						text-align: right;
						font-size: 30rpx;
						font-weight: bold;
						color: #000000;
					}
				}
			}
			.zipai {
				margin-top: 40rpx;
				image {
					width: 100%;
					height: 380rpx;
				}
			}
		}
		
		.btn {
			width: 356rpx;
			height: 90rpx;
			margin: 48rpx auto;
			background: url('../../static/home/integral/duihuan.png');
			background-size: 100% 100%;
			font-size: 30rpx;
			text-align: center;
			color: #F4F4F4;
			line-height: 90rpx;
		}
	}
</style>
