<template>
	<view class="page-view">
		<view class="header">
			<image src='@/static/home/dream/header.png' mode="aspectFit"></image>
		</view>
		<view class="search">
			<view class="content">
				<input type="text" :value='keyword' placeholder="请输入关键字..." placeholder-style="color:#010101" @input='keywordFn'>
				<view class="btn" @click='explain'>
					解梦
				</view>
			</view>
		</view>
		<view class="title">
			<image src="@/static/home/dream/left.png" mode=""></image>
			<text>梦境分类</text>
			<image src="@/static/home/dream/right.png" mode=""></image>
		</view>
		<view class="list">
			<view class="item" v-for='(item,i) in list' :key='i' @click='keyword=item'>
				{{item}}
			</view>
		</view>
		<u-popup :show="showPopup" :round='20' mode='center' @close="showPopup=false">
			<view class="popup">
				<view class="popup-list">
					<view class="item" v-for='(item,i) in detailList' :key='i'>
						<view class="item-title">
							{{i+1}}.{{item.name}}
						</view>
						<view class="item-content">
							<view v-for='(m,n) in item.detailList' :key='n'>
								<text>{{m}}</text>
							</view>
						</view>
					</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				showPopup: false,
				page: 1,
				keyword: '',
				detailList: [],
				list: ['被狗咬','发大水','掉头发','丢钱','遇暗恋的人','水','地震','开车',
				'泡温泉','当皇帝','被蛇咬','龙','鱼','飞上天','放风筝','UFO','船']
			}
		},
		methods: {
			keywordFn(e){
				return this.keyword = e.detail.value;
			},
			async explain() {
				if (!this.keyword) {
					uni.showToast({
						title: '内容不能为空',
						icon: 'none'
					})
					return
				}
				uni.showLoading()
				let res = await uni.$u.http.post('/api/index/oneiromancy', {
					page: this.page,
					keyWords: this.keyword
				})
				if (res.data.length) {
					this.detailList = res.data
					this.showPopup = true
				} else {
					uni.showToast({
						title: '暂无内容',
						icon: 'none'
					})
				}
				uni.hideLoading()
			}
		}
	}
</script>

<style lang='scss' scoped>
	.page-view {
		height: 100vh;
		width: 100%;
		overflow: auto;
		background: url('../../../static/home/dream/bg.png') no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		padding-top: 78rpx;
		.header {
			width: 486rpx;
			height: 486rpx;
			margin: 0 auto 78rpx;
			image {
				width: 100%;
				height: 100%;
			}
		}
		.search {
			width: 664rpx;
			height: 118rpx;
			background: rgba(255, 255, 255, 0.4);
			border-radius: 30rpx;
			margin: 64rpx auto 40rpx;
			.content {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 18rpx 0 44rpx;
				input {
					flex: 1;
					/* font-weight: 400;
					color: #010101;
					line-height: 90px; */
				}
				.btn {
					width: 156rpx;
					height: 94rpx;
					border-radius: 10rpx;
					background: #334383;
					font-size: 28rpx;
					font-weight: 400;
					color: #FFFFFF;
					line-height: 94rpx;
					text-align: center;
				}
			}
		}
		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			image {
				width: 40rpx;
				height: 10rpx;
			}
			text {
				font-size: 36rpx;
				font-weight: bold;
				color: #30458A;
				line-height: 36rpx;
				margin: 0 10rpx;
			}
		}
		.list {
			width: 100%;
			padding: 0 50rpx;
			display: flex;
			flex-wrap: wrap;
			margin-top: 34rpx;
			margin-bottom: 34rpx;
			
			.item {
				flex-grow: 1;
				border-radius: 20rpx;
				background: #819FD3;
				padding: 26rpx 32rpx;
				color: #fff;
				margin-right: 10rpx;
				margin-top: 10rpx;
				text-align: center;
			}
		}
		.popup {
			width: 600rpx;
			height: 800rpx;
			background: #fff;
			border-radius: 20rpx;
			.popup-list {
				width: 100%;
				height: 100%;
				padding: 20rpx;
				overflow: auto;
				.item {
					margin-top: 32rpx;
					padding-bottom: 30rpx;
					border-bottom: 1px solid #eee;
					&:last-child {
						border-bottom: none;
					}
					.item-title {
						font-size: 28rpx;
						font-weight: bold;
						color: #515956;
						line-height: 28rpx;
						margin-bottom: 24rpx;
					}
					.item-content {
						font-size: 24rpx;
						font-weight: 500;
						color: #515956;
						line-height: 36rpx;
						opacity: 0.83;
						text {
							text-indent: 1em;
							display: inline-block;
							margin-top: 10rpx;
						}
						/* text::before {
							content: '';
							display: inline-block;
							width: 12rpx;
							height: 12rpx;
							border-radius: 50%;
							background: #515956;
							position: relative;
							top: -4rpx;
						} */
					}
				}
			}
		}
	}
	
</style>
