<template>
	<view class="page-view" :style='{paddingTop: paddingTop}'>
		<navbar class='navbar' bg='#334383'>
			<template slot='left'>
				首页
			</template>
			<template slot='right'>
				<view @click='goNetwork' class='flex-r'>
					<image class='img' src="@/static/home/index/jiantou.png" mode="aspectFit"></image>
					当前线路{{network_active}}
					<!-- <text class='green' v-show='netWorkSpeed < 200'>
						{{netWorkSpeed}}kb
					</text>
					<text class='red' v-show='netWorkSpeed > 1024'>
						{{(netWorkSpeed/1024).toFixed(1)}}mb
					</text>
					<text class='yellow' v-show='netWorkSpeed < 1024 && netWorkSpeed > 200'>
						{{netWorkSpeed}}kb
					</text> -->
					<image class='image' src="@/static/home/index/network.png" mode="aspectFit"></image>
				</view>
			</template>
		</navbar>

		<!-- 海报 -->
		<view class="swiper-view">
			<template slot='right'>
				<view @click='$jump("/pages/network")' class='flex-r'>
					<image class='img' src="@/static/home/index/jiantou.png" mode="aspectFit"></image>
					当前网络
					<text class='green' v-show='netWorkSpeed < 200'>
						{{netWorkSpeed}}kb
					</text>
					<text class='red' v-show='netWorkSpeed > 1024'>
						{{(netWorkSpeed/1024).toFixed(1)}}mb
					</text>
					<text class='yellow' v-show='netWorkSpeed < 1024 && netWorkSpeed > 200'>
						{{netWorkSpeed}}kb
					</text>
					<image class='image' src="@/static/home/index/network.png" mode="aspectFit"></image>
				</view>
			</template>

			<swiper circular :indicator-dots="true" :autoplay="true" indicator-active-color="#fff"
				indicator-color="#ccc" easeInOutCubic :interval="5000" :duration="600">
				<swiper-item v-for="(item,i) in bannerList" :key="i">
					<!-- {{$imgUrl(item.thumb_url)}} -->
					<view style="width: 100%; height: 100%">
						<image :src="$imgUrl(item.thumb_url)" style="width: 100%; height: 100%"></image>
					</view>
				</swiper-item>
			</swiper>
		</view>

		<view class="content-view">
			<!-- 公告 -->
			<view class="notice-view">
				<view class="notice flex-r">
					<image src="@/static/home/index/xiaoxitongzhi.png" mode='aspectFit' />
					<view class='notice-bar'>
						<uni-notice-bar background-color="rgba(0,0,0,0)" color="#000000" :text="noticeTxt" single
							scrollable :speed="20" @click="openpopup(noticeTxt)"></uni-notice-bar>
					</view>
					<view class="flex-r more">
						<!-- <text>刚刚</text> -->
						<u-icon name='arrow-right' color='#ccc' size='12'></u-icon>
					</view>
				</view>
			</view>
			<!-- {{$imgUrl(videoUrl)}} -->
			<view class="menu-view">
				<view class="list flex-r">
					<view class="item flex-c" @click='menujump(item)' v-for='(item,i) in menuList' :key='i'>
						<view class="">
							<image :src="item.img" mode='aspectFit'></image>
						</view>
						<view>
							<text>{{item.txt}}</text>
						</view>
					</view>
				</view>
			</view>
			<view class="line-view"></view>
			<!-- 公司介绍 -->
			<view class="about-view mt30 mb30">
				<view class="about flex-r">
					<view class="corporation flex-r" @click='corporation'>
						<view class="img">
							<image src="@/static/home/index/gongsijieshao.png" mode="aspectFit"></image>
						</view>
						<view class="right-content">
							<view class="title">
								<text>公司介绍</text>
							</view>
							<view class="flex-r">
								<text>随时随地关注我们</text>
								<u-icon name="play-right-fill" color='#8E8E8E' size='14'></u-icon>
							</view>
						</view>
					</view>
					<view class="serveice flex-r" @click='goKefu'>
						<view class="img">
							<image src="@/static/home/index/kefu.png" mode="aspectFit"></image>
						</view>
						<view class="right-content">
							<view class="title">
								<text>在线客服</text>
							</view>
							<view class="flex-r">
								<text>专人为您解疑答惑</text>
								<u-icon name="play-right-fill" color='#8E8E8E' size='14'></u-icon>
							</view>
						</view>
					</view>
				</view>
			</view>


			<view class="line-view"></view>

			<view class="invest-view">
				<view class="invest">
					<view class="header flex-r">
						<view class="title">
							<text>投资推荐</text>
						</view>
						<view class="flex-r more" @click='producesShowMore'>
							<text>查看更多</text>
							<u-icon name='arrow-right' size='13'></u-icon>
						</view>
					</view>

					<view class="list" v-if='producesList.length'>
						<view class="item flex-r" v-for='(item,i) in producesList' :key='i'
							@click="goByPath('/pages/invest/detail',{id:item.id})">
							<view class="left-content">
								<view class="name flex-r">
									<image src="@/static/home/index/coin.png" mode="aspectFit"></image>
									<text class='mr10'>{{ item.title }}</text>
									<u-icon name='arrow-right' color='#aaa' size='12'></u-icon>
								</view>
								<view class="content">
									<view class="buy-num">
										<view>项目规模</view>
										<text class='mt10'>{{item.xmgm}}万元</text>
									</view>
									<view class="info flex-r">
										<view class="one">
											<view>起购价</view>
											<text>{{item.qtje}}元</text>
										</view>
										<view class="two">
											<view>周期</view>
											<view>
												<text>{{item.shijian}}</text>
												<text v-if="item.hkfs==0">日</text>
												<text v-if="item.hkfs==5">日</text>
												<text v-if="item.hkfs==6">日</text>
												<text v-if="item.hkfs==7">周</text>
												<text v-if="item.hkfs==8">月</text>
											</view>
										</view>
										<view class="three">
											<view class='txt' v-if="item.hkfs==0">日收益率</view>
											<view class='txt' v-if="item.hkfs==5">日收益率</view>
											<view class='txt' v-if="item.hkfs==6">日收益率</view>
											<view class='txt' v-if="item.hkfs==7">周收益率</view>
											<view class='txt' v-if="item.hkfs==8">月收益率</view>
											<view>
												<text>{{item.jyrsy}}%</text>
											</view>
										</view>
									</view>
								</view>
							</view>
							<view class="right-content flex-c">
								<view class="echarts">
									<arCircleProgress :percent="Number(item.xmjd)" width="130"
										bgColor="rgba(255,255,255,0)" inactiveColor="#dfcbb2" activeColor='#31468c'>
										<text class='hui'>{{item.xmjd}}%</text>
									</arCircleProgress>
								</view>
								<view class="shengou flex-r">
									<view class="img">
										<image src="@/static/home/index/diamond.png" mode="aspectFit"></image>
									</view>
									<view class="">
										{{item.xmjd >= 100 ? '已投满' : '立即申购'}}
									</view>
								</view>
							</view>
						</view>
					</view>

				</view>
			</view>
		</view>

		<!-- 视频 -->
		<uni-popup ref="videoPopup" type="center" background-color='#fff'>
			<view class="video-popup">
				<view class="video" style="position: relative;">
					<video id="myVideo" autoplay="true" controls='true' :show-center-play-btn="false"
						:show-fullscreen-btn='true' :show-play-btn='true' :src="$imgUrl(videoUrl)"
						auto-pause-if-open-native @fullscreenchange="fullScreenHandler">
					</video>
				</view>
				<view class="close">
					<u-icon name='close-circle' color='#fff' size='26' @click='$refs.videoPopup.close()'></u-icon>
				</view>
			</view>
		</uni-popup>


		<!-- 公告弹窗 -->
		<uni-popup ref="popup" type="center">
			<view class="popup">
				{{noticeTxt}}
			</view>
		</uni-popup>

		<!-- 签到 -->
		<uni-popup ref="qdPopup" type="center">
			<view class="qd-popup">
				<view class="bg-image">
					<image src="@/static/home/index/qd-zuanshi.png" mode="aspectFit" class='zuanshi'></image>
					<view class="success">
						签到成功
					</view>
					<view class="info">
						{{ qiandao }}
					</view>
					<view class="back-btn" @click='$refs.qdPopup.close()'>
						返回
					</view>
				</view>
			</view>
		</uni-popup>

		<u-popup :show="newsPopupShow" mode='center' :overlay='true' round='20' bgColor='transparent'>
			<view class='newspopup'>
				<view class='news-popup'>
					<!-- <view class="popup-title">
								{{contentTitle}}
							</view> -->
					<view class="html">
						<!-- #ifndef H5 -->
						<view class="content" v-html="content"></view>
						<!-- #endif -->
						<!-- #ifdef H5 -->
						<view class="content" v-html="content"></view>
						<!-- <u-parse class="content" :content="content" /> -->
						<!-- #endif -->
					</view>
					<!-- <view class="btn" @click='newsPopupShow = false'>
						好的，我知道了
					</view> -->
					<view class="news-close">
						<u-icon name='close-circle' color='#fff' size='26' @click='newsPopupShow = false'></u-icon>
					</view>
				</view>

			</view>
		</u-popup>
	</view>
</template>

<script>
	import arCircleProgress from '@/components/ar-circle-progress/index.vue'
	import urlList from '@/utils/config.js'
	export default {
		components: {
			arCircleProgress
		},
		data() {
			return {
				qiandao: '',
				bannerList: [],
				menuList: [{
						img: require('@/static/home/index/index-nav1.png'),
						txt: '团队奖励',
						url: '/pages/team/reward'
					},
					{
						img: require('@/static/home/index/index-nav2.png'),
						txt: '我的团队',
						url: '/pages/inviteFriends/yao'
					},
					{
						img: require('@/static/home/index/index-nav3.png'),
						txt: 'VIP等级',
						url: '/pages/inviteFriends/level'
					},
					{
						img: require('@/static/home/index/index-nav4.png'),
						txt: '积分商城',
						url: '/pages/integral/integrityMall'
					},
					{
						img: require('@/static/home/index/index-nav5.png'),
						txt: '轻松一笑',
						url: '/pages/home/smile/index'
					},
					{
						img: require('@/static/home/index/index-nav6.png'),
						txt: '快递查询',
						url: '/pages/home/delivery/index'
					},
					{
						img: require('@/static/home/index/index-nav7.png'),
						txt: '周公解梦',
						url: '/pages/home/dream/index'
					},
					{
						img: require('@/static/home/index/index-nav8.png'),
						txt: '每日签到',
					}
				],
				noticeTxt: '', // 通知栏内容
				producesList: [],
				kfurl: '',
				netWorkSpeed: '50',
				timer: null,
				network_active: 0,
				urlList,
				newsPopupShow: false,
				content: '',
				contentTitle: '',
				n: 0,
				videoUrl: '', // 视频地址
				show: true
			}
		},
		onShow() {
			this.network_active = uni.getStorageSync('network_active') + 1
			this.init()
		},
		onHide() {
			clearInterval(this.timer)
		},
		destroyed() {
			clearTimeout(this.timer)
		},
		onUnload() {
			clearTimeout(this.timer)
		},
		methods: {
			init() {
				let tabList = uni.getStorageSync('tabList')
				if (tabList) {
					this.getProducesList(tabList[0].id)
				} else {
					this.getProducesList(11)
				}
				
				this.getBannerList()
				this.getNoticeData()
				this.getList()
				this.isShowNewsPopup()
			},
			goNetwork() {
				uni.navigateTo({
					url: '/pages/network'
				})
			},

			// 视频全屏
			fullScreenHandler(e) {
				if (uni.getSystemInfoSync().platform == "ios") {
					return
				}
			},
			// 显示公告弹窗
			async isShowNewsPopup() {
				try {
					let res = await uni.$u.http.get('/api/index/HomeBulletin')
					let show = uni.getStorageSync('newsPopupShow')
					if (show && !Array.isArray(res.data)) {
						this.newsPopupShow = true
						this.contentTitle = res.data.title
						this.content = res.data.content
						uni.setStorageSync('newsPopupShow', false)
					}
				} catch (e) {
					this.newsPopupShow = false
				}
			},
			// 公司介绍
			corporation() {
				this.$refs.videoPopup.open()
			},
			// 提前加载下关于界面的关于我们
			async getList() {
				let res = await uni.$u.http.get('api/index/singlepages')
				uni.setStorage({
					key: 'cellGroup',
					data: res.data.list
				})
			},

			async goKefu() {
				uni.showLoading()
				let res = await uni.$u.http.post('/api/userLc/my')
				this.kfurl = res.kffffffffffffffffff
				uni.hideLoading()
				uni.navigateTo({
					url: '/pages/service?kfurl=' + this.kfurl
				})
			},

			getNetwork() {
				let that = this
				this.timer = setInterval(async () => {
					var t = (+new Date)

					let imgs = [
						this.$imgUrl("/code.png?" + Math.random()),
						this.$imgUrl("/code.png?" + Math.random()),
					]
					let count = 0;
					const promise = [];
					for (let img of imgs) {
						promise.push(
							new Promise((resolve, reject) => {
								uni.getImageInfo({
									src: img,
									success: function(image) {
										resolve(true);
									},
									fail: function(err) {
										resolve(true);
									}
								});
							})
						);
					}
					await Promise.all(promise).then((res) => {
						that.netWorkSpeed = (+new Date) - t;
					}).catch(err => {

					})

				}, 2000)
			},

			async getUserss() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.kfurl = res.kffffffffffffffffff
			},
			// 打开公告
			openpopup(i) {
				this.$refs.popup.open();
			},
			// 获取轮播图列表
			async getBannerList() {
				var timer = setInterval(async () => {
					if (this.bannerList.length) {
						clearInterval(timer)
						return
					}
					let res = await uni.$u.http.get('/api/index/index')
					this.getProducesList(res.productsCategory[0].id)
					this.bannerList = res.banners
					this.videoUrl = res.videoUrl
					uni.setStorageSync('tabList', res.productsCategory)
				}, 1000)
			},
			// menu跳转
			menujump(item) {
				if (item.url) {
					uni.navigateTo({
						url: item.url
					})
				} else {
					if (item.txt == '每日签到') {
						this.maskShow()
					}
				}
			},
			// 签到
			async maskShow() {
				uni.showLoading()
				try {
					let res = await uni.$u.http.post('/api/userLc/qiandao')
					this.qiandao = res[0]
					this.$refs.qdPopup.open()
					uni.hideLoading()
					uni.setStorageSync('isQianDao', new Date().getDate())
				} catch (e) {
					uni.showToast({
						title: '请重试',
						icon: 'none'
					})
					uni.hideLoading()
				}
			},
			// 获取通知栏内容
			async getNoticeData() {
				let res = await uni.$u.http.get('/api/index/getConfig?keyname=NoticTipTxt2')
				this.noticeTxt = res
			},
			// 获取投资数据
			async getProducesList(id) {
				let res = await uni.$u.http.post('/api/index/products', {
					page: 1,
					pagesize: 3,
					category_id: id
				})
				if (res && res.type == 1) {
					this.producesList = res.list
					// uni.setStorageSync('produces', {
					// 	page: 0,
					// 	producesList: res.list,
					// 	activeTab: 0
					// })
				}
			},
			// 投资数据查看更多
			producesShowMore() {
				uni.switchTab({
					url: '/pages/invest/index'
				})
			}
		}
	}
</script>


<style lang="scss" scoped>
	page {
		background: #fff;
	}

	.green {
		color: #28ca28;
	}

	.yellow {
		color: #FFCF10;
	}

	.red {
		color: #E80000;
	}

	.navbar {
		color: #fff;

		.flex-r {
			align-items: center;
			width: 300rpx;
			justify-content: flex-end;
		}

		image {
			vertical-align: middle;
			margin-left: 10rpx;
			width: 36rpx;
			height: 36rpx;
		}

		.img {
			width: 32rpx;
			height: 22rpx;
		}
	}

	.swiper-view {
		height: 400rpx;
		width: 100%;
		background: linear-gradient(#334383, #0b1b58);

		swiper {
			width: 100%;
			height: 100%;

			/deep/ .uni-swiper-dots-horizontal {
				left: 10%;
				bottom: 58rpx;

				.uni-swiper-dot {
					width: 10rpx;
					height: 10rpx;
				}

				.uni-swiper-dot-active {
					width: 30rpx;
					border-radius: 5rpx;
				}
			}
		}
	}

	.content-view {
		width: 100%;
		background: #fff;
		border-top-left-radius: 30rpx;
		border-top-right-radius: 30rpx;
		position: relative;
		top: -40rpx;
		padding-top: 32rpx;

		.notice-view {
			width: 680rpx;
			height: 94rpx;
			margin: 0 auto 0;
			padding-right: 4rpx;
			background: linear-gradient(268deg, #F8F8F0, #F8E9E7);
			border-radius: 10rpx;

			.notice {
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: space-between;

				image {
					flex: 0 1 32rpx;
					height: 26rpx;
					margin-left: 20rpx;
				}

				.notice-bar {
					flex: 1;
					overflow: hidden;
				}

				/deep/ .uni-noticebar {
					margin-bottom: 0;
				}

				.more {
					color: #ccc;
					flex: 0 1 40rpx;
				}
			}
		}

		.menu-view {
			width: 100%;
			padding-bottom: 6rpx;

			.list {
				width: 720rpx;
				margin: 0 auto;
				justify-content: space-between;
				flex-wrap: wrap;

				.item {
					width: 160rpx;
					justify-content: center;
					align-items: center;
					font-size: 26rpx;

					image {
						width: 48rpx;
						height: 44rpx;
						margin-bottom: 4rpx;
						margin-top: 30rpx;
					}
				}
			}
		}

		.about-view {
			width: 720rpx;
			margin: 0 auto;

			.about {

				.corporation,
				.serveice {
					flex: 1 1 50%;

					.img {
						margin: 0 16rpx 0 28rpx;

						image {
							width: 80rpx;
							height: 68rpx;
						}
					}

					.right-content {
						.title {
							font-size: 30rpx;
							font-weight: bold;
							color: #464646;
						}

						.flex-r {
							font-size: 24rpx;
							color: #8E8E8E;
						}
					}
				}

				.serveice {
					border-left: 1px dashed #aaa;
				}
			}

		}

		.invest-view {
			width: 100%;

			.invest {
				margin: 50rpx auto 0;
				width: 680rpx;

				.header {
					justify-content: space-between;
					align-items: center;
					margin-bottom: 34rpx;

					.title {
						font-size: 40rpx;
						font-weight: bold;
						color: #000000;
					}

					.more {
						font-weight: 500;
						color: #939393;
						align-items: center;
					}
				}

				.list {
					image {
						width: 46rpx;
						height: 46rpx;
					}

					.item {
						height: 280rpx;
						margin-bottom: 34rpx;
						padding: 20rpx 30rpx 24rpx 30rpx;
						border: 1px solid #ccc;
						border-radius: 30rpx;
						background: url('@/static/home/index/box1.png') no-repeat;
						background-size: 100% 100%;

						&:nth-child(2n) {
							background: url('@/static/home/index/box2.png') no-repeat;
							background-size: 100% 100%;
						}

						justify-content: space-between;

						.left-content {
							flex: 0 1 380rpx;

							.name {
								align-items: center;
								vertical-align: middle;
								font-size: 30rpx;
								font-weight: bold;

								image {
									margin-right: 16rpx;
									width: 46rpx;
									height: 46rpx;
								}

								text {
									max-width: 260rpx;
									overflow: hidden; //超出的文本隐藏
									text-overflow: ellipsis; //溢出用省略号显示
									white-space: nowrap; //溢出不换行
								}
							}

							.content {
								border-right: 1px solid #ccc;
								margin-top: 24rpx;
								padding-left: 6rpx;

								.buy-num {
									view {
										font-size: 30rpx;
										font-weight: 700;
									}

									text {
										font-weight: 400;
										color: #D4C2AE;
									}
								}

								.info {
									margin-top: 20rpx;

									view {
										font-size: 24rpx;
										font-weight: 600;

										text {
											color: #CB7935;
											font-weight: 500;
										}
									}

									.one {
										text {
											color: #D4C2AE;
										}
									}

									.one,
									.two {
										margin-right: 50rpx;
									}
								}
							}
						}

						.right-content {
							justify-content: space-around;
							align-items: center;

							.shengou {
								width: 164rpx;
								height: 60rpx;
								background: #31468c;
								border-radius: 6rpx;
								color: #DFCBB2;

								uni-view {
									font-size: 20rpx;
								}

								overflow: hidden;

								.img {
									flex: 0 1 42rpx;
									background: #dfcbb2;

									image {
										width: 26rpx;
										height: 26rpx;
									}
								}

								view {
									flex: 1;
									display: flex;
									justify-content: center;
									align-items: center;
								}
							}

						}
					}
				}
			}
		}

		.line-view {
			width: 100%;
			height: 20rpx;
			background: #fbf9f7;
			margin: 24rpx 0;
		}
	}

	.popup {
		width: 500rpx;
		margin: 0 auto;
		padding: 40rpx;
		border-radius: 10rpx;
		background: #fff;
	}

	.qd-popup {
		width: 645rpx;
		height: 645rpx;
		background: url('@/static/home/index/qd-bg2.png');
		background-size: 100% 100%;
		margin: 0 auto;
		padding: 58rpx 146rpx 0;
		box-sizing: border-box;

		.bg-image {
			width: 350rpx;
			height: 470rpx;
			background: url('@/static/home/index/qd-bg1.png') bottom no-repeat;
			background-size: 100% 350rpx;
			text-align: center;

			.zuanshi {
				width: 258rpx;
				height: 236rpx;
			}

			.success {
				width: 306rpx;
				height: 10rpx;
				margin: 0 auto;
				background: url('@/static/home/index/qd-line.png');
				background-size: 100% 100%;
				font-size: 30rpx;
				font-weight: bold;
				color: #D8CDC7;
				line-height: 10rpx;
			}

			.info {
				font-size: 38rpx;
				font-weight: bold;
				color: #D8CDC7;
				margin-top: 30rpx;
			}

			.back-btn {
				width: 156rpx;
				height: 60rpx;
				background-image: url('@/static/home/index/qd-btn.png');
				background-size: 100% 100%;
				margin: 26rpx auto;
				font-size: 30rpx;
				font-weight: bold;
				color: #4B4233;
				line-height: 60rpx;
			}
		}
	}

	.video-popup {
		.close {
			margin: 30rpx auto 0;
			display: flex;
			justify-content: center;
		}
	}

	/deep/ .u-popup__content {
		img,
		image {
			max-width: 100%;
		}
	}

	.newspopup {
		.news-popup {
			height: 900rpx;
			width: 578rpx;
			overflow: hidden;
			padding: 32rpx 22rpx 50rpx;
			box-sizing: border-box;
			// background: url('@/static/home/index/new-bg.png');
			// background-size: 100% 100%;
			border-radius: 20rpx 24rpx 0 0;
			// background: linear-gradient(120deg, #374687, #0e1d5a);

			.popup-title {
				width: 100%;
				text-align: center;
				margin: 40rpx auto 10rpx;
				font-size: 30rpx;
				font-weight: 900;
			}

			.html {
				width: 100%;
				height: 680rpx;
				overflow: auto;
				padding: 0 0rpx;
				color: #fff;
			}

			.btn {
				width: 388rpx;
				height: 96rpx;
				border-radius: 10rpx;
				margin: 50rpx auto;
				background: #DFCBB2;
				text-align: center;
				line-height: 96rpx;
				font-size: 30rpx;
				font-weight: bold;
				color: #30478D;
			}

			img,
			image {
				width: 100%;
			}
		}

		.news-close {
			margin: 30rpx auto 0;
			display: flex;
			justify-content: center;
		}
	}
</style>
