<template>
	<view class="">
		<view class="container">
			<view class="kefulist" @click="getkefu(kefulist.kefu1)">
				<view class="kefuicon">
					<image src="../static/jkefu2.png" mode=""></image>
				</view>
				<text>1号在线客服</text>
			</view>
			<view class="kefulist" @click="getkefu(kefulist.kefu2)">
				<view class="kefuicon">
					<image src="../static/jkefu2.png" mode=""></image>
				</view>
				<text>2号在线客服</text>
			</view>
			<view class="kefulist" @click="getkefu(kefulist.kefu3)">
				<view class="kefuicon">
					<image src="../static/jkefu2.png" mode=""></image>
				</view>
				<text>3号在线客服</text>
			</view>
			
			<view class="" style="margin-top: 50rpx;">
				<view class="">
					温馨提示：
				</view>
				<view class="" style="line-height: 1.5;">
					{{kefulist.tishi}}
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				kefulist:''
			}
		},
		onLoad() {
			this.getdataindex()
		},
		methods: {
			async getdataindex() {
				let res = await uni.$u.http.get('/api/index/getKefu')
				if (res) {
					this.kefulist = res.data
				}
			},
			getkefu(val){
				uni.navigateTo({
					url:'/pages/service?kfurl='+val
				})
			}
		}
	}
</script>

<style scoped>
	.container {
		padding: 30rpx;
		display: flex;
		flex-direction: column;
	}

	.kefulist {
		padding: 40rpx 30rpx;
		background: #cc2c2c;
		border-radius: 10rpx;
		display: flex;
		align-items: center;
		margin-bottom: 30rpx;
	}

	.kefuicon {
		display: flex;
		align-items: center;
	}
.kefuicon image{
	width: 60rpx;
	height: 64rpx;
}
	.kefulist text {
		color: #fff;
		margin-left: 30rpx;
		font-size: 32rpx;
	}
</style>
