<template>
	<view class="page-view">
		<!--  #ifdef  APP-PLUS -->
		<view class="" v-if="webviewshow">
			<web-view :update-title="false" :src="kfurl" :webview-styles="webviewstyles1" style='width: 100%'></web-view>
		</view>
		<!-- #endif -->
		<!--  #ifdef H5 -->
		<web-view :update-title="false" :src="kfurl"></web-view>
		<view class="jiazaizhong" v-if="!webviewshow">
			连接客服中，当前访客较多，请耐心等待......
		</view>
		<!-- #endif -->
	</view>
</template>

<script>
	import App from '../App'
	export default {
		data() {
			return {
				kfurl: '',
				src: '',
				kfurl: '',
				kfurl1: '',
				webviewshow: false,
				webviewstyles1: {
				    progress: true
				},
			}
		},
		onShow() {
			this.getUserss()
			// #ifdef APP-PLUS
			uni.showLoading({
				title:'加载中...'
			})
			// #endif 
		},
	
		methods: {
			async getUserss() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
				this.kfurl = this.user.kffffffffffffffffff +
					`&metadata={"name":${this.user.bankrealname},"address":${this.user.username},"comment":${this.user.amount}}`
				var that = this
				setTimeout(function() {
					that.webviewshow = true
				}, 1000);
				// #ifdef APP-PLUS
				setTimeout(function() {
					uni.hideLoading({})
				}, 2000);
				// #endif 
			},
		}
	}
</script>


<style scoped>
	.jiazaizhong {
		position: fixed;
		background: rgba(0, 0, 0, .4);
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		z-index: 9999999;
	}
	.page-view {
		width: 50%;
	}
</style>
