<template>
	<view class="page-view">
		<navbar>
			<template slot='right'>
				<view @click='goNetwork' class='flex-r'>
					<!-- <text class='green' v-show='netWorkSpeed < 200' >
						{{netWorkSpeed}}kb
					</text>
					<text class='red' v-show='netWorkSpeed > 1024' >
						{{(netWorkSpeed/1024).toFixed(1)}}mb
					</text>
					<text class='yellow' v-show='netWorkSpeed < 1024 && netWorkSpeed > 200' >
						{{netWorkSpeed}}kb
					</text> -->
					<image class='image' src="@/static/home/index/network.png" mode="aspectFit"></image>
				</view>
			</template>
		</navbar>

		<view class="login-view">
			<view class="login">
				<view class="title">
					<text>用户登录</text>
				</view>
				<view class="input">
					<view class="flex-r username">
						<view class="content flex-r">
							<view class="icon">
								<image src="@/static/login/yonghu.png" mode=""></image>
							</view>
							<view class="inp">
								<input placeholder-style="color:#836030" type="text" v-model='form.username'
									placeholder="请输入手机号">
							</view>
						</view>
					</view>
					<view class="flex-r password" v-show='!duanxin'>
						<view class="content flex-r">
							<view class="icon">
								<image src="@/static/login/pwd.png" mode="aspectFit"></image>
							</view>
							<view class="inp">
								<input placeholder-style="color:#836030" v-if='passwordType=="password"' type="password"
									v-model='form.password' placeholder="请输入密码">
								<input placeholder-style="color:#836030" v-else type="text" v-model='form.password'
									placeholder="请输入密码">
							</view>
						</view>
						<view class="right-content">
							<image v-if='passwordType=="password"' @click='passwordType="text"'
								src='@/static/login/yanjing.png' mode="aspectFit" />
							<image v-else @click='passwordType="password"' src='@/static/login/biyanjing.png'
								mode="aspectFit" />
						</view>
					</view>
					<view class="flex-r password" v-show='duanxin'>
						<view class="content flex-r">
							<view class="icon">
								<image src="@/static/login/pwd.png" mode="aspectFit"></image>
							</view>
							<view class="inp">
								<input placeholder-style="color:#836030" type="number" v-model='code' placeholder="请输入验证码">
							</view>
						</view>
						<view class="right-content">
							<view class="code-btn" @click="sendsms" v-if="codeShow">
								获取验证码
							</view>
							<view class="code-btn" v-if="!codeShow">
								{{count}}秒后重试
							</view>
						</view>
					</view>
				</view>
				<view class="flex-r pwd mt30">
					<view class="left-content flex-r" @click='remcheck'>
						<image v-if='remember' src="@/static/login/check-select.png" mode="aspectFit"></image>
						<image v-else src="@/static/login/check.png" mode="aspectFit"></image>
						<text>记住密码</text>
					</view>
					<view class="right-content">
						<text v-if='duanxin' @click='duanxin = false'>密码登录</text>
						<text v-else @click='duanxin = true'>验证码登录</text>
					</view>
				</view>
				<view class="yinsi flex-r">
					<image v-if='xieyi' @click='xieyi=false' src='@/static/login/radio-select.png' mode='aspectFit' />
					<image v-else @click='xieyi=true' src='@/static/login/radio.png' mode='aspectFit' />
					已阅读并同意<text @click="getyinsi">《用户协议》</text>与<text @click="getyinsi">《隐私协议》</text>
				</view>
			</view>
		</view>

		<view class="register-view">
			<view class="" @click='jump'>
				<text>没有账号, 请立即注册</text>
			</view>
		</view>

		<view class="loginbtn-view">
			<view class="btn" @click='login'>
				立即登录
			</view>
		</view>
	</view>
</template>

<script>
	import urlList from '@/utils/config.js'
	export default {
		data() {
			return {
				passwordType: '',
				remember: false,
				form: {
					username: '17711111111',
					password: '111111',
					client_id: ''
				},
				codeShow: true,
				duanxin: false,
				code: '',
				xieyi: true,
				timer: null,
				networkTimer: null,
				count: '',
				netWorkSpeed: '50',
				network_active: 0,
				urlList
			}
		},

		onLoad() {
			// this.getNetwork()
			// const LCusername = uni.getStorageSync('LCusername')
			// const LCpassword = uni.getStorageSync('LCpassword')
			// if (LCusername && LCpassword) {
			// 	this.form.username = LCusername;
			// 	this.form.password = LCpassword;
			// 	this.remember = true
			// } else {
			// 	this.form.username = '';
			// 	this.form.password = '';
			// 	this.remember = false
			// }

			// plus.push.getClientInfoAsync(function(info) {
			// 	_this.form.client_id = info.clientid;
			// 	uni.setStorageSync('clientid', info.clientid)
			// });
		},

		// onHide() {
		// 	clearInterval(this.networkTimer)
		// },
		// destroyed() {
		// 	clearTimeout(this.networkTimer)
		// },
		// onUnload() {
		// 	clearTimeout(this.networkTimer)
		// },

		methods: {
			goNetwork() {
				uni.navigateTo({
					url: '/pages/network'
				})
			},

			jump() {
				uni.navigateTo({
					url: "/pages/register"
				})
			},

			getNetwork() {
				let that = this
				this.timer = setInterval(async () => {
					var t = (+new Date)
					let imgs = [
						this.$imgUrl("/code.png?" + Math.random()),
						this.$imgUrl("/code.png?" + Math.random()),
					]
					let count = 0;
					const promise = [];
					for (let img of imgs) {
						promise.push(
							new Promise((resolve, reject) => {
								uni.getImageInfo({
									src: img,
									success: function(image) {
										resolve(true);
									},
									fail: function(err) {
										resolve(true);
									}
								});
							})
						);
					}
					await Promise.all(promise).then((res) => {
						that.netWorkSpeed = (+new Date) - t;
					}).catch(err => {

					})

				}, 2000)
			},


			getyinsi() {
				uni.navigateTo({
					url: '/pages/Privacy'
				})
			},

			//验证码
			async sendsms() {
				if (this.form.username == '') {
					this.$toast("请输入手机号")
					return false;
				}
				var data = {
					tel: this.form.username
				}
				let res = await uni.$u.http.post('api/publics/sendsms', data)
				if (res.status == 0) {
					uni.$u.toast(res.msg)
					const TIME_COUNT = 60;
					if (!this.timer_sms) {
						this.count = TIME_COUNT;
						this.codeShow = false;
						this.timer_sms = setInterval(() => {
							if (this.count > 1 && this.count <= TIME_COUNT) {
								this.count--;
							} else {
								this.codeShow = true;
								clearInterval(this.timer_sms);
								this.timer_sms = null;
							}
						}, 1000)
					}
				} else {
					uni.$u.toast(res.msg)
				}
			},

			async login() {

				if (!this.xieyi) {
					uni.$u.toast('请勾选用户协议和隐私协议')
					return
				}
				if (this.remember) {
					uni.setStorageSync('LCusername', this.form.username);
					uni.setStorageSync('LCpassword', this.form.password);
				}

				uni.setStorage({
					key: 'userInfo',
					data: {
						username: this.form.username,
						password: this.form.password,
					}
				})

				if (!this.duanxin) {
					if (this.form.username == "" || this.form.password == "") {
						uni.showToast({
							title: "账号或密码不能为空",
							icon: 'none',
							position: "bottom"
						});
					} else {
						let data = {
							username: this.form.username,
							password: this.form.password,
						}
						// #ifdef APP-PLUS
						// data.client_id = uni.getStorageSync('clientid')
						// #endif
						let res = await uni.$u.http.post('api/publics/login', data)
						if (res.status == 0) {

							// clearInterval(this.networkTimer)
							uni.setStorageSync("xtoken", res.xtoken)
							uni.setStorageSync("userid", res.userid)
							uni.showToast({
								title: res.msg,
								icon: 'none',
								position: "bottom"
							});

							setTimeout(function() {
								uni.switchTab({
									url: "./index"
								})
							}, 1000)

						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								position: "bottom"
							})
						}
					}
				} else {
					if (this.form.username == "" || this.code == "") {
						uni.showToast({
							title: "账号或验证码不能为空",
							icon: 'none',
							position: "bottom"
						});
					} else {
						let res = await uni.$u.http.post('api/publics/smsLogin', {
							username: this.form.username,
							code: this.code
						})
						if (res.status == 0) {
							// clearInterval(this.networkTimer)
							uni.setStorageSync("xtoken", res.xtoken);
							uni.setStorageSync("userid", res.userid)
							this.dltoken = res.xtoken
							uni.showToast({
								title: res.msg,
								icon: 'none',
								position: "bottom"
							});
							setTimeout(function() {
								uni.switchTab({
									url: "./index"
								})
							}, 1000)

						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								position: "bottom"
							})
							this.code = ''
						}
					}
				}
			},

			remcheck() {
				this.remember = !this.remember
				if (this.remember) {
					uni.setStorageSync('LCusername', this.form.username);
					uni.setStorageSync('LCpassword', this.form.password);
				} else {
					uni.removeStorageSync('LCusername');
					uni.removeStorageSync('LCpassword');
				}
			},

		}
	}
</script>

<style lang='scss' scoped>
	.green {
		color: #28ca28;
	}

	.yellow {
		color: #FFCF10;
	}

	.red {
		color: #E80000;
	}

	.navbar {
		color: #fff;

		.flex-r {
			align-items: center;
		}

		image {
			vertical-align: middle;
			margin-left: 10rpx;
			width: 40rpx;
			height: 40rpx;
		}
	}

	.page-view {
		width: 100%;
		height: 100vh;
		background: url('@/static/login/bg.png');
		background-size: 100% 100%;
		padding-top: 170rpx;
	}

	.login-view {
		width: 670rpx;
		height: 544rpx;
		margin: 0 auto;

		.login {
			width: 100%;
			height: 100%;
			background-image: url('@/static/login/boxbg.png');
			background-size: 100% 100%;
			padding: 60rpx 44rpx 52rpx;

			.title {
				font-size: 36rpx;
				line-height: 36rpx;
				font-weight: 900;
			}

			.input {
				width: 100%;
				margin-top: 36rpx;

				.username,
				.password {
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid rgba(131, 96, 48, .2);
					height: 110rpx;

					.content {
						align-items: center;
						flex-shrink: 1;
						flex: 1 1 300rpx;

						.icon {
							flex: 0 1 60rpx;
							min-width: 60rpx;

							image {
								width: 34rpx;
								height: 42rpx;
							}
						}

						.inp {
							flex: 1;
						}
					}

					.right-content {
						flex: 0 1 auto;

						.code-btn {
							font-size: 24rpx;
							background: #D3B184;
							color: #FFFFFF;
							padding: 20rpx 28rpx;
							border-radius: 12rpx;
						}
					}

					image {
						min-width: 40rpx;
						max-width: 40rpx;
						height: 40rpx;
					}
				}
			}

			.pwd {
				justify-content: space-between;
				align-items: center;
				color: #865718;
				font-size: 26rpx;

				.left-content {
					align-items: center;
				}

				image {
					width: 24rpx;
					height: 24rpx;
					margin-right: 12rpx;
				}
			}

			.yinsi {
				margin-top: 46rpx;
				align-items: center;
				color: #AF844B;

				text {
					color: #865718;
				}

				image {
					width: 30rpx;
					height: 30rpx;
					margin-right: 10rpx;
					vertical-align: middle;
				}
			}
		}
	}

	.register-view {
		color: #fff;
		width: 100%;
		text-align: center;
		margin-bottom: 50rpx;
		margin-top: 46rpx;
		font-size: 24rpx;
		color: #DBB584;
	}

	.loginbtn-view {
		width: 674rpx;
		margin: 84rpx auto 0;
		height: 114rpx;
		background: url('@/static/login/btnbg.png');
		background-size: 100%;

		.btn {
			width: 100%;
			height: 100%;
			font-size: 36rpx;
			font-weight: bold;
			color: #836030;
			text-align: center;
			line-height: 114rpx;
		}
	}
</style>
