<template>
	<view id="app" style="padding-bottom: 20rpx;">
		<!-- <navbar bg='#334383'></navbar> -->
		<view class="top">
			<view class="account">
				<view class="account-left flex-r">
					<view class="img" @click='$jump("/pages/account/account")'>
						<image :src="$imgUrl(user.picImg)" mode="scaleToFill"></image>
					</view>
					<text>{{user.mobile1}}</text>
				</view>
				<view class="account-right flex-r" @click='maskShow'>
					<view class="qd-img">
						<view class="red" v-if='!isQianDao'></view>
						<image src="../static/my/index/qiandao.png" mode="aspectFit" />
					</view>
					<text>签到</text>
				</view>
			</view>
			<view class="mt20">
				<text>您好， {{user.teamname}}</text>
			</view>
			<view class="total_assets">
				<view class="num">
					总资产（元）
					<image v-if='showMoney' src="@/static/invest/detail/yanjing.png"  @click="change" mode="aspectFit" />
					<image v-else src="@/static/invest/detail/yanjing2.png"  @click="change" mode="aspectFit"></image>
					<view class="nummoney">
						<text v-if="showMoney==false">{{user.amount}}</text>
						<text v-else>*****</text>
					</view>
				</view>
			</view>

			<view class="money">
				<view class="box">
					<view class="name">
						余额宝（元）
					</view>
					<view class="value">
						<text v-if="showMoney==false">{{user.yuamount?user.yuamount:'0.00'}}</text>
						<text v-else>*****</text>
					</view>
				</view>
				<view class="box">
					<view class="name">
						待收本金（元）
					</view>
					<view class="value">
						<text v-if="showMoney==false">{{benjin?benjin:'0.00'}}</text>
						<text v-else>*****</text>
					</view>
				</view>
				<view class="box">
					<view class="name">
						总收益（元）
					</view>
					<view class="value">
						<text v-if="showMoney==false">{{revenue?revenue:'0.00'}}</text>
						<text v-else>*****</text>
					</view>
				</view>
			</view>
		</view>
		
		<view class="list">
			<view class="item">
				<navigator url="./Record/investmentRecord">
					<view class="image">
						<image src="../static/my/index/wodetouzi.png" mode="aspectFit"></image>
					</view>
					<text>我的投资</text>
				</navigator>
			</view>
			<view class="item">
				<navigator url="./Record/capitalFlowRecord">
					<view class="image">
						<image src="../static/my/index/jiaoyimingxi.png" mode="aspectFit"></image>
					</view>
					<text>资金流水</text>
				</navigator>
			</view>
			
			<view class="item">
				<navigator url="./balance/balance">
					<view class="image">
						<image src="../static/my/index/yuebao.png" mode="aspectFit"></image>
					</view>
					<text>余额宝</text>
				</navigator>
			</view>
		</view>
		
		<!-- 按钮 -->
		<view class="btn">
			<view class="left">
				<view>
					可用余额
				</view>
				<text>{{user.amount}}</text>
			</view>
			<view class="right">
				<navigator url="/pages/index_tab/top_up">
					<view class="chongzhi">
						充值
					</view>
				</navigator>
				<navigator url="/pages/index_tab/withdrawal">
					<view class="tixian">
						提现
					</view>
				</navigator>
			</view>
		</view>
		
		<view>
			<view class="cellGroup-box">
				<view class="cell_group">
					<view class="cellGroupItem" v-for="(item,index) in cellGroup1">
						<view class="cellGroup" @click="clickHandler(item,index)">
							<image :src="item.icon ||$imgUrl(item.thumb_url)" mode="widthFix" class="cellGroup_icon" />
							<view class="cellGroup_content">
								<text class="cellGroup_text">{{item.name}}</text>
								<image src="../static/my/index/arrow.png" v-if="!item.leftText" class="cellGroup_leftIcon" mode='aspectFit'>
									<text v-else class="cellGroup_leftText">
										{{item.leftText}}
									</text>
							</view>
						</view>
					</view>
				</view>
				<view class="cell_group">
					<view class="cellGroupItem" v-for="(item,index) in cellGroup2">
						<view class="cellGroup" @click="clickHandler(item,index)">
							<image :src="item.icon ||$imgUrl(item.thumb_url)" mode="widthFix" class="cellGroup_icon" />
							<view class="cellGroup_content">
								<text class="cellGroup_text">{{item.name}}</text>
								<image src="../static/my/index/arrow.png" v-if="!item.leftText" class="cellGroup_leftIcon" mode='aspectFit'>
									<text v-else class="cellGroup_leftText">
										{{item.leftText}}
									</text>
							</view>
						</view>
					</view>
				</view>
				<view class="cell_group">
					<view class="cellGroupItem" v-for="(item,index) in cellGroup3">
						<view class="cellGroup" @click="clickHandler(item,index)">
							<image :src="item.icon ||$imgUrl(item.thumb_url)" mode="widthFix" class="cellGroup_icon" />
							<view class="cellGroup_content">
								<text class="cellGroup_text">{{item.name}}</text>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
	
		<!-- 签到 -->
		<uni-popup ref="qdPopup" type="center">
			<view class="qd-popup">
				<view class="bg-image">
					<view class="success">
						{{qiandao}}
					</view>
					<view class="back-btn" @click='$refs.qdPopup.close()'>
						返回
					</view>
				</view>
				<view class="close" @click='$refs.qdPopup.close()'>
					<u-icon name='close' size='22' color='#fff'></u-icon>
				</view>
			</view>
		</uni-popup>
	</view>
</template>

<script>
	import cellGroup from '@/components/zy-cellGroup/cellGroup.vue'
	export default {
		components: {
			cellGroup
		},
		data() {
			return {
				qiandao: '签到成功',
				isQianDao: false,
				benjin: '',
				lixi: '',
				money: '12345.00',
				Isrenzheng: '',
				integral: '',
				showMoney: false,
				user: {id: ''},
				username: '',
				revenue: '',
				cellGroup1: [
					{
						icon: require('../static/my/index/user-nav1.png'),
						name: "账号设置",
						url: "./account/account"
					}, 
					{
						icon: require('../static/my/index/user-nav2.png'),
						name: "实名认证",
						url: "/pages/verified/verified"
					},
					{
						icon: require('../static/my/index/user-nav3.png'),
						name: "银行卡",
						url: "./bankCard/bankCard"
					},
					{
						icon: require('../static/my/index/user-nav4.png'),
						name: "收益记录",
						url: "./Record/incomeRecord"
					}, 
					{
						icon: require('../static/my/index/user-nav5.png'),
						name: "充值记录",
						url: "./Record/rechargeRecord"
					}, {
						icon: require('../static/my/index/user-nav6.png'),
						name: "提现记录",
						url: "./Record/withdrawRecord"
					}
				],
				cellGroup2: [
					{
						icon: require('../static/my/index/user-nav7.png'),
						name: "邀请好友",
						url: "./inviteFriends/inviteFriends"
					},
					{
						icon: require('../static/my/index/user-nav8.png'),
						name: "团队奖励",
						url: "/pages/team/reward"
					},
					// {
					// 	icon: require('../static/my/index/user-nav8.png'),
					// 	name: "我的团队",
					// 	url: "/pages/inviteFriends/yao"
					// }
				],
				cellGroup3: [{
					icon: require('../static/my/index/tuichu.png'),
					name: "安全退出",
				}]
							
			}
		},
		onShow() {
			// 判断是否登录, 否咋会多次跳转登录页
			if (uni.getStorageSync('xtoken')) {
				this.getUser()
				this.applyMoney()
				this.isQd()
			} else {
				this.getUser()
			}
		},
		methods: {
			// 签到
			async maskShow() {
				uni.showLoading()
				try {
					let res = await uni.$u.http.post('/api/userLc/qiandao')
					this.qiandao = res[0]
					this.$refs.qdPopup.open()
					uni.hideLoading()
					if (uni.getStorageSync('isQianDao') != new Date().getDate()) {
						this.isQianDao = true
						uni.setStorageSync('isQianDao', new Date().getDate())
						// 签到完成请求刷新下资产数据
						uni.$u.http.post('/api/userLc/my')
						.then(res => {
							this.user = res
						})
					}
				} catch(e) {
					uni.showToast({
						title: '请重试',
						icon: 'none'
					})
					uni.hideLoading()
				}
			},
			// 是否签到
			isQd() {
				if (uni.getStorageSync('isQianDao') == new Date().getDate()) {
					this.isQianDao = true
				}
			},
			//单击事件
			clickHandler(item, index) {
				if (item.name == "安全退出") {
					this.exit()
				} else {
					if (item.url) {
						this.$jump(item.url)
					} else {
						this.$jump('/pages/my_detail/myDetail', {
							myDetail: item
						})
					}
				}
			},
			async applyMoney() {
				let res = await uni.$u.http.post('/api/userLc/myWithdrawals')
				this.benjin = res.buydsamounts
				this.lixi = res.daiShouyi
				this.revenue = res.revenue
			},
			async getUser() {
				uni.$u.http.post('/api/userLc/my')
				.then(res => {
					this.user = res
					this.username = this.user.username
					this.username = this.username.substring(0, 3) + '****' + this.username.substring(7)
					this.integral = res.integral
				})
				
				uni.$u.http.post('/api/userLc/isCertification')
				.then(res => {
					this.Isrenzheng = res.data
				})
			},
			change() {
				this.showMoney = !this.showMoney
			},
			exit() {
				uni.removeStorageSync("xtoken");
				uni.removeStorageSync("token");
				uni.navigateTo({
					url: "./login"
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	page {
		background-color: #f7f9f8;
	}
	view {
		box-sizing: border-box;
	}
	.top {
		width: 100%;
		height: 620rpx;
		background: url("../static/my/index/user-headbg.png");
		background-size: 750rpx 620rpx;
		background-position: top center;
		padding: 106rpx 26rpx 0;
		// #ifdef H5
		padding-top: 86rpx;
		//  #endif
		border-bottom-left-radius: 30rpx;
		border-bottom-right-radius: 30rpx;
		color: #fff;

		.account {
			display: flex;
			justify-content: space-between;
			
			.account-left, .account-right {
				height: 90rpx;
				align-items: center;
				justify-content: space-between;
				.img {
					border-radius: 50%;
					width: 90rpx;
					height: 90rpx;
					display: inline-block;
					background: #eee;
					margin-right: 20rpx;
					image {
						width: 90rpx;
						height: 90rpx;
						vertical-align: middle;
						border-radius: 50%;
					}
				}
			}
			.account-right {
				.qd-img {
					width: 40rpx;
					height: 40rpx;
					position: relative;
					margin-right: 20rpx;
					.red {
						width: 14rpx;
						height: 14rpx;
						position: absolute;
						top: -2rpx;
						right: -8rpx;
						background: red;
						border-radius: 50%;
					}
					image {
						width: 40rpx;
						height: 40rpx;
					}
				}
			}
		}

		.total_assets {
			margin-top: 30rpx;
			.num {
				color: #f3d4aa;
				font-weight: 600;
				font-size: 26rpx;

				.nummoney {
					margin-top: 16rpx;
					font-size: 40rpx;
					font-weight: 600;
				}
				image {
					height: 22rpx;
					width: 34rpx;
					margin-left: 20rpx;
				}
			}
		}

		.money {
			display: flex;
			justify-content: space-between;
			font-size: 26rpx;
			color: #fff;
			margin-top: 30rpx;
			.box {
				flex: 1;
				.name {
				}
				.value {
					color: #f3d4aa;
					margin-top: 12rpx;
				}
			}
		}
		
		
	}
	.list {
		overflow: hidden;
		width: 700rpx;
		height: 180rpx;
		margin: 0 auto;
		position: relative;
		top: -90rpx;
		background: url('../static/my/index/user-linkbg.png') no-repeat;
		background-size: 100% 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.item {
			text-align: center;
			image {
				width: 54rpx;
				height: 54rpx;
				margin-bottom: 10rpx;
			}
		}
	}
	.btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: -70rpx;
		width: 700rpx;
		height: 150rpx;
		background: #fff;
		border-radius: 10rpx;
		margin: 0 auto;
		padding: 0 22rpx;
		.left {
			font-size: 26rpx;
			color: #9C9C9C;
			text {
				color: #000;
				font-weight: 800;
			}
			view {
				margin-bottom: 6rpx;
			}
		}
		.right {
			display: flex;
			align-items: center;
			view {
				width: 100rpx;
				height: 60rpx;
				text-align: center;
				line-height: 60rpx;
				background: #2c4187;
				color: #fff;
				border-radius: 10rpx;
			}
			.tixian {
				margin-left: 20rpx;
				background: #fcecdf;
				color: #553410;
			}
		}
	}

	// 退出
	.exit {
		background-color: #fff;
		margin: 20rpx;
		text-align: center;
		margin-bottom: 1rem;
		border-radius: 30rpx;
		padding: 30rpx;

		view {
			width: 80%;
			height: 70rpx;
			border: 2rpx solid;
			font-size: 30rpx;
			border-radius: 10rpx;
		}
	}


	.cellGroup-box {
		position: relative;
		top: -70rpx;
		.cell_group {
			width: 94%;
			margin: 0 auto;
			background-color: #fff;
			border-radius: 20rpx;
			margin-top: 20rpx;
			padding: 10rpx 0 20rpx 0;
		}
		.cellGroup {
			display: flex;
			align-items: center;
			margin: 0 0 0 0;
			height: 45px;
			padding: 0 20px;
			.cellGroup_icon {
				width: 48rpx;
				height: 38rpx;
				margin-right: 30rpx;
			}
		}
		
		.cellGroup_content {
			width: 100%;
			.cellGroup_text {
				font-size: 15px;
				color: #000;
				line-height: 45px;
				.cellGroup_leftText {
					float: right;
					color: #909399;
					padding-top: 17.5px;
				}
			}
		}
		.cellGroup_leftIcon {
			float: right;
			width: 16rpx;
			height: 20rpx;
			padding-top: 14px;
			image {
				width: 100%;
				height: 100%;
			}
		}
	}
	
	.qd-popup {
		width: 570rpx;
		margin: 0 auto;
		.bg-image {
			width: 100%;
			height: 572rpx;
			background: url('@/static/my/index/pop-sign-bg.png');
			background-size: 100% 100%;
			padding-top: 210rpx;
			text-align: center;
			position: relative;
			
			.success {
				font-size: 48rpx;
				line-height: 48rpx;
				margin-left: -50rpx;
			}
			
			.back-btn {
				width: 435rpx;
				height: 125rpx;
				position: absolute;
				bottom: 28rpx;
				left: 48rpx;
				background-image: url('@/static/my/index/pop-btn-bg.png');
				background-size: 100%  100%;
				font-size: 36rpx;
				font-weight: bold;
				color: #3C373A;
				line-height: 125rpx;
			}
		}
		.close {
			width: 70rpx;
			height: 70rpx;
			margin: 90rpx auto 0;
			border: 1px solid #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
</style>
