<template>
	<view class="page-view">
		<view class="speedinfo flex-r">
			<text class='txt'>节点速度</text>
			<view class="flex-r">
				<view class="item">
					<view class="green"></view>
					<text>快</text>
				</view>
				<view class="item">
					<view class="yellow"></view>
					<text>中</text>
				</view>
				<view class="item">
					<view class="red"></view>
					<text>慢</text>
				</view>
			</view>
		</view>
		<view class="title">
			推荐节点
		</view>
		<view class="line-list">
			<view class="item" @click='fn(item, i)' v-for='(item,i) in urlList' :key='i'>
				<view class="left" :class='{"active": active==i}' >
					<text>线路{{i+1}}</text>
					<u-icon v-if='active==i' name='checkbox-mark' color='#279D32'></u-icon>
				</view>
			<!-- 	<view class="right">
					<text>{{obj[i]}}ms</text>
					<view class="green"></view>
				</view> -->
				<view class="right">
					<text v-show='obj[i] < 200'>{{obj[i]}}kb</text>
					<view class='green' v-show='obj[i] < 200' ></view>
					<text v-show='obj[i] > 1024'>{{(obj[i]/1024).toFixed(1)}}mb</text>
					<view class='red' v-show='obj[i] > 1024' ></view>
					<text v-show='obj[i] < 1024 && obj[i] > 200'>{{obj[i]}}kb</text>
					<view class='yellow' v-show='obj[i] < 1024 && obj[i] > 200' ></view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import urlList from '@/utils/config.js'
	export default {
		data() {
			return {
				active: 0,
				// urlList: urlList.slice(1, urlList.length),
				urlList,
				networkSpeed: [],
				timer_network: null,
				obj: {}
			}
		},
		onLoad() {
			this.active = uni.getStorageSync('network_active') || 0;
			// this.urlList.forEach((item, i) => {
			// 	this.getNetwork(item, i)
			// })
			// this.timer_network = setInterval(() => {
			// 	this.urlList.forEach((item, i) => {
			// 		this.getNetwork(item, i)
			// 	})
			// }, 2000)
		},
		// onHide() {
		// 	clearTimeout(this.timer_network)
		// },
		// destroyed() {
		// 	clearTimeout(this.timer_network)
		// },
		methods: {
			getNetwork(item, i) {
				let that = this
				var tcp;
				// var ld = function () {
				// 	var tcp, t = (+ new Date), img = new Image;
				// 	img.onload = function () {
				// 		that.$set(that.obj, i, (+ new Date) - t)
				// 		// console.log((+ new Date) - t);
				// 		// that.obj[i] = (+ new Date) - t;
				// 		// console.log(that.obj);
				// 	}
				// 	img.src = item.imgUrl + "/code.png?" + Math.random();
				// };
				// var img_start = new Image;
				// img_start.onload = function () { ld(); }
				// img_start.src = item.imgUrl + "/code.png?" + Math.random();
			},
			fn(item, i) {
				this.active = i;
				uni.$u.http.setConfig((config) => {
					uni.request({
						url: item.url,
						success: (res) => {
							uni.setStorage({
								key: 'network_active',
								data: i
							})
							uni.showToast({
								title: '切换成功',
								icon: 'none'
							})
							config.baseURL = res.data.http_url; /* 根域名 */
							// let userInfo = uni.getStorageInfoSync('userInfo')
							// uni.$u.http.post('api/publics/login', userInfo)
							// .then(res => {
							// 	uni.setStorage({
							// 		key: 'network_active',
							// 		data: i
							// 	})
							// 	if (res.status == 0) {
							// 		uni.setStorageSync('xtoken', res.xtoken);	
							// 		uni.setStorageSync('token', res.xtoken);
							// 	}
							// })
						}
					});
					return config
				})
			}
		}
	}
</script>

<style scoped lang='scss'>
	page {
		background: #f4f4f4;
	}
	.green {
		width: 14rpx;
		height: 14rpx;
		background: green;
	}
	.yellow {
		width: 14rpx;
		height: 14rpx;
		background: #FFCF10;
	}
	.red {
		width: 14rpx;
		height: 14rpx;
		background: #E80000;
	}
	.page-view {
		width: 700rpx;
		margin: 0 auto;
		padding-top: 26rpx;
		.speedinfo {
			align-items: center;
			border-radius: 30rpx;
			width: 100%;
			height: 116rpx;
			background: #fff;
			padding: 0 36rpx;
			text {
				font-size: 26rpx;
				color: #000000;
				font-weight: 600;
			}
			.flex-r {
				margin-left: 50rpx;
				.item {
					display: flex;
					align-items: center;
					margin-left: 50rpx;
					text {
						margin-left: 16rpx;
					}
				}
			}
		}
		
		.title {
			margin: 50rpx 0 30rpx;
			font-size: 26rpx;
			font-weight: 600;
			color: #000000;
			line-height: 30rpx;
		}
		.line-list {
			border-radius: 30rpx;
			background: #fff;
			padding: 20rpx 30rpx;
			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 80rpx;
				.left {
					display: flex;
				}
				.active {
					text {
						color: #279D32;
						margin-right: 20rpx;
					}
				}
				.right {
					display: flex;
					align-items: center;
					text {
						margin-right: 20rpx;
					}
				}
			}
		}
	}
</style>