<template>
	<div>
		<view class="containers">
			<h1>隐私政策</h1>
		
			<p>【特别提示】请仔细阅读《阿仕特朗资本管理有限公司隐私政策》并确定了解我们对您个人信息的收集与处理（包括使用、保存、共享、转让）规则。阅读过程中，如您有任何疑问，可联系我们的客服咨询。当您点击同意本隐私政策，或以适当的方式开始、继续使用我们的产品或服务，且未通过适当的方式联系我们并表达相反意见的，我们将视为您充分理解并同意本政策。
				本隐私政策是《阿仕特朗资本管理有限公司平台服务协议》的一部分，本隐私政策未尽之内容，以《阿仕特朗资本管理有限公司平台服务协议》约定的为准。
			</p>
			<section>
				<h3 style="text-align: center;">引言</h3>
				<view class="yinyan">
					<p>阿仕特朗资本管理有限公司（“我们”）非常重视用户的隐私和个人信息保护。您在使用我们的产品与/或服务时，我们可能会收集和处理您的相关信息。我们希望通过《阿仕特朗资本管理有限公司隐私政策》（“本隐私政策”）向您说明我们在您使用我们的产品与/或服务时如何收集、使用、保存、共享和转让这些信息，以及我们为您提供的访问、更新、删除和保护这些信息的方式。
						本政策将帮助您了解以下内容：
					</p>
					<p>一、我们如何收集和使用您的个人信息
					</p>
					<p>二、我们如何使用 Cookie 和同类技术
					</p>
					<p>三、我们如何共享、转让、公开披露您的个人信息</p>
					<p>四、我们如何保护和保存您的个人信息</p>
					<p>五、您如何管理个人信息</p>
					<p>六、通知和修订</p>
					<p>七、未成年人的个人信息保护</p>
					<p>八、免责声明</p>
				</view>
				<p>本隐私政策与您所使用的阿仕特朗资本管理有限公司平台服务以及该服务所包括的各种业务功能（以下统称“我们的产品与/或服务”）息息相关，希望您在使用我们的产品与/或服务前仔细阅读并确认您已经充分理解本政策所写明的内容，并让您可以按照本隐私政策的指引做出您认为适当的选择。本隐私政策中涉及的相关术语，我们尽量以简明扼要的表述，以便您更好地理解。您使用或在我们更新本隐私政策后（我们会及时提示您更新的情况）继续使用我们的产品与/或服务超过15日的，您未通过适当的方式联系我们并表达相反意见的，即意味着您同意本隐私政策(含更新版本)内容，并且同意我们按照本隐私政策收集和处理您的相关信息。
					如对本隐私政策或相关事宜有任何问题、异议、评论、建议、担忧、投诉或举报，您可随时通过官方客服与我们联系 。
					在经与我们沟通后，如您对我们的答复不满意，您可以联系负责个人信息使用相关投诉的有关行业协会、监管部门或权威部门，或者依据适用的法律向具有管辖权的法院提起诉讼。</p>
			</section>
			<section>
				<h3>一、我们如何收集和使用您的个人信息</h3>
				<p>1.1
					个人信息是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。本隐私政策中涉及的个人信息包括但不限于：基本信息；个人上网记录（包括网站浏览记录、软件使用记录、点击记录）；银行卡号、WIFI、个人常用设备信息（包括硬件型号、设备MAC地址、操作系统类型、软件列表唯一设备识别码（如IMEI/android
					ID/IDFA/OPENUDID/GUID、SIM卡IMSI信息等在内的描述个人常用设备基本情况的信息）。
				</p>
				<p>1.2 我们仅会出于以下目的，收集和使用您的个人信息：
				</p>
				<p>1.2.1
					您须授权我们收集和使用您个人信息的情形:我们的产品与/或服务包括核心业务功能和附加功能，其中，核心功能包含了实现网上购物所必须的功能、改进我们的产品与/或服务所必须的功能及保障交易安全所必须的功能。我们可能会收集和使用下列与您有关的信息才能实现上述这些功能。如果您不提供相关信息，您将无法享受我们提供的核心产品与/或服务。
				</p>
				<p>1.2.2 这些功能包括：
				</p>
				<p>1.2.2.1 用户注册</p>
				<p>您首先需要注册一个阿仕特朗资本管理有限公司账户成为阿仕特朗资本管理有限公司用户。当您注册时，您需要至少向我们提供您准备使用的阿仕特朗资本管理有限公司账户名、密码、您本人的手机号码（用于验证手机号码），我们将通过发送短信验证码的方式来验证您的身份是否有效。您的账户名为您的默认昵称，您可以修改补充您的昵称、性别等相关信息，这些信息均属于您的“账户信息”。您补充的账户信息将有助于我们为您提供个性化的商品推荐和更优的购物体验，但如果您不提供这些补充信息，不会影响您网上购物的基本功能。
				</p>
				<p>1.2.2.2 基于位置信息的个性化推荐功能.
				</p>
				<p>我们会收集您的位置信息（我们仅收集您当时所处的地理位置，但不会将您各时段的位置信息进行结合以判断您的行踪轨迹）来判断您所处的地点，自动为您推荐您所在区域可以购买商品或服务的第三方商户。
				</p>
				<p>上述功能可能需要您在您的设备中向我们开启您的地理位置（位置信息）的访问权限，以实现这些功能所涉及的信息的收集和使用。您可以在您设备设置中进行查看。请您注意，您开启上述权限即代表您授权我们可以收集和使用这些个人信息来实现上述的功能，您关闭权限即代表您取消了这些授权，则我们将不再继续收集和使用您的这些个人信息，也无法为您提供上述与上述授权所对应的功能。您关闭权限的决定不会影响此前基于您的授权所进行的个人信息的处理。
				</p>
				<p>1.2.2.3 商品信息展示和搜索:
				</p>
				<p>为了让您快速地找到您所需要的商品，我们可能会收集您使用我们的产品与/或服务的设备信息（包括设备名称、设备型号、设备识别码、操作系统和应用程序版本、语言设置、分辨率、服务提供商网络ID（PLMN））、浏览器类型来为您提供商品信息展示的最优方式。为判断您的联网状态，我们需要收集您的WIFI信息，我们也会为了不断改进和优化上述的功能来使用您的上述个人信息。
				</p>
				<p>您也可以通过搜索来精准地找到您所需要的商品或服务。我们会保留您的搜索内容以方便您重复输入或为您展示与您搜索内容相关联的商品。
					请您注意，您的搜索关键词信息无法单独识别您的身份，不属于您的个人信息，我们有权以任何的目的对其进行使用；只有当您的搜索关键词信息与您的其他信息相互结合使用并可以识别您的身份时，则在结合使用期间，我们会将您的搜索关键词信息作为您的个人信息，与您的搜索历史记录一同按照本隐私政策对其进行处理与保护。
				</p>
				<p>1.2.2.4 下单
				</p>
				<p>当您准备对您购物车内的商品进行结算时，阿仕特朗资本管理有限公司系统会生成您购买该商品的订单。您需要在订单中至少填写您的收货人姓名、收货地址以及手机号码，同时该订单中会载明订单号、您所购买的商品或服务信息、您应支付的货款金额及支付方式；您可以另外填写收货人更多的联系方式确保商品可以准确送达，但不填写这些信息不影响您订单的生成。
					上述所有信息构成您的“订单信息”，我们将使用您的订单信息来进行您的身份核验、确定交易、支付结算、完成配送、为您查询订单以及提供客服咨询与售后服务；我们还会使用您的订单信息来判断您的交易是否存在异常以保护您的交易安全。
				</p>
				<p>1.2.2.5 支付功能
				</p>
				<p>在您下单后，您可以选择阿仕特朗资本管理有限公司的关联方或与阿仕特朗资本管理有限公司合作的第三方支付机构（包括微信支付及银联等支付通道，以下称“支付机构”）所提供的支付服务。您直接使用银行卡进行支付时，我们需要收集您的银行卡号信息。支付功能本身只搜集您进行支付时必要的个人信息，但我们需要将您的阿仕特朗资本管理有限公司订单号与交易金额信息与这些支付机构共享以实现其确认您的支付指令并完成支付。“关联方”指一方现在或将来控制、受控制或与其处于共同控制下的任何公司、机构以及上述公司或机构的法定代表人。“控制”是指直接或间接地拥有影响所提及公司管理的能力，无论是通过所有权、有投票权的股份、合同或其他被人民法院认定的方式。
				</p>
				<p>1.2.2.6 交付产品或服务功能</p>
				<p>在当您下单并完成支付后，与阿仕特朗资本管理有限公司合作的第三方将为您完成订单的交付。您知晓并同意阿仕特朗资本管理有限公司的关联方或与阿仕特朗资本管理有限公司合作的第三方配送公司会在上述环节内使用您的订单信息以保证您的订购的商品能够安全送达。</p>
				<p>1.2.2.7 客服与售后功能</p>
				<p>我们的客服和售后功能会使用您的账号信息和订单信息。我们会记录您与阿仕特朗资本管理有限公司客服的聊天记录用于处理纠纷、解决问题或向您反馈结果。 </p>
				<p>为保证您的账号安全，我们的呼叫中心客服和在线客服会使用您的账号信息与您核验您的身份。当您需要我们提供与您订单信息相关的客服与售后服务时，我们将会查询您的订单信息。您有可能会在与我们的客服人员沟通时，提供给出上述信息外的其他信息，如当您要求我们变更配送地址、联系人或联系电话。
				</p>
				<p>1.2.3 改进我们的产品与/或服务所必须的功能</p>
				<p>我们可能会收集您的订单信息、浏览信息、您的兴趣爱好（您可以在账户设置中选择）进行数据分析以形成用户画像，您也可以选择主动向我们提供您的性别、出生年月信息，以通过将您感兴趣的商品或服务信息展示给您等方式提供定向推送或精准营销等服务或在您办理会员卡时将该等信息同步至您的会员卡；或在您搜索时向您展示您可能希望找到的商品。您可以通过设置关闭前述服务，则我们将不再继续向您提供定向推送或精准影响等服务，但您关闭权限的决定不会影响此前基于您的授权所进行的个人信息的处理。我们还可能为了提供服务及改进服务质量的合理需要而获得的您的其他信息，包括您与客服联系时您提供的相关信息，您参与问卷调查时向我们发送的问卷答复信息，以及您与我们的关联方、我们合作伙伴之间互动时我们通过合法方式获得的相关信息。对于从您的各种设备上收集到的信息，我们可能会将它们进行关联，以便我们能在这些设备上为您提供一致的服务。我们可能会将来自某项服务的信息与来自其他服务的信息结合起来，以便为您提供服务、个性化内容和建议。
				</p>
				<p>1.2.4 保障交易安全所必须的功能</p>
				<p>为提高您使用我们的产品与/或服务时系统的安全性，更准确地预防钓鱼网站欺诈和保护账户安全，您同意授权我们以了解您的浏览信息、订单信息、您常用的软件信息、设备信息（包括硬件型号、设备MAC地址、操作系统类型、软件列表唯一设备识别码（如IMEI/android
					ID/IDFA/OPENUDID/GUID、SIM卡IMSI信息等在内的描述个人常用设备基本情况的信息）等手段来判断您的账号风险，并可能会记录一些我们认为有风险的链接（“URL”）；您同意我们收集您的的设备信息对于阿仕特朗资本管理有限公司系统问题进行分析、统计流量并排查可能存在的风险、在您选择向我们发送异常信息时予以排查。
				</p>
				<p>1.3 您可选择是否授权我们收集和使用您的个人信息的情形</p>
				<p>1.3.1
					为使您购物更便捷或更有乐趣，从而提升您在阿仕特朗资本管理有限公司的购物体验，我们的以下附加功能中可能会收集和使用您的个人信息。如果您不提供这些个人信息，您依然可以进行网上购物，但您可能无法使用这些可以为您所带来购物乐趣的附加功能或在购买某些商品时需要重复填写一些信息。这些附加功能包括：
				</p>
				<p>（a）基于摄像头（相机）的附加功能：您可以使用这个附加功能完成视频拍摄、拍照、扫码登录、人脸识别等功能。未来我们可能会将人脸识别技术应用于更多场景，但那时我们会再次与您确认您是否愿意我们使用您的面部信息来实现这些附加功能。
				</p>
				<p>（b）基于图片上传的附加功能：您可以在阿仕特朗资本管理有限公司上传您的照片来实现拍照购物功能和晒单及评价功能，我们会使用您所上传的照片来识别您需要购买的商品或使用包含您所上传图片的评价。</p>
				<p>1.3.2
					上述附加功能可能需要您在您的设备中向我们开启您的相机（摄像头）、相册（图片库）的访问权限，以实现这些功能所涉及的信息的收集和使用。您可以在您设备设置中进行查看。请您注意，您开启这些权限即代表您授权我们可以收集和使用这些个人信息来实现上述的功能，您关闭权限即代表您取消了这些授权，则我们将不再继续收集和使用您的这些个人信息，也无法为您提供上述与这些授权所对应的功能。您关闭权限的决定不会影响此前基于您的授权所进行的个人信息的处理。
				</p>
				<p>1.4 您充分知晓，以下情形中，我们收集、使用个人信息无需征得您的授权同意：</p>
				<p>1.4.1 与国家安全、国防安全有关的；</p>
				<p>1.4.2 与公共安全、公共卫生、重大公共利益有关的；</p>
				<p>1.4.3 与犯罪侦查、起诉、审判和判决执行等有关的；</p>
				<p>1.1.4 出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
				<p>1.4.5 所收集的个人信息是个人信息主体自行向社会公众公开的；</p>
				<p>1.4.6 从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；</p>
				<p>1.4.7 根据您的要求签订合同所必需的；</p>
				<p>1.4.8 用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障；</p>
				<p>1.4.9 为合法的新闻报道所必需的；</p>
				<p>1.4.10 学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；
					1.4.11 法律法规规定的其他情形。</p>
				<p>1.5 请注意，如果您在使用上述功能或服务的过程中，向我们提供了第三方的个人信息的，比如您亲友的收货信息及联系方式等，您应当确保取得了相关第三方的授权。</p>
				<p>1.6
					我们从第三方获得您个人信息的情形：我们可能从第三方获取您授权共享的账户信息（头像、昵称），并在您同意本隐私政策后将您的第三方账户与您的阿仕特朗资本管理有限公司账户绑定，使您可以通过第三方账户直接登录并使用我们的产品与/或服务。我们会将依据与第三方的约定、对个人信息来源的合法性进行确认后，在符合相关法律和法规规定的前提下，使用您的这些个人信息。
				</p>
				<p>1.7 您个人信息使用的规则</p>
				<p>1.7.1 我们会根据本隐私政策的约定并为实现我们的产品与/或服务功能对所收集的个人信息进行使用。</p>
				<p>1.7.2
					在收集您的个人信息后，我们将通过技术手段对数据进行去标识化处理，去标识化处理的信息将无法识别主体。请您了解并同意，在此情况下我们有权使用已经去标识化的信息；并在不透露您个人信息的前提下，我们有权对用户数据库进行分析并予以商业化的利用。
				</p>
				<p>1.7.3
					请您注意，您在使用我们的产品与/或服务时所提供的所有个人信息，除非您删除或通过系统设置拒绝我们收集，否则将在您使用我们的产品与/或服务期间持续授权我们使用。在您注销账号时，我们将根据法律法规的规定停止使用并删除您的个人信息。
				</p>
				<p>1.7.4 我们会对我们的产品与/或服务使用情况进行统计，并可能会与公众或第三方共享这些统计信息，以展示我们的产品与/或服务的整体使用趋势。但这些统计信息不包含您的任何身份识别信息。</p>
			</section>
			<section>
				<h3>二、我们如何使用 Cookie 和同类技术</h3>
				<p>2.1 Cookies的使用</p>
				<p>2.1.1 为实现您联机体验的个性化需求，使您获得更轻松的访问体验。我们会在您的移动设备上发送一个或多个名为Cookies的小数据文件，指定给您的Cookies
					是唯一的，它只能被将Cookies发布给您的域中的Web服务器读取。我们向您发送Cookies是为了简化您重复登录的步骤、存储您的购物偏好或您购物车中的商品等数据进而为您提供购物的偏好设置、帮助您优化对广告的选择与互动、帮助判断您的登录状态以及账户或数据安全。
				</p>
				<p>2.1.2 我们不会将 Cookies 用于本隐私政策所述目的之外的任何用途。您可根据自己的偏好管理或删除
					Cookies。您可以清除软件内保存的所有Cookies。但如果您这么做，您可能需要在每一次访问阿仕特朗资本管理有限公司时亲自更改用户设置，而且您之前所记录的相应信息也均会被删除，并且可能会对您所使用服务的安全性有一定影响。
				</p>

			</section>
			<section>
				<h3>三、我们如何共享、转让、公开披露您的个人信息</h3>
				<p>3.1 共享</p>
				<p>3.1.1 我们不会与阿仕特朗资本管理有限公司以外的任何公司、组织和个人共享您的个人信息，但以下情况除外：</p>
				<p>3.1.1.1 事先获得您明确的同意或授权；</p>
				<p>3.1.1.2 根据适用的法律法规、法律程序的要求、强制性的行政或司法要求所必须的情况下进行提供；</p>
				<p>3.1.1.3 在法律法规允许的范围内，为维护阿仕特朗资本管理有限公司、阿仕特朗资本管理有限公司的关联方或合作伙伴、您或其他阿仕特朗资本管理有限公司用户或社会公众利益、财产或安全免遭损害而有必要提供；</p>
				<p>3.1.1.4 只有共享您的信息，才能实现我们的产品与/或服务的核心功能或提供您需要的服务；
					3.1.1.5 应您需求为您处理您与他人的纠纷或争议；</p>
				<p>3.1.1.6 符合与您签署的相关协议（包括在线签署的电子协议以及相应的平台规则）或其他的法律文件约定所提供；</p>
				<p>3.1.1.7 基于学术研究而使用；</p>
				<p>3.1.1.8 基于符合法律法规的社会公共利益而使用。</p>
				<p>3.1.2 我们可能会将您的个人信息与我们的关联方共享。但我们只会共享必要的个人信息，且受本隐私政策中所声明目的的约束。我们的关联方如要改变个人信息的处理目的，将再次征求您的授权同意。</p>
				<p>3.1.3
					我们可能会向合作伙伴等第三方共享您的订单信息、账户信息、设备信息、手机号码以及位置信息，以保障为您提供的服务顺利完成。但我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。我们的合作伙伴无权将共享的个人信息用于任何其他用途。我们的合作伙伴包括以下类型：
				</p>
				<p>(a)
					商品或技术服务的供应商。我们可能会将您的个人信息共享给支持我们功能的第三方。这些支持包括为我们提供基础设施技术服务、信息服务、支付服务、数据处理等。我们共享这些信息的目的是可以实现我们产品与/或服务的核心购物功能，比如我们必须与配送信息平台以及商品的实际配送员共享您的订单信息才能确保实际配送员可以为您送货；或者我们需要将您的订单号和订单金额与第三方支付机构共享以实现其确认您的支付指令并完成支付等。
				</p>
				<p>(b)
					第三方商家及商品品牌方。我们会将您的订单信息与交易有关的必要信息与第三方商家及商品品牌方共享来实现您向其购买商品或服务，以及您享受其提供的促销优惠活动（例如秒杀、满减、优惠券领取、使用）的需求，并促使其可以完成后续的售后服务。第三方商家及商品品牌方可能会基于获取的上述信息，向您推送他们的广告信息，我们会要求第三方商家及商品品牌方根据法律法规的要求设置相应的退订方式，您可根据第三方商家及商品品牌方提供的退订方式，自主决定是否接收第三方商家及商品品牌方的广告信息。
				</p>
				<p>(c)
					委托我们进行推广的合作伙伴。有时我们会代表其他企业向使用我们产品与/或服务的用户群提供促销推广的服务。我们可能会使用您的个人信息以及您的非个人信息集合形成的间接用户画像与委托我们进行推广的合作伙伴（“委托方”）共享，但我们仅会向这些委托方提供推广的覆盖面和有效性的信息，而不会提供您的个人身份信息，或者我们将这些信息进行汇总，以便它不会识别您个人。比如我们可以告知该委托方有多少人看了他们的推广信息或在看到这些信息后购买了委托方的商品，或者向他们提供不能识别个人身份的统计信息，帮助他们了解其受众或顾客。
				</p>
				<p>3.1.4 对我们与之共享个人信息的公司、组织和个人，我们会与其签署严格的保密协定，要求他们按照我们的说明、本隐私政策以及其他任何相关的保密和安全措施来处理个人信息。</p>
				<p>3.1.5 如果您不同意我们将您的订单信息等分享给商品品牌方或委托推广的合作伙伴，您可以直接联系我们的客服人员进行操作。</p>
				<p>3.1.6
					为了遵守法律、执行或适用我们的使用条件和其他协议，或者为了保护阿仕特朗资本管理有限公司、您或其他阿仕特朗资本管理有限公司客户的权利及其财产或安全，比如为防止欺诈等违法活动和减少信用风险，而与其他公司和组织交换信息。不过,这并不包括违反本隐私政策中所作的承诺而为获利目的出售、出租、共享或以其它方式披露的个人信息。
				</p>
				<p>3.2 转让</p>
				<p>我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：</p>
				<p>3.2.1 事先获得您明确的同意或授权；</p>
				<p>3.2.2 根据适用的法律法规、法律程序的要求、强制性的行政或司法要求所必须的情况进行提供；</p>
				<p>3.2.3 符合与您签署的相关协议（包括在线签署的电子协议以及相应的平台规则）或其他的法律文件约定所提供；</p>
				<p>3.2.4 在涉及合并、收购、资产转让或类似的交易时，如涉及到个人信息转让，我们会要求新的持有您个人信息的公司、组织继续受本隐私政策的约束，否则,我们将要求该公司、组织重新向您征求授权同意。</p>
				<p>3.3 公开披露 我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才会公开披露您的个人信息：</p>
				<p>3.3.1 根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息；</p>
				<p>3.3.2
					根据法律、法规的要求、强制性的行政执法或司法要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息。在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，如传票或调查函。我们坚信，对于要求我们提供的信息，应该在法律允许的范围内尽可能保持透明。我们对所有的请求都进行了慎重的审查，以确保其具备合法依据，且仅限于执法部门因特定调查目的且有合法权利获取的数据。在法律法规许可的前提下，我们披露的文件均在加密密钥的保护之下。
				</p>
			</section>
			<section>
				<h3>四、我们如何保护和保存您的个人信息</h3>
				<p>4.1 我们保护您个人信息的技术与措施</p>
				<p>4.2 我们非常重视个人信息安全，并采取一切合理可行的措施，保护您的个人信息：</p>
				<p>4.2.1
					我们会采取适当的、符合业界标准的安全措施和技术手段，以保护您的个人信息，包括但不限于制定了严格的内部信息管理流程、对数据进行加密、定岗定责、举办安全和隐私保护培训课程，加强员工对于保护个人信息重要性的认识、控制访问权限、采取安全措施等，以防止其丢失、被非法使用、受到未授权访问或泄漏、被篡改或毁坏。
				</p>
				<p>4.2.2
					我们仅允许有必要知晓这些信息的阿仕特朗资本管理有限公司及阿仕特朗资本管理有限公司关联方的员工、合作伙伴访问个人信息，并为此设置了严格的访问权限控制和监控机制。我们同时要求可能接触到您个人信息的所有人员履行相应的保密义务。如果未能履行这些义务，可能会被追究法律责任或被中止与阿仕特朗资本管理有限公司的合作关系。我们同时要求可能接触到您个人信息的所有人员履行相应的保密义务。如果未能履行这些义务，可能会被追究法律责任或被中止与阿仕特朗资本管理有限公司的合作关系。
				</p>
				<p>4.2.3 为了保护您的信息安全，如果您的个人信息有误，我们会在严格验证并核实申请人身份后，根据您的要求访问、修正或删除相关信息（除非我们出于合法的原因而必须保留这些个人信息）。</p>
				<p>4.2.4
					如果一旦发生安全事件影响到您的个人信息安全的，我们将通过您预留的邮箱、电话、系统推送等方式通知您，并告知您降低或防范相关风险的建议等信息。必要时，我们将根据适用的法律、法规通知主管部门。同时，我们会及时处置系统漏洞、网络攻击、病毒侵袭及网络侵入等安全风险。在发生危害网络安全的事件时，我们会按照网络安全事件应急预案，及时采取相应的补救措施，并按照规定向有关主管部门报告。
				</p>
				<p>4.2.5
					如果您对我们的个人信息保护有任何疑问，可通过本政策上的联系方式联系我们。如您发现自己的个人信息泄密，尤其是您的账户及密码发生泄露，请您立即通过本政策提供的联系方式联络我们，以便我们采取相应措施。
				</p>
				<p>4.3 您个人信息的保存</p>
				<p>4.3.1 您的个人信息将全被存储于中华人民共和国境内。</p>
				<p>4.3.2
					除非法律法规另有规定，您的个人信息我们将保存至您账号注销之日后的一个月。我们承诺这是为了保证您在阿仕特朗资本管理有限公司购物的消费者权益，您个人信息在阿仕特朗资本管理有限公司须保存的最短期间。当您的个人信息超出我们所保存的期限后，我们会对您的个人信息进行删除或匿名化处理。
				</p>
				<p>4.3.3
					请您注意，当您成功申请注销阿仕特朗资本管理有限公司账户后，我们给予您自注销之日起一个月的“后悔期”，在这个期间内您可以随时申请恢复您已经注销的阿仕特朗资本管理有限公司账户。为了实现您恢复您阿仕特朗资本管理有限公司账户的功能，我们将不会在“后悔期”内对您的个人信息进行删除或匿名化处理。如您在“后悔期”内没有要求恢复您的阿仕特朗资本管理有限公司账户或您明确向我们表述不再恢复您的阿仕特朗资本管理有限公司账户，我们将根据法律法规的要求对您的个人信息进行删除或匿名化处理。
				</p>
				<p>4.3.4 如果我们终止服务或运营，我们会至少提前三十日向您通知，并在终止服务或运营后对您的个人信息进行删除或匿名化处理。</p>
				<p>4.3.5 除非获得您的特别同意，或者满足法律规定的评估及许可程序，我们不会跨境转移您的个人信息。</p>
			</section>
			<section>
				<h3>五、您如何管理您的个人信息</h3>
				<p>5.阿仕特朗资本管理有限公司非常重视您对个人信息的关注，并尽全力保护您对于您个人信息访问、更正、删除以及撤回同意的权利，以使您拥有充分的能力保障您的隐私和安全。您的权利包括：</p>
				<p>5.2 访问和更正您的个人信息:除法律法规规定外，您有权进入个人中心“我的”随时访问和更正您的个人信息（但使用第三方账号授权或关联登录的除外）、收货信息、订单信息、评论信息等。</p>
				<p>5.3
					您无法访问和更正的个人信息：除上述列明的信息外，您的部分个人信息我们还无法为您提供访问和更正的服务，这些信息主要是为了提升您的用户体验和保证交易安全所收集的您的设备信息、您使用附加功能时产生的个人信息。上述信息我们会在您的授权范围内进行使用，您无法访问和更正，但您可联系我们进行删除或做匿名化处理。
				</p>
				<p>5.4 删除您的个人信息:您在我们的产品与/或服务页面中可以直接清除或删除的信息，包括订单信息、浏览信息、收货地址信息；</p>
				<p>5.5 在以下情形中，您可以向我们提出删除个人信息的请求：</p>
				<p>5.5.1 如果我们处理个人信息的行为违反法律法规；</p>
				<p>5.5.2 如果我们收集、使用您的个人信息，却未征得您的同意；</p>
				<p>5.5.3 如果我们处理个人信息的行为违反了与您的约定；</p>
				<p>5.5.4 如果您注销了阿仕特朗资本管理有限公司账户；</p>
				<p>5.5.5 如果我们终止服务及运营。</p>
				<p>5.6
					若我们决定响应您的删除请求，我们还将同时通知从我们获得您的个人信息的实体，要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。当您从我们的服务中删除信息后，我们可能不会立即备份系统中删除相应的信息，但会在备份更新时删除这些信息。
				</p>
				<p>5.7 改变您授权同意的范围或撤回您的授权</p>
				<p>5.7.1 您可以通过删除信息、关闭设备功能等方式改变您授权我们继续收集个人信息的范围或撤回您的授权。您也可以通过注销账户的方式，撤回我们继续收集您个人信息的全部授权。</p>
				<p>5.7.2
					请您理解，每个业务功能需要一些基本的个人信息才能得以完成，当您撤回同意或授权后，我们无法继续为您提供撤回同意或授权所对应的服务，也不再处理您相应的个人信息。但您撤回同意或授权的决定，不会影响此前基于您的授权而开展的个人信息处理。
				</p>
			</section>
			<section>
				<h3>六、通知和修订</h3>
				<p>6.1
					为给您提供更好的服务以及随着阿仕特朗资本管理有限公司业务的发展，本隐私政策也会随之更新。但未经您明确同意，我们不会削减您依据本隐私政策所应享有的权利。我们会通过在阿仕特朗资本管理有限公司网站、阿仕特朗资本管理有限公司移动端上发出更新版本并在生效前通过网站公告或以其他适当方式提醒您相关内容的更新，也请您访问阿仕特朗资本管理有限公司以便及时了解最新的隐私政策。
				</p>
				<p>6.2 对于重大变更，我们还会提供更为显著的通知（我们会通过包括但不限于邮件、短信或在浏览页面做特别提示等方式，说明隐私政策的具体变更内容）。</p>
				<p>本政策所指的重大变更包括但不限于：</p>
				<p>6.2.1 我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；</p>
				<p>6.2.2 我们在所有权结构、组织架构等方面发生重大变化。如业务调整、破产并购等引起的所有者变更等；</p>
				<p>6.2.3 个人信息共享、转让或公开披露的主要对象发生变化；</p>
				<p>6.2.4 您参与个人信息处理方面的权利及其行使方式发生重大变化；</p>
				<p>6.2.5 我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化时；</p>
				<p>6.2.6 个人信息安全影响评估报告表明存在高风险时。</p>
			</section>
			<section>
				<h3>七、未成年人的个人信息保护</h3>
				<p>7.1 阿仕特朗资本管理有限公司非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用我们的产品与/或服务前，应事先取得您家长或法定监护人的书面同意。阿仕特朗资本管理有限公司根据国家相关法律法规的规定保护未成年人的个人信息。</p>
				<p>7.2 对于经父母或法定监护人同意而收集未成年人个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护未成年人所必要的情况下使用或公开披露此信息。</p>
				<p>7.3 如果我们发现自己在未事先获得可证实的父母或法定监护人同意的情况下收集了未成年人的个人信息，则会设法尽快删除相关数据。</p>
				<p></p>
				<p></p>
				<p></p>
			</section>
			<section>
				<h3>八、免责声明（非常重要）</h3>
				<p>8.1 当您同意并以适当的方式开始，或者继续使用我们的产品或服务的，且您未通过适当的方式联系我们并表达相反意见的，我们将视为您充分理解并同意本政策。</p>
				<p>8.2 请您理解，互联网并非绝对安全的环境，电子邮件、即时通讯、社交软件、交易平台等与其他用户的交流方式无法确定是否完全加密，请您在进行交互使用时，注意保护您个人信息的安全。</p>
				<p>8.3 请您理解，由于计算机及互联网技术的飞速发展及同步速度的限制，可能存在或出现各种恶意或非恶意的攻击手段。虽然我们持续致力于提升和加强安全措施，以保护您的个人信息免遭意外或破坏，但仍无法始终保证您的个人信息的百分之百安全。</p>
			    <p>8.4 请您理解，您使用产品或服务时所用的系统和通讯网络，或硬件设备等我们均无法控制，请您了解并注意保护您的个人信息安全。除非本隐私政策有其他规定，为了保护您的人身及财产安全，我们特别提醒您不要通过公共网络，向我们或任何以我们名义为您提供服务的第三方，提供您的财产状况、健康生理、账户密码或验证码、个人轨迹、通信内容等信息。</p>
			</section>
			<p>特别提示：本《阿仕特朗资本管理有限公司隐私政策》将于发布之日正式生效，除非阿仕特朗资本管理有限公司平台根据相关法律法规及平台运营对本疑似政策作出调整并发布新的隐私政策，否则本隐私政策一直有效。</p>
		</view>
	</div>
</template>

<script>
</script>

<style scoped>
	.containers {
		padding: 40rpx;
	}

	h1 {
		line-height: 80px;
		text-align: center;
		font-size: 50rpx;
	}

	h3 {
		/* line-height: 60px; */
		margin: 60rpx 0 30rpx 0;
	}

	p {
		line-height: 24px;
		font-size: 14px;
		color: #333;
		text-indent: 2em;
	}

	.yinyan p {
		text-align: left;
		text-indent: 0;
	}
</style>
