<template>
	<view class="page-view pr30 pl30">
		<navbar>
			<template slot='left'>
				<!-- <u-icon name='close' color='#fff'></u-icon> -->
			</template>
		</navbar>

		<view class="login-view">
			<view class="login">

				<view class="input flex-r">
					<view class="content flex-r">
						<image src="@/static/login/ipt-tel.png" mode="aspectFit"></image>
						<input type="text" v-model="phone" placeholder="请输入11位手机号码" placeholder-style="color:#836030">
					</view>
				</view>

				<view class="input flex-r">
					<view class="content flex-r">
						<input type="text" v-model="code" placeholder="请输入验证码" placeholder-style="color:#836030">
					</view>
					<view class="right-content">
						<view class="code-btn" @click="sendsms" v-if="codeShow">
							获取验证码
						</view>
						<view class="code-btn" v-if="!codeShow">
							{{count}}秒后重试
						</view>
					</view>
				</view>

				<view class="input flex-r">
					<view class="content flex-r">
						<image src="@/static/login/ipt-pwd.png" mode="aspectFit"></image>
						<input type="password" v-if='iptpassword' v-model="password" placeholder="请输入密码"
							placeholder-style="color:#836030">
						<input type="text" v-else v-model="password" placeholder="请输入密码"
							placeholder-style="color:#836030">
					</view>
					<view class="right-content">
						<image src="@/static/login/yanjing.png" v-if='iptpassword' mode="aspectFit"
							@click="iptpassword=false"></image>
						<image src="@/static/login/biyanjing.png" v-else mode="aspectFit" @click="iptpassword=true">
						</image>
					</view>
				</view>

				<view class="input flex-r">
					<view class="content flex-r">
						<image src="@/static/login/ipt-pwd2.png" mode="aspectFit"></image>
						<input type="password" v-if='surepassword' v-model="newPwd" placeholder="请输入密码"
							placeholder-style="color:#836030">
						<input type="text" v-else v-model="newPwd" placeholder="请输入密码"
							placeholder-style="color:#836030">
					</view>
					<view class="right-content">
						<image src="@/static/login/yanjing.png" v-if='surepassword' mode="aspectFit"
							@click="surepassword=false"></image>
						<image src="@/static/login/biyanjing.png" v-else mode="aspectFit" @click="surepassword=true">
						</image>
					</view>
				</view>

				<view class="input flex-r">
					<view class="content flex-r">
						<image src="@/static/login/icon_password.png" mode="aspectFit"></image>
						<input type="password" v-model="paymentword" v-if='paypassword' maxlength="6"
							placeholder="请输入支付密码" placeholder-style="color:#836030">
						<input type="text" v-model="paymentword" v-else maxlength="6" placeholder="请输入支付密码"
							placeholder-style="color:#836030">
					</view>
					<view class="right-content">
						<image src="@/static/login/yanjing.png" v-if='paypassword' mode="aspectFit"
							@click="paypassword=false"></image>
						<image src="@/static/login/biyanjing.png" v-else mode="aspectFit" @click="paypassword=true">
						</image>
					</view>
				</view>

				<view class="input flex-r">
					<view class="content flex-r">
						<image src="@/static/login/yaoqingma.png" mode="aspectFit"></image>
						<input type="text" v-model="yaoqingren" placeholder="请输入邀请码" placeholder-style="color:#836030">
					</view>
				</view>

				<view class="yinsi flex-r">
					<image v-if='xieyi' @click='xieyi=false' src='@/static/login/radio-select.png' mode='aspectFit' />
					<image v-else @click='xieyi=true' src='@/static/login/radio.png' mode='aspectFit' />
					已阅读并同意<text @click="getyinsi">《用户协议》</text>与<text @click="getyinsi">《隐私协议》</text>
				</view>
			</view>
		</view>

		<view class="register-view mt30">
			<view class="" @click="$jump('/pages/login')">
				<text>已有账号, 立即登录</text>
			</view>
		</view>

		<view class="loginbtn-view">
			<view class="btn" @click="register">
				立即注册
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				paypassword: true,
				iptpassword: true,
				surepassword: true,
				phone: '',
				password: '',
				newPwd: '',
				code: '',
				username: '',
				yaoqingren: '',
				paymentword: '',
				codeShow: true,
				count: '',
				timer: null,
				duanxin: true,
				xieyi: true
			}
		},

		methods: {
			getyinsi() {
				uni.navigateTo({
					url: '/pages/Privacy'
				})
			},


			async sendsms() {
				if (this.phone == '') {
					uni.$u.toast("请输入手机号")
				}
				var data = {
					tel: this.phone
				}
				let res = await uni.$u.http.post('api/publics/sendsms', data)
				if (res.status == 0) {
					uni.$u.toast(res.msg)
					const TIME_COUNT = 60;
					if (!this.timer) {
						this.count = TIME_COUNT;
						this.codeShow = false;
						this.timer = setInterval(() => {
							if (this.count > 0 && this.count <= TIME_COUNT) {
								this.count--;
							} else {
								this.codeShow = true;
								clearInterval(this.timer);
								this.timer = null;
							}
						}, 1000)
					}

				} else {
					uni.$u.toast(res.msg)
				}
			},
			async register() {
				if (!this.xieyi) {
					uni.$u.toast('请勾选用户协议和隐私协议')
					return
				}
				if (this.phone == '') {
					uni.$u.toast("请输入手机号")
				} else
				if (this.password == '') {
					uni.$u.toast("请输入密码")
				} else
				if (this.password != this.newPwd) {
					uni.$u.toast("输入密码不一致")
				} else
				if (this.paymentword == '') {
					uni.$u.toast("请输入支付密码")
				} else
				if (this.yaoqingren == '') {
					uni.$u.toast("请输入邀请码")
				} else
				if (this.code == '') {
					uni.$u.toast("请输入验证码")
				} else {
					var data = {
						phone: this.phone,
						password: this.password,
						paypwd: this.paymentword,
						code: this.code,
						username: this.phone,
						yaoqingren: this.yaoqingren,
						// client_id: '12341654654165'
					}
					// // #ifdef APP-PLUS
					// data.client_id = uni.getStorageSync('clientid')
					// // #endif
					let res = await uni.$u.http.post('/api/publics/register', data)

					if (res.status == 0) {
						uni.$u.toast(res.msg)
						// uni.setStorageSync('localLoginData', res);
						uni.setStorageSync("xtoken", res.xtoken)
						uni.setStorageSync('token', res.xtoken);
						setTimeout(() => {
							uni.switchTab({
								url: "./index"
							})
						}, 2000)

					} else {
						uni.$u.toast(res.msg)
					}
				}

			},
		}
	}
</script>

<style scoped lang="scss">
	view {
		box-sizing: border-box;
	}

	.page-view {
		width: 100%;
		height: 100vh;
		background: url('@/static/login/bg.png');
		background-size: 100% 100%;
		padding-top: 170rpx;
	}

	.login-view {
		width: 674rpx;
		height: 836rpx;
		margin: 0 auto;

		.login {
			width: 100%;
			height: 100%;
			background-image: url('@/static/login/formbg.png');
			background-size: 100% 100%;
			padding: 36rpx 44rpx 60rpx;


			.input {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid rgba(131, 96, 48, .2);
				height: 106rpx;

				input {
					color: #836030;
				}

				.content {
					align-items: center;
					flex-shrink: 1;
					flex: 1 1 300rpx;

					image {
						margin-right: 16rpx;
					}

					.inp {
						flex: 1;
					}
				}

				.right-content {
					flex: 0 1 auto;

					.code-btn {
						font-size: 24rpx;
						background: #D3B184;
						color: #FFFFFF;
						padding: 20rpx 28rpx;
						border-radius: 12rpx;
					}
				}

				image {
					min-width: 32rpx;
					max-width: 32rpx;
					height: 40rpx;
				}
			}

			.pwd {
				justify-content: space-between;

				image {
					width: 24rpx;
					height: 24rpx;
					vertical-align: middle;
				}
			}

			.yinsi {
				margin-top: 54rpx;
				align-items: center;
				color: #AF844B;

				text {
					color: #865718;
				}

				image {
					width: 30rpx;
					height: 30rpx;
					margin-right: 10rpx;
					vertical-align: middle;
				}
			}
		}
	}

	.register-view {
		color: #fff;
		width: 100%;
		text-align: center;
		margin-top: 46rpx;
		font-size: 24rpx;
		color: #DBB584;
	}

	.loginbtn-view {
		width: 676rpx;
		margin: 52rpx auto 0;
		height: 114rpx;
		background: url('@/static/login/btnbg.png');
		background-size: 100%;

		.btn {
			width: 100%;
			height: 100%;
			font-size: 36rpx;
			font-weight: bold;
			color: #836030;
			text-align: center;
			line-height: 114rpx;
		}
	}
</style>
