<template>
	<view>
		<!--  #ifdef  APP-PLUS -->
		<view class="" v-if="webviewshow">
			<web-view :update-title="false" :src="kfurl" :webview-styles="webviewstyles1"></web-view>
		</view>
		<!-- #endif -->
		<!--  #ifdef H5 -->
		<web-view :update-title="false" :src="kfurl"></web-view>
		<view class="jiazaizhong" v-if="!webviewshow">
			连接客服中，当前访客较多，请耐心等待......
		</view>
		<!-- #endif -->
	</view>
</template>

<script>
	export default {
		data() {
			return {
				src: '',
				kfurl: '',
				kfurl1: '',
				webviewshow: false,
				webviewstyles1: {
				    progress: true
				},
			}
		},
		onLoad: function(option) {
			this.kfurl1 = option.kfurl
			this.getUser()
			// #ifdef APP-PLUS
			uni.showLoading({
				title:'加载中...'
			})
			// #endif 
			
		},
		methods: {
			async getUser() {
				let res = await uni.$u.http.post('/api/userLc/my')
				this.user = res
				this.kfurl = this.kfurl1 +
					`&metadata={"name":${this.user.bankrealname},"address":${this.user.username},"comment":${this.user.amount}}`
				var that = this
				setTimeout(function() {
					that.webviewshow = true
				}, 1000);
				// #ifdef APP-PLUS
				setTimeout(function() {
					uni.hideLoading({})
				}, 2000);
				// #endif 
			},
			// async Gobaidu(){
			// 	let res = await uni.$u.http.get('/api/index/getConfig?keyname=homeCustomerService')
			// 	this.src = res
			// }
		}
	}
</script>

<style scoped>
	.jiazaizhong {
		position: fixed;
		background: rgba(0, 0, 0, .4);
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		z-index: 9999999;
	}
</style>
