<template>
	<view class="page-view">
		<view class="bg-gradient"></view>
		<view class='container'>
			<y-tabs v-model="activeTab" animated swipeable swipeAnimated :isLazyRender="false" type="button"
				:ellipsis="false">
				<y-tab v-for="(item, index) in tabList" :title="item" :key="index">
					<scroll-view class="scroll-wrap" scroll-y @scrolltolower='scrolltolower' lower-threshold='1px'>
						<view>
							<view class="content2" v-if='activeTab == 2'>
								<u-empty v-if='!articles.length' icon="http://cdn.uviewui.com/uview/empty/car.png" />
								<view class="list ">
									<view class="list_item flex-r" v-for="(item,index) in articles"
										@click="goByPath('/pages/index_tab/newDetail',{myDetail : item})">
										<view class="pic">
											<image alt='图片缺失' :src="$imgUrl(item.image)"></image>
										</view>
										<view class="text">
											<view class="title">
												<view class="circle"></view>
												<view class="titleZx">
													{{item.title}}
												</view>
											</view>
											<view class="related">
												{{item.created_at}}
											</view>
										</view>
									</view>
								</view>
								<u-loadmore v-if='articles.length' :status="listLoad2.status"
									:loading-text="listLoad2.loadingText" :loadmore-text="listLoad2.loadmoreText"
									:nomore-text="listLoad2.nomoreText" />
							</view>
							<view class="content1" v-if='activeTab == 1'>
								<u-empty v-if='!news.length' icon="http://cdn.uviewui.com/uview/empty/car.png" />
								<view class="list">
									<view class="list_item flex-r" v-for="(item,index) in news"
										@click="goByPath('/pages/index_tab/newDetail',{myDetail : item})">
										<view class="text">
											<view class="title">
												<view class="titleZx">
													{{item.title}}
												</view>
											</view>
											<view class="related">
												{{item.created_at}}
											</view>
										</view>
										<view class="pic">
											<image alt='图片缺失' :src="$imgUrl(item.image)" mode='aspectFill'></image>
										</view>
									</view>
								</view>
								<u-loadmore v-if='news.length' :status="listLoad1.status"
									:loading-text="listLoad1.loadingText" :loadmore-text="listLoad1.loadmoreText"
									:nomore-text="listLoad1.nomoreText" />
							</view>
							<view class="content" v-if='activeTab == 0'>
								<cellGroup :cellGroup="cellGroup" @clickHandler="clickHandler"></cellGroup>
							</view>
						</view>
					</scroll-view>
				</y-tab>
			</y-tabs>
		</view>
	</view>
</template>

<script>
	import cellGroup from '@/components/zy-cellGroup/cellGroup.vue'
	export default {
		components: {
			cellGroup,
		},
		data() {
			return {
				tabList: ['关于我们', '公告', '资讯'],
				activeTab: 0,
				cellGroup: [],
				articles: [],
				articlesLen: 0,
				news: [],
				newsLen: 0,
				newsImgList: [],
				imgList: [],
				pageSize: 10,
				page: 1,

				listLoad1: {
					status: '',
					loadingText: '努力加载中',
					loadmoreText: '轻轻上拉',
					nomoreText: '实在没有了',
				},
				listLoad2: {
					status: '',
					loadingText: '努力加载中',
					loadmoreText: '轻轻上拉',
					nomoreText: '实在没有了',
				},
			}
		},
		watch: {
			activeTab() {
				if (this.activeTab == 2) {
					this.articles = [];
					this.page = 1;
					this.listLoad2.status = 'loading'
					this.$nextTick(() => {
						this.getArticles()
					})
				} else if (this.activeTab == 1) {
					this.news = [];
					this.page = 1;
					this.listLoad1.status = 'loading'
					this.$nextTick(() => {
						this.getNews()
					})
				}
			}
		},
		onShow() {
			this.cellGroup = uni.getStorageSync('cellGroup')
			this.getList()
		},

		methods: {
			clickHandler() {

			},
			scrolltolower() {
				this.page++
				if (this.activeTab == 2) {
					this.getArticles()
				} else if (this.activeTab == 1) {
					this.getNews()
				}
			},
			async getList() {
				let res = await uni.$u.http.get('api/index/singlepages')
				// for (var i = 0; i < res.data.list.length; i++) {
				// 	switch (res.data.list[i].name) {
				// 		case "理财攻略":
				// 			res.data.list[i].icon = '../static/about/index/gszz.png'
				// 			break;
				// 		case "公司简介":
				// 			res.data.list[i].icon = '../static/about/index/gsjj.png'
				// 			break;
				// 		case "常见问题":
				// 			res.data.list[i].icon = '../static/about/index/cjwt.png'
				// 			break;
				// 		case "团队等级说明":
				// 			res.data.list[i].icon = '../static/about/index/tddj.png'
				// 			break;
				// 		case "商业模式":
				// 			res.data.list[i].icon = '../static/about/index/syms.png'
				// 			break;
				// 		case "公司资质":
				// 			res.data.list[i].icon = '../static/about/index/gszz.png'
				// 			break;
				// 		case "会员等级说明":
				// 			res.data.list[i].icon = '../static/about/index/hydj.png'
				// 			break;
				// 		default:
				// 			res.data.list[i].icon = '../static/about/index/syms.png'
				// 			break;
				// 	}
				// }
				this.cellGroup = res.data.list
			},

			async getArticles() {
				if (this.listLoad2.status == 'nomore') {
					return
				}
				let res = await uni.$u.http.get('/api/index/articles?pagesize=' + this.pageSize + "&links=news&page=" +
					this.page)
				for (var i = 0; i < res.data.length; i++) {
					this.articles.push(res.data[i])
				}
				if (this.articles.length == res.total) {
					this.listLoad2.status = 'nomore'
				} else {
					this.listLoad2.status = 'loadmore'
				}
			},
			async getNews() {
				console.log(this.listLoad1.status, '===========---------');
				if (this.listLoad1.status == 'nomore') {
					return
				}
				let res = await uni.$u.http.get('/api/index/articles?pagesize=' + this.pageSize +
					"&links=movienews&page=" + this.page)
				for (var i = 0; i < res.data.length; i++) {
					this.news.push(res.data[i])
				}
				if (this.news.length == res.total) {
					console.log(this.news.length, res.total)
					this.listLoad1.status = 'nomore'
				} else {
					this.listLoad1.status = 'loadmore'
				}
			}
		}
	}
</script>

<style scoped lang="scss">
	.page-view {
		background-color: #fff;
		overflow: hidden;
		padding-top: 320rpx;
	}

	.bg-gradient {
		position: fixed;
		/*  #ifdef  H5  */
		top: 40px;
		/*  #endif  */
		/*  #ifndef  H5  */
		top: 0;
		/*  #endif  */

		left: 0;
		right: 0;
		height: 500rpx;
		background: url('../static/about/index/banner.png');
		background-size: 100% 100%;
	}

	.container {
		display: flex;
		flex-direction: column;
		padding-bottom: 20rpx;
		border-top-left-radius: 30rpx;
		border-top-right-radius: 30rpx;
		overflow: hidden;
		width: 700rpx;
		margin: 0 auto 0;
		/*  #ifdef  H5  */
		height: calc(100vh - 44px - env(safe-area-inset-top) - 50px - env(safe-area-inset-bottom) - 320rpx);
		/*  #endif  */
		/*  #ifndef  H5  */
		height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 320rpx);
		/*  #endif  */

		/deep/ .yui-tabs__wrap {
			background: #fff;
			height: 80rpx;

			.yui-tab {
				background: #fff;
				font-size: 26rpx;
				color: #666;

				.yui-tab__text {
					color: #666;
					font-size: 26rpx;
				}
			}

			.yui-tab--active {
				background: #fff;

				.yui-tab__text {
					color: #000;
					font-weight: 900;
				}
			}
		}

		/deep/ scroll-view {
			background: #fff;
		}

		.scroll-wrap {
			/*  #ifdef  H5  */
			height: calc(100vh - 44px - env(safe-area-inset-top) - 50px - env(safe-area-inset-bottom) - 400rpx);
			/*  #endif  */
			/*  #ifndef  H5  */
			height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 400rpx);
			/*  #endif  */
		}

		.content1 {
			padding-bottom: 60rpx;

			.list {
				.list_item {
					justify-content: space-between;
					align-items: center;
					width: 90%;
					margin: 0 auto;
					height: 264rpx;
					border-bottom: 1px solid #eee;

					.text {
						flex: 1;
						padding-right: 26rpx;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						height: 170rpx;

						.title {
							font-size: 30rpx;
							font-weight: bold;
							color: #373737;
							padding-right: 20rpx;

							.titleZx {
								line-height: 40rpx;
							}
						}
					}

					.pic {
						flex: 0 1 270rpx;
						height: 170rpx;
						overflow: hidden;
						border-radius: 20rpx;
						background: #eee;

						image {
							width: 270rpx;
							height: 170rpx;
						}
					}
				}
			}
		}

		.content2 {
			padding-bottom: 60rpx;

			.list {
				.list_item {
					justify-content: space-between;
					align-items: center;
					width: 90%;
					margin: 0 auto;
					height: 264rpx;
					border-bottom: 1px solid #eee;

					.text {
						flex: 1;
						margin-leftt: 26rpx;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						height: 150rpx;

						.title {
							font-size: 30rpx;
							font-weight: bold;
							color: #373737;
							padding-right: 20rpx;

							.titleZx {
								line-height: 40rpx;
							}
						}

						.related {
							font-size: 24rpx;
							color: #373737;
						}
					}

					.pic {
						flex: 0 1 190rpx;
						height: 170rpx;
						overflow: hidden;
						border-radius: 20rpx;
						margin-right: 30rpx;

						image {
							width: 190rpx;
							height: 170rpx;
						}
					}
				}
			}
		}

	}
</style>
