<template>
	<view v-if="">
		<u-parse :content="article" @preview="preview" @navigate="navigate"></u-parse>
	</view>
</template>

<script>
	import uParse from '@/components/u-parse/u-parse.vue'

	export default {
		components: {
			uParse
		},
		data() {
			return {
				data: {},
				article: ''
			}
		},
		onLoad(option) {
			console.log(option)
			var params = JSON.parse(option.params)
			this.data = params.myDetail
			this.article = this.data.ccontent
			uni.setStorageSync('companyInfo', this.data.ccontent);
			uni.setNavigationBarTitle({
				title: this.data.name
			})
		},
		onShow() {
			this.article = uni.getStorageSync('companyInfo')
		},
		methods: {
			preview(src, e) {
				// do something
			},
			navigate(href, e) {
				// do something
			}
		}
	}
</script>

<style>
	.title {
		text-align: center;
		font-size: 50rpx;
		margin: 40rpx 100rpx 80rpx;
	}
</style>
