<template>
	<view class="root">
		<uni-im-list v-if="msgList.length" class="uni-im-list" @scroll="onScroll" :style="{'height':listHeight}"
			:scrollTop="scrollTop" :scroll-into-view="scrollIntoView" :paddingBottom="paddingBottom" ref="uni-im-list">
				<uni-im-list-item v-for="(msg,index) in msgList" :key="msg._id" :ref="'item-'+index">
					<view class="item" :id="'item-'+index">
						<view v-if="index === 0" class="data-state-tip-box" @appear="loadMore">
							<template v-if="isSafariPc">
								<button v-if="hasMore" class="loadMore-btn" @click="loadMore">点击加载更多</button>
								<text v-else class="data-state-tip-text">没有更多历史消息</text>
							</template>
							<template v-else>
								<!-- vue2下小程序端 加载状态如果使用组件会有 滚动锚定问题 其他端可以使用 uni-load-more -->
								<uni-icons v-if="hasMore" size="25px" color="#ccc" type="spinner-cycle"
									class="data-state-tip-icon"></uni-icons>
								<text class="data-state-tip-text">{{hasMore ? '正在加载历史消息' : '没有更多历史消息' }}</text>
							</template>
						</view>
						<view v-if="msg.type == 'system'" class="system-msg-box">
							<text class="system-msg">{{msg.body}} </text>
						</view>
						<view v-else class="msg-box" :class="{'active-index':index === activeIndex}">
							<!-- <text style="width: 750rpx;text-align: center;border: 1px solid #000;">{{'item-'+index}}</text> -->
							<uni-im-format-time :index="index" :msgList="msgList"></uni-im-format-time>
							<uni-im-msg @showMsgById="showMsgById" :msg="msg" :self="current_uid == msg.from_uid" :index="index"
								@showControl="showControl" @retriesSendMsg="retriesSendMsg"
								:avatar_file="conversation.avatar_file" ref="uni-im-msg" class="uni-im-msg">
							</uni-im-msg>
						</view>
					</view>
				</uni-im-list-item>
		</uni-im-list>
		<uni-load-more v-if="msgList.length == 0" :status="hasMore?'loading':'noMore'" class="mg-15"
			:contentText='{"contentrefresh": "加载中","contentnomore": "- 没有聊天记录 -"}'></uni-load-more>
		
		<!-- <view class="slider-box">
			val:{{val}} scrollTop:{{scrollTop}}
			<slider value="1" @change="sliderChange" min="1" max="14" step="1" />
		</view> -->
		
		<!-- <view style="position: fixed;top: 100px;width: 400rpx;">
			paddingBottom：{{paddingBottom}}
			scrollTop：{{scrollTop}}
			msgList.length:{{msgList.length}}
			this.loadMore.lock：{{loadMore.lock}}
			scrollIntoView:{{scrollIntoView}}
			<input type="text" v-model="nextScrollIntoView" placeholder="nextScrollIntoView">
			<button @click="showLast">showLast</button>
		</view> -->
		<view v-if="call_list.length" style="position: fixed;right: 5px;top: 200px;">
			<button @click="showCallMe">回复我的</button>
			
			<button @click="showLast">showLast</button>
		</view>
	</view>
</template>

<script>
	import {
		uniImState,
		uniImMethods,
		mapUniImState
	} from '@/uni_modules/uni-im/store/store';
	import {
		store as uniIdStore
	} from '@/uni_modules/uni-id-pages/common/store';

	import uniImList from './components/uni-im-list/uni-im-list';
	import uniImListItem from './components/uni-im-list-item/uni-im-list-item';

	// 递归loadMore计数，防止死循环
	let loadMoreIndex = 0
	// 一页多少条数据
	let pageLimit = 10
	// 当前页面滚动条高度
	let currentScrollTop = 0

	// #ifdef APP-NVUE
	const nativePluginDom = uni.requireNativePlugin('dom')
	// #endif
	export default {
		components: {
			uniImList,
			uniImListItem
		},
		computed: {
			...mapUniImState(['systemInfo', 'isWidescreen', 'heartbeat']),
			loadState() {
				return this.hasMore ? '正在加载历史消息' : '没有更多历史消息'
			},
			//当前用户自己的uid
			current_uid() {
				return uniIdStore.userInfo._id;
			},
			msgList() {
				return this.conversation.msgList || []
			},
			isSafariPc() {
				// #ifdef H5
				return this.systemInfo.browserName == 'safari' && this.isWidescreen
				// #endif
				return false
			},
			listHeight(){
				// #ifdef APP-NVUE
					// console.log("this.systemInfo.windowHeight - parseInt(paddingBottom) +'px'",this.systemInfo.windowHeight - parseInt(this.paddingBottom) - 25 +'px')
				return this.systemInfo.windowHeight - parseInt(this.paddingBottom) - 83 +'px';
				// #endif
				return 'auto'
			}
		},
		data() {
			return {
				val: 0,
				conversation: {},
				scrollIntoView: '',
				nextScrollIntoView: '11',
				scrollTop: 0,
				hasMore: true,
				tasksList: [],
				call_list:[],
				activeIndex:''
			}
		},
		watch: {
			'conversation.call_list'(call_list) {
				this.call_list = call_list
			}
		},
		props: {
			paddingBottom: {
				default: ''
			},
			conversationId: {
				default () {
					return false
				}
			}
		},
		async mounted() {
			// for (var i = 0; i < 10; i++) {
			// 	this.msgList.unshift({
			// 		t:i
			// 	})
			// }
		},
		methods: {
			async showCallMe(){
				let msgId = this.conversation.call_list.pop()
				console.log('msgId',msgId)
				this.showMsgById(msgId)
			},
			async showViewByIndex(index,duration=300){
				if(index == -1){
					return
				}
				// #ifdef APP-NVUE
				let target = this.$refs['item-'+index][0];
				// console.log('滚动到最后一个', duration, target);
				nativePluginDom.scrollToElement(target, {
					// animated: duration != 0,
					// offset: 999
				});
				// #endif
				
				// #ifndef APP-NVUE
				const query = uni.createSelectorQuery().in(this);
				let listHeight = this.systemInfo.windowHeight
				// #ifdef H5
				if(uniImState.isWidescreen){
					listHeight = document.querySelector('.uni-im-list uni-scroll-view').clientHeight
					// console.log('listHeight',listHeight)
				}else{
					listHeight -= 44
				}
				// #endif
				
				query.select('#item-'+index).boundingClientRect(data => {
					let val = currentScrollTop - listHeight + data.top + data.height + parseInt(this.paddingBottom)
					if(val < 0){
						val = 0
					}
					this.scrollTop = val
					setTimeout(()=> {
						this.scrollTop = currentScrollTop
					}, 10);
				}).exec()
				// #endif
			},
			async sliderChange(e){
				let index = e.detail.value
				console.log(index)
				this.val = index
				this.showViewByIndex(index)
			},
			async init() {
				this.conversation = await uniImMethods.conversation.get(this.conversationId)
				// await new Promise((callback)=>{
				// 	setTimeout(callback, 1);
				// })
				// init data --start
				this.scrollIntoView = ''
				this.scrollTop = 0
				currentScrollTop = 0
				this.hasMore = true
				this.tasksList = []
				this.loadMore.lock = false
				loadMoreIndex = 0
				// init data --end

				// 判断此会话的数据是否初始化（加载）过
				if (!this.conversation.isInit) {

					await this.loadMore()
					this.tasksList.push(async () => {
						setTimeout(()=>{
							this.showLast(300)
						},1000)
					})
					this.doTasksListBefore()
				} else {

					// 给hasMore赋值
					if (this.msgList.length < pageLimit) {
						// 加载过且少于一页 说明没有更多历史数据，否则先假设有滚动到最后一条，用户再次滚动到顶时会根据接口响应数据重新设定
						this.hasMore = false
					}
					// #ifndef APP-NVUE
					setTimeout(()=>{
						this.showLast(300)
					},1000)
					// #endif
				}
			},
			async loadMore() {
				if (this.loadMore.lock || !this.hasMore) {
					// console.log('this.loadMore.lock，!this.hasMore', this.loadMore.lock,!this.hasMore);
					return []
				}
				this.loadMore.lock = true

				let data = await this.conversation.msgManager.getMore() || [] //空数组避免切换过快引发请求bug
				// console.log('加载到数据：', data);
				this.hasMore = (data.length != 0)
				if (data.length) {
					// return
					// 添加到任务列再执行，解决滚动锚定的问题
					this.tasksList.push(async () => {
						// 重新获取会话对象，防止web pc端 切换太快引起的会话对象指向错误
						let conversation = await uniImMethods.conversation.get(data[0].conversation_id)
						if (this.conversation.isInit) {
							this.conversation.msgList.unshift(...data)
						} else {
							this.conversation.msgList = data
							this.conversation.isInit = true
						}

						this.$nextTick(async () => {
							loadMoreIndex++
							// console.log('loadMoreIndex',loadMoreIndex);
							this.loadMore.lock = false

							if (this.hasMore && this.msgList.length < pageLimit && loadMoreIndex < 3) {
								// console.log('不满一屏时，再loadMore一次');
								await this.loadMore()
								this.tasksList.push(async () => {
									this.showLast(300)
								})
							}
						})
						// console.log('this.loadMore.lock-----',this.loadMore.lock);
					})
					this.doTasksListBefore()
				}
				return data
			},
			doTasksListBefore() {
				// console.log('doTasksListBefore');

				if (this.tasksList.length) {
					// 非APP端有滚动锚定问题，需要先滚动为非0高度再加载

					// #ifndef APP-NVUE
					if (currentScrollTop < 1 && !this.isSafariPc) {
						// console.log('小于1111');
						this.scrollTop = currentScrollTop
						return this.$nextTick(() => {
							this.scrollTop = 1
							currentScrollTop = 1
							setTimeout(() => {
								this.doTasksList()
							}, 300);
						})
					}
					// #endif

					this.doTasksList()
				}
			},
			showMsgById(showMsgById){
				// console.log('showMsgById',showMsgById)
				let index = this.msgList.findIndex(i=>i._id == showMsgById)
				
				this.activeIndex = index
				setTimeout(()=>{
					this.activeIndex = ''
				}, 1000);
				
				this.showViewByIndex(index)
			},
			doTasksList() {
				// console.log('doTasksList', this.tasksList.length);
				this.tasksList.forEach(async fun => await fun())
				this.tasksList = []
			},
			showLast(duration = 300) {
				let mLength = this.msgList.length
				this.showViewByIndex(mLength -1)
			},
			onScroll(e) {
				// #ifdef H5
				// pc 端 safari浏览器有滚动锚定问题走点击加载
				if (this.isSafariPc) {
					return
				}
				// #endif

				currentScrollTop = e.detail.scrollTop
				if (currentScrollTop < 300) {
					this.loadMore()
				}
				debounce(() => {
					this.doTasksListBefore
					setTimeout(() => {
						this.scrollTop = currentScrollTop
						if (currentScrollTop < 300) {
							this.loadMore()
						}
					}, 1500);
				})()
			},
			showControl(e) {
				this.$emit('showControl', e)
			},
			retriesSendMsg(e) {
				this.$emit('retriesSendMsg', e)
			}
		}
	}

	let timers = []

	function debounce(fn, delay) {
		return function() {
			if (timers.length) {
				timers.forEach(timer => clearTimeout(timer))
			}
			let timer = setTimeout(fn, delay);
			timers.push(timer)
		}
	}
</script>

<style lang="scss" scoped>
	.root,
	.uni-im-list {
		/* #ifndef APP-NVUE */
		flex: 1;
		/* #endif */
		background-color: transparent;
	}

	.item {
		margin: 15px 0;
		// border: solid 1px #f40000;
	}

	.mg-15 {
		margin: 15px;
	}

	.data-state-tip-box {
		// height: 35px;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		color: #999999;
	}

	/* #ifndef APP-NVUE */
	.data-state-tip-icon {
		justify-content: center;
		align-items: center;
		display: flex;
		animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	/* #endif */

	.data-state-tip-text {
		height: 36px;
		line-height: 36px;
		font-size: 12px;
		margin: 0 5px;
		color: #999999;
	}

	/* #ifdef H5 */
	.loadMore-btn {
		font-size: 14px;
		color: #666666;
	}

	.loadMore-btn::after {
		display: none;
	}

	/* #endif */

	.system-msg-box {
		margin-bottom: 10px;
		align-items: center;
	}

	.system-msg {
		background-color: #f2f2f2;
		color: #9d9e9d;
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		padding: 0 15rpx;
		border-radius: 8px;
	}
	
	.msg-box{
		transition-property: background-color;
		transition-duration:2s;
	}
	.active-index{
		background-color: #f9f9f9;
	}
	
	
	.slider-box{
		border: 1px solid #000;
		position: fixed;
		width: 750rpx;
		height: 55px;
		top: 60px;
		right: 0;
		z-index: 999;
		background-color: #FFF;
	}
</style>